<div
  class="mt-2.5 flex flex-col gap-6 lg:flex-row"
  [formGroup]="oralExaminationForm">
  <div class="flex flex-col gap-4 lg:w-1/2">
    <!-- Limited mouth opening -->
    <div
      class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="limitedMouthOpening">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.oral
            ?.limitedmouthopening
        }}
      </label>
      <z-select
        id="limitedMouthOpening"
        name="limitedMouthOpening"
        class="w-full sm:w-64"
        formControlName="limitedMouthOpening"
        [zPlaceholder]="currentLanguageSet?.common?.select || ''">
        <z-select-item zValue="none">None</z-select-item>
        <z-select-item zValue="+">+</z-select-item>
        <z-select-item zValue="++">++</z-select-item>
        <z-select-item zValue="+++">+++</z-select-item>
      </z-select>
    </div>

    <!-- Pre-malignant lesions -->
    <div
      class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="premalignantLesions">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.oral
            ?.premalignantLesions
        }}
      </label>
      <z-radio-group
        name="premalignantLesions"
        id="premalignantLesions"
        formControlName="premalignantLesions"
        zOrientation="horizontal"
        class="gap-6"
        (zChange)="checkWithPremalignantLesion()">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Type of pre-malignant lesions -->
    <div
      *ngIf="premalignantLesions && premalignantLesions.value"
      class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="preMalignantLesionTypeList">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.oral
            ?.typeofPremalignantLesions
        }}
      </label>
      <z-select
        id="preMalignantLesionTypeList"
        name="preMalignantLesionTypeList"
        class="w-full sm:w-64"
        [zMultiple]="true"
        formControlName="preMalignantLesionTypeList"
        [zPlaceholder]="currentLanguageSet?.common?.select || ''">
        <z-select-item zValue="Leukoplakia">Leukoplakia</z-select-item>
        <z-select-item zValue="Sub muscus fibrosis"
          >Sub muscus fibrosis</z-select-item
        >
        <z-select-item zValue="Melanoplakia">Melanoplakia</z-select-item>
        <z-select-item zValue="Erythroplakia">Erythroplakia</z-select-item>
        <z-select-item zValue="Non healing mouth ulcer(>2 weeks)"
          >Non healing mouth ulcer(&gt;2 weeks)</z-select-item
        >
        <z-select-item zValue="Any other lesion">Any other lesion</z-select-item>
      </z-select>
    </div>

    <!-- Other lesion -->
    <div
      *ngIf="premalignantLesions && premalignantLesions.value && showOther"
      class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="otherLesionType">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.oral
            ?.otherlesion
        }}
      </label>
      <z-form-field class="w-full sm:w-64">
        <z-form-control>
          <input
            z-input
            autocomplete="off"
            allowText="textAreaValidator"
            defaultNull
            maxlength="50"
            name="otherLesionType"
            id="otherLesionType"
            formControlName="otherLesionType" />
        </z-form-control>
      </z-form-field>
    </div>

    <!-- Prolonged irritation -->
    <div
      class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="prolongedIrritation">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.oral
            ?.prolongedirritation
        }}
      </label>
      <z-radio-group
        name="prolongedIrritation"
        id="prolongedIrritation"
        formControlName="prolongedIrritation"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Chronic burning sensation -->
    <div
      class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="chronicBurningSensation">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.oral
            ?.chronicburningsensation
        }}
      </label>
      <z-radio-group
        name="chronicBurningSensation"
        id="chronicBurningSensation"
        formControlName="chronicBurningSensation"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>
  </div>

  <div class="flex flex-col items-center gap-2 lg:w-1/2">
    <small class="text-muted-foreground">{{
      currentLanguageSet?.common?.kindlyMark
    }}</small>
    <!-- eslint-disable-next-line  @angular-eslint/template/click-events-have-key-events -->
    <a
      (click)="annotateImage()"
      tabindex="{0}"
      id="annotateOralImg"
      class="cursor-pointer"
      ><img
        #mouthImage
        src="assets/images/oralExamination.png"
        alt="oral examination"
        class="mt-1 h-52 w-52"
    /></a>
  </div>

  <div class="w-full">
    <z-form-field>
      <label z-form-label for="observation">{{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.abdominal?.observation
      }}</label>
      <z-form-control>
        <textarea
          z-input
          id="observation"
          allowText="textAreaValidator"
          defaultNull
          rows="3"
          maxlength="500"
          name="observation"
          formControlName="observation"></textarea>
      </z-form-control>
    </z-form-field>
  </div>
</div>
