<div
  class="mt-4 grid grid-cols-1 gap-6 lg:grid-cols-12"
  [formGroup]="gynecologicalExaminationForm">
  <div class="flex flex-col gap-5 lg:col-span-7">
    <!-- Appearance of cervix under acetic acid -->
    <div class="grid grid-cols-1 items-center gap-2 sm:grid-cols-2">
      <label z-form-label for="appearanceOfCervix">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.gynecological?.appearanceunderAceticAcid
        }}
      </label>
      <z-select
        id="appearanceOfCervix"
        class="w-full"
        name="appearanceOfCervix"
        formControlName="appearanceOfCervix"
        [zPlaceholder]="currentLanguageSet?.common?.select || ''">
        <z-select-item zValue="Negative">Negative</z-select-item>
        <z-select-item zValue="Positive">Positive</z-select-item>
        <z-select-item zValue="Suspect">Suspect</z-select-item>
      </z-select>
    </div>

    <!-- Type of lesion (multi) -->
    <div class="grid grid-cols-1 items-center gap-2 sm:grid-cols-2">
      <label z-form-label for="typeOfLesionList">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.gynecological?.typeoflesion
        }}
      </label>
      <z-select
        id="typeOfLesionList"
        class="w-full"
        name="typeOfLesionList"
        [zMultiple]="true"
        formControlName="typeOfLesionList"
        [zPlaceholder]="currentLanguageSet?.common?.select || ''">
        <z-select-item zValue="Proliferative">Proliferative</z-select-item>
        <z-select-item zValue="Ulcerative">Ulcerative</z-select-item>
        <z-select-item zValue="Infiltrative">Infiltrative</z-select-item>
      </z-select>
    </div>

    <!-- Vulval involvement -->
    <div class="grid grid-cols-1 items-center gap-2 sm:grid-cols-2">
      <label z-form-label for="vulvalInvolvement">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.gynecological?.vulvalInvolvement
        }}
      </label>
      <z-radio-group
        id="vulvalInvolvement"
        name="vulvalInvolvement"
        formControlName="vulvalInvolvement"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{
          currentLanguageSet?.common?.involved
        }}</z-radio>
        <z-radio [value]="false">{{
          currentLanguageSet?.common?.notInvolved
        }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Vaginal involvement -->
    <div class="grid grid-cols-1 items-center gap-2 sm:grid-cols-2">
      <label z-form-label for="vaginalInvolvement">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.gynecological?.vaginalInvolvement
        }}
      </label>
      <z-radio-group
        id="vaginalInvolvement"
        name="vaginalInvolvement"
        formControlName="vaginalInvolvement"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{
          currentLanguageSet?.common?.involved
        }}</z-radio>
        <z-radio [value]="false">{{
          currentLanguageSet?.common?.notInvolved
        }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Uterus -->
    <div class="grid grid-cols-1 items-center gap-2 sm:grid-cols-2">
      <label z-form-label for="uterus_Normal">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.gynecological?.uterus
        }}
      </label>
      <z-radio-group
        id="uterus_Normal"
        name="uterus_Normal"
        formControlName="uterus_Normal"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{
          currentLanguageSet?.common?.normal
        }}</z-radio>
        <z-radio [value]="false">{{
          currentLanguageSet?.common?.enlarged
        }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Suffered from any RTI/STI -->
    <div class="grid grid-cols-1 items-center gap-2 sm:grid-cols-2">
      <label z-form-label for="sufferedFromRTIOrSTI">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.gynecological?.sufferedfromanyRTI
        }}
      </label>
      <z-radio-group
        id="sufferedFromRTIOrSTI"
        name="sufferedFromRTIOrSTI"
        formControlName="sufferedFromRTIOrSTI"
        zOrientation="horizontal"
        class="gap-6"
        (zChange)="checkWithRTIOrSTI()">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <!-- RTI/STI detail -->
    <div
      class="grid grid-cols-1 items-center gap-2 sm:grid-cols-2"
      *ngIf="sufferedFromRTIOrSTI && sufferedFromRTIOrSTI.value">
      <label z-form-label for="rTIOrSTIDetail">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.gynecological?.rTISuffered
        }}
      </label>
      <z-form-field class="w-full">
        <z-form-control>
          <input
            z-input
            class="w-full"
            autocomplete="off"
            allowText="textAreaValidator"
            defaultNull
            maxlength="100"
            name="rTIOrSTIDetail"
            id="rTIOrSTIDetail"
            [placeholder]="
              currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                ?.gynecological?.specify
            "
            formControlName="rTIOrSTIDetail" />
        </z-form-control>
      </z-form-field>
    </div>

    <!-- File upload -->
    <div
      class="flex flex-col gap-4"
      *ngIf="sufferedFromRTIOrSTI && sufferedFromRTIOrSTI.value">
      <div class="flex flex-wrap items-center justify-between gap-3">
        <div class="flex flex-wrap items-center gap-3">
          <button z-button zType="outline" type="button" (click)="triggerLog($event)">
            {{ currentLanguageSet?.nurseData?.visitDetailsForm?.selectFile }}
          </button>
          <input
            class="sr-only"
            autocomplete="off"
            type="file"
            id="files"
            multiple
            (change)="uploadFile($event)" />
          <button
            z-button
            zType="outline"
            type="button"
            [disabled]="!viewFiles?.length"
            (click)="viewNurseSelectedFiles()">
            {{ currentLanguageSet?.nurseData?.visitDetailsForm?.viewFiles }}
          </button>
        </div>
        <button
          z-button
          type="button"
          (click)="checkForDuplicateUpload()"
          [disabled]="!fileData.length">
          {{ currentLanguageSet?.common?.upload || 'Upload' }}
        </button>
      </div>

      <!-- Selected file chips -->
      <div class="flex flex-wrap gap-2" *ngIf="fileData?.length">
        <span
          *ngFor="let file of fileData; let i = index"
          class="inline-flex items-center gap-1 rounded-md border border-border bg-muted py-1 pl-3 pr-1 text-sm text-foreground">
          {{ file.fileName }}
          <button
            z-button
            zType="ghost"
            zSize="icon-sm"
            type="button"
            class="p-0"
            aria-label="Remove file"
            (click)="removeFile(i)">
            <ng-icon name="lucideX"></ng-icon>
          </button>
        </span>
      </div>
    </div>

    <!-- Experienced post-coital bleeding -->
    <div class="grid grid-cols-1 items-center gap-2 sm:grid-cols-2">
      <label z-form-label for="experiencedPostCoitalBleeding">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.gynecological?.experiencedPostcoitalbleeding
        }}
      </label>
      <z-radio-group
        id="experiencedPostCoitalBleeding"
        name="experiencedPostCoitalBleeding"
        formControlName="experiencedPostCoitalBleeding"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>
  </div>

  <!-- Annotate image -->
  <div class="lg:col-span-5">
    <div class="flex flex-col items-center gap-2 text-center">
      <small class="text-muted-foreground">{{
        currentLanguageSet?.common?.kindlyMark
      }}</small>
      <!-- eslint-disable-next-line  @angular-eslint/template/click-events-have-key-events -->
      <a
        (click)="annotateImage()"
        tabindex="0"
        id="annotateGynecologicalImg"
        class="cursor-pointer">
        <img
          #gynaecologicalImage
          class="mx-auto mt-1 h-[200px] w-[200px] max-w-full"
          src="assets/images/gynecologicalExamination.png"
          alt="Gynaecological Examination" />
      </a>
    </div>
  </div>

  <!-- Observation -->
  <div class="lg:col-span-12">
    <z-form-field class="w-full">
      <label z-form-label for="observation">{{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.abdominal?.observation
      }}</label>
      <z-form-control>
        <textarea
          z-input
          id="observation"
          class="min-h-24 w-full"
          allowText="textAreaValidator"
          defaultNull
          maxlength="500"
          name="observation"
          formControlName="observation"></textarea>
      </z-form-control>
    </z-form-field>
  </div>
</div>
