<div [formGroup]="respiratorySystemDataForm" class="flex flex-col gap-6">
  <div class="grid grid-cols-1 gap-x-6 gap-y-4 md:grid-cols-3">
    <!-- Trachea -->
    <z-form-field>
      <label z-form-label for="trachea">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.respiratoryANC_OPD_PNC?.trachea
      }}</label>
      <z-form-control>
        <z-select
          id="trachea"
          class="w-full"
          name="trachea"
          formControlName="trachea"
          (zSelectionChange)="trackFieldInteraction('Trachea Selection')">
          <z-select-item
            *ngFor="let trachea of selectTrachea"
            [zValue]="trachea.name">
            {{ trachea.name }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>

  <!-- Inspection -->
  <z-form-field>
    <label z-form-label for="inspection">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.respiratoryANC_OPD_PNC?.inspection
    }}</label>
    <z-form-control>
      <textarea
        z-input
        class="w-full"
        rows="3"
        allowText="textAreaValidator"
        defaultNull
        name="inspection"
        id="inspection"
        formControlName="inspection"
        maxlength="300"
        (focus)="trackFieldInteraction('Inspection')"></textarea>
    </z-form-control>
  </z-form-field>

  <!-- Signs of respiratory distress -->
  <div class="flex flex-col gap-2">
    <label z-form-label for="signsOfRespiratoryDistress">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.respiratoryANC_OPD_PNC?.signsDistress
    }}</label>
    <z-radio-group
      id="signsOfRespiratoryDistress"
      name="signsOfRespiratoryDistress"
      formControlName="signsOfRespiratoryDistress"
      zOrientation="horizontal"
      class="gap-6"
      (zChange)="trackFieldInteraction('Signs Of Respiratory Distress')">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <!-- Palpation -->
  <z-form-field>
    <label z-form-label for="palpation">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.respiratoryANC_OPD_PNC?.palpation
    }}</label>
    <z-form-control>
      <textarea
        z-input
        class="w-full"
        rows="3"
        allowText="textAreaValidator"
        defaultNull
        name="palpation"
        id="palpation"
        formControlName="palpation"
        maxlength="300"
        (focus)="trackFieldInteraction('Palpation')"></textarea>
    </z-form-control>
  </z-form-field>

  <!-- Auscultation: Breath sounds -->
  <div class="grid grid-cols-1 gap-x-6 gap-y-4 md:grid-cols-3">
    <z-form-field>
      <label z-form-label for="auscultation_BreathSounds">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.respiratoryANC_OPD_PNC?.breathsounds
      }}</label>
      <z-form-control>
        <z-select
          id="auscultation_BreathSounds"
          class="w-full"
          name="auscultation_BreathSounds"
          formControlName="auscultation_BreathSounds"
          (zSelectionChange)="trackFieldInteraction('Breath Sounds Selection')">
          <z-select-item
            *ngFor="let breathSound of selectBreathSounds"
            [zValue]="breathSound.name">
            {{ breathSound.name }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>

  <!-- Auscultation: Present/Absent findings -->
  <div class="grid grid-cols-1 gap-x-6 gap-y-4 md:grid-cols-3">
    <!-- Stridor -->
    <div class="flex flex-col gap-2">
      <label z-form-label for="auscultation_Stridor">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.respiratoryANC_OPD_PNC?.stridor
      }}</label>
      <z-radio-group
        id="auscultation_Stridor"
        name="auscultation_Stridor"
        formControlName="auscultation_Stridor"
        zOrientation="horizontal"
        class="gap-6"
        (zChange)="trackFieldInteraction('Stridor')">
        <z-radio [value]="'Present'">{{
          currentLanguageSet?.common?.present
        }}</z-radio>
        <z-radio [value]="'Absent'">{{
          currentLanguageSet?.common.absent
        }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Crepitations -->
    <div class="flex flex-col gap-2">
      <label z-form-label for="auscultation_Crepitations">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.respiratoryANC_OPD_PNC?.crepitations
      }}</label>
      <z-radio-group
        id="auscultation_Crepitations"
        name="auscultation_Crepitations"
        formControlName="auscultation_Crepitations"
        zOrientation="horizontal"
        class="gap-6"
        (zChange)="trackFieldInteraction('Crepitations')">
        <z-radio [value]="'Present'">{{
          currentLanguageSet?.common?.present
        }}</z-radio>
        <z-radio [value]="'Absent'">{{
          currentLanguageSet?.common?.absent
        }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Wheezing -->
    <div class="flex flex-col gap-2">
      <label z-form-label for="auscultation_Wheezing">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.respiratoryANC_OPD_PNC?.wheezing
      }}</label>
      <z-radio-group
        id="auscultation_Wheezing"
        name="auscultation_Wheezing"
        formControlName="auscultation_Wheezing"
        zOrientation="horizontal"
        class="gap-6"
        (zChange)="trackFieldInteraction('Wheezing')">
        <z-radio [value]="'Present'">{{
          currentLanguageSet?.common?.present
        }}</z-radio>
        <z-radio [value]="'Absent'">{{
          currentLanguageSet?.common?.absent
        }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Pleural rub -->
    <div class="flex flex-col gap-2">
      <label z-form-label for="auscultation_PleuralRub">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.respiratoryANC_OPD_PNC?.pleuralRub
      }}</label>
      <z-radio-group
        id="auscultation_PleuralRub"
        name="auscultation_PleuralRub"
        formControlName="auscultation_PleuralRub"
        zOrientation="horizontal"
        class="gap-6"
        (zChange)="trackFieldInteraction('Pleural Rub')">
        <z-radio [value]="'Present'">{{
          currentLanguageSet?.common?.present
        }}</z-radio>
        <z-radio [value]="'Absent'">{{
          currentLanguageSet?.common?.absent
        }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Conducted sounds -->
    <div class="flex flex-col gap-2">
      <label z-form-label for="auscultation_ConductedSounds">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.respiratoryANC_OPD_PNC?.conductedSounds
      }}</label>
      <z-radio-group
        id="auscultation_ConductedSounds"
        name="auscultation_ConductedSounds"
        formControlName="auscultation_ConductedSounds"
        zOrientation="horizontal"
        class="gap-6"
        (zChange)="trackFieldInteraction('Conducted Sounds')">
        <z-radio [value]="'Present'">{{
          currentLanguageSet?.common?.present
        }}</z-radio>
        <z-radio [value]="'Absent'">{{
          currentLanguageSet?.common?.absent
        }}</z-radio>
      </z-radio-group>
    </div>

    <!-- Percussion -->
    <z-form-field>
      <label z-form-label for="percussion">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.respiratoryANC_OPD_PNC?.percussion
      }}</label>
      <z-form-control>
        <z-select
          id="percussion"
          class="w-full"
          name="percussion"
          formControlName="percussion"
          (zSelectionChange)="trackFieldInteraction('Percussion Selection')">
          <z-select-item
            *ngFor="let percussion of selectPercussion"
            [zValue]="percussion.name">
            {{ percussion.name }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>
</div>
