<div class="my-5">
  <z-tab-group>
    <z-tab
      *ngFor="let service of serviceOnState"
      [label]="service.serviceName">
      <div class="mt-2 flex flex-col gap-5">
        <div
          class="flex h-[200px] items-center justify-center rounded-lg border border-border"
          *ngIf="!service.serviceLoaded">
          <button
            type="button"
            z-button
            (click)="getServiceHistory(service.serviceID)">
            {{ current_language_set?.common?.load }}
            {{ service.serviceName }}
            {{ current_language_set?.historyData?.history }}
          </button>
        </div>

        <!-- MMU (serviceID 2) -->
        <div
          *ngIf="
            dataSource.data.length > 0 &&
            hideMMUFetch &&
            service.serviceID === 2
          ">
          <z-form-field class="w-full sm:w-1/3">
            <label z-form-label for="mmuFilter">{{
              current_language_set?.labTechnicianData?.inTableSearch
            }}</label>
            <z-form-control>
              <div class="relative">
                <ng-icon
                  name="lucideSearch"
                  size="18"
                  class="pointer-events-none absolute left-2.5 top-1/2 -translate-y-1/2 text-muted-foreground">
                </ng-icon>
                <input
                  z-input
                  class="w-full bg-background pl-9"
                  autocomplete="off"
                  id="mmuFilter"
                  [placeholder]="
                    current_language_set?.labTechnicianData?.inTableSearch
                  "
                  #filterTerm
                  (keyup)="filterMMUHistory(filterTerm.value)" />
              </div>
            </z-form-control>
          </z-form-field>
        </div>
        <z-card *ngIf="hideMMUFetch && service.serviceID === 2">
          <z-card-content class="p-2">
            <div class="w-full overflow-x-auto">
              <table z-table aria-describedby="previousVisit">
                <thead z-table-header>
                  <tr z-table-row>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.visitnommu }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.casesheet?.date }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.visitreasonmmu }}
                    </th>
                    <th z-table-head>
                      {{
                        current_language_set?.previousvisit?.visitcategorymmu
                      }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.visitDetails }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.visitcodemmu }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.medicationmmu }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.previewmmu }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.printpreviewmmu }}
                    </th>
                  </tr>
                </thead>
                <tbody z-table-body>
                  <tr z-table-row *ngFor="let element of pagedMMUHistory">
                    <td z-table-cell>{{ element?.benVisitNo }}</td>
                    <td z-table-cell>
                      {{ element?.benVisitDate | date: 'dd/MM/yyyy' }}
                    </td>
                    <td z-table-cell>{{ element?.VisitReason }}</td>
                    <td z-table-cell>{{ element?.VisitCategory }}</td>
                    <td z-table-cell>
                      <ng-container
                        *ngIf="
                          element.benPreviousData?.nurseData?.vitals
                            ?.benAnthropometryDetail &&
                          element.benPreviousData?.nurseData?.vitals
                            ?.benPhysicalVitalDetail
                        ">
                        <div class="flex flex-col gap-0.5">
                          <span
                            >Height :
                            {{
                              element.benPreviousData?.nurseData?.vitals
                                ?.benAnthropometryDetail?.height_cm || 'NA'
                            }}</span
                          >
                          <span
                            >Weight :
                            {{
                              element.benPreviousData?.nurseData?.vitals
                                ?.benAnthropometryDetail?.weight_Kg || 'NA'
                            }}</span
                          >
                          <span
                            >SBP :
                            {{
                              element.benPreviousData?.nurseData?.vitals
                                ?.benPhysicalVitalDetail?.averageSystolicBP ||
                                'NA'
                            }}</span
                          >
                          <span
                            >DBP :
                            {{
                              element.benPreviousData?.nurseData?.vitals
                                ?.benPhysicalVitalDetail?.averageDiastolicBP ||
                                'NA'
                            }}</span
                          >
                          <span
                            >RBS :
                            {{
                              element.benPreviousData?.nurseData?.vitals
                                ?.benPhysicalVitalDetail?.rbsTestResult || 'NA'
                            }}</span
                          >
                        </div>
                      </ng-container>
                    </td>
                    <td z-table-cell>{{ element?.visitCode }}</td>
                    <td z-table-cell>
                      <ng-container
                        *ngFor="
                          let medicationmmu of element.benPreviousData
                            ?.doctorData?.prescription
                        ">
                        <div *ngIf="medicationmmu.drugName !== null">
                          {{ medicationmmu.drugName }}
                          {{ medicationmmu.drugStrength }},
                        </div>
                      </ng-container>
                    </td>
                    <td z-table-cell>
                      <button
                        type="button"
                        z-button
                        zType="ghost"
                        zSize="icon-sm"
                        [attr.aria-label]="
                          current_language_set?.previousvisit?.previewmmu ||
                          'View'
                        "
                        (click)="getVisitDetails('MMU', element, false)">
                        <ng-icon name="lucideEye"></ng-icon>
                      </button>
                    </td>
                    <td z-table-cell>
                      <button
                        type="button"
                        z-button
                        zType="ghost"
                        zSize="icon-sm"
                        [attr.aria-label]="
                          current_language_set?.previousvisit
                            ?.printpreviewmmu || 'Print'
                        "
                        (click)="getVisitDetails('MMU', element, true)">
                        <ng-icon name="lucidePrinter"></ng-icon>
                      </button>
                    </td>
                  </tr>
                  <tr z-table-row *ngIf="dataSource.data.length === 0">
                    <td
                      z-table-cell
                      colspan="9"
                      class="h-24 text-center font-semibold text-muted-foreground">
                      {{ current_language_set?.noRecordsFound }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <z-paginator
              *ngIf="dataSource.data.length > 0"
              class="mt-4"
              [zData]="dataSource.data"
              (zPagedChange)="pagedMMUHistory = $event"></z-paginator>
          </z-card-content>
        </z-card>

        <!-- TM (serviceID 4) -->
        <div
          *ngIf="
            historyOfTM.data.length > 0 &&
            hideTMFetch &&
            service.serviceID === 4
          "
          class="flex justify-end">
          <z-form-field class="w-full sm:w-1/3">
            <label z-form-label for="tmFilter">{{
              current_language_set?.nurseData?.visitDetailsForm?.visitCategory
            }}</label>
            <z-form-control>
              <div class="relative">
                <ng-icon
                  name="lucideSearch"
                  size="18"
                  class="pointer-events-none absolute left-2.5 top-1/2 -translate-y-1/2 text-muted-foreground">
                </ng-icon>
                <input
                  z-input
                  class="w-full bg-background pl-9"
                  autocomplete="off"
                  id="tmFilter"
                  #filterTM
                  (keyup)="filterTMHistory(filterTM.value)" />
              </div>
            </z-form-control>
          </z-form-field>
        </div>
        <z-card *ngIf="hideTMFetch && service.serviceID === 4">
          <z-card-content class="p-2">
            <div class="w-full overflow-x-auto">
              <table z-table aria-describedby="visitCategory">
                <thead z-table-header>
                  <tr z-table-row>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.visitnommu }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.casesheet?.date }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.visitreasonmmu }}
                    </th>
                    <th z-table-head>
                      {{
                        current_language_set?.previousvisit?.visitcategorymmu
                      }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.visitcodemmu }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.previewmmu }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.printpreviewmmu }}
                    </th>
                  </tr>
                </thead>
                <tbody z-table-body>
                  <tr z-table-row *ngFor="let element of pagedTMHistory">
                    <td z-table-cell>{{ element?.benVisitNo }}</td>
                    <td z-table-cell>
                      {{ element?.benVisitDate | date: 'dd/MM/yyyy' }}
                    </td>
                    <td z-table-cell>{{ element?.VisitReason }}</td>
                    <td z-table-cell>{{ element?.VisitCategory }}</td>
                    <td z-table-cell>{{ element?.visitCode }}</td>
                    <td z-table-cell>
                      <button
                        type="button"
                        z-button
                        zType="ghost"
                        zSize="icon-sm"
                        [attr.aria-label]="
                          current_language_set?.previousvisit?.previewmmu ||
                          'View'
                        "
                        (click)="getVisitDetails('TM', element, 'any')">
                        <ng-icon name="lucideEye"></ng-icon>
                      </button>
                    </td>
                    <td z-table-cell>
                      <button
                        type="button"
                        z-button
                        zType="ghost"
                        zSize="icon-sm"
                        [attr.aria-label]="
                          current_language_set?.previousvisit
                            ?.printpreviewmmu || 'Print'
                        "
                        (click)="getVisitDetails('TM', element, true)">
                        <ng-icon name="lucidePrinter"></ng-icon>
                      </button>
                    </td>
                  </tr>
                  <tr z-table-row *ngIf="historyOfTM.data.length === 0">
                    <td
                      z-table-cell
                      colspan="7"
                      class="h-24 text-center font-semibold text-muted-foreground">
                      {{ current_language_set?.noRecordsFound }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <z-paginator
              *ngIf="historyOfTM.data.length > 0"
              class="mt-4"
              [zData]="historyOfTM.data"
              (zPagedChange)="pagedTMHistory = $event"></z-paginator>
          </z-card-content>
        </z-card>

        <!-- MCTS (serviceID 6) -->
        <div
          *ngIf="
            historyOfMCTS.data.length > 0 &&
            hideMCTSFetch &&
            service.serviceID === 6
          "
          class="flex justify-end">
          <z-form-field class="w-full sm:w-1/3">
            <label z-form-label for="mctsFilter">{{
              current_language_set?.previousvisit?.calltypemcts
            }}</label>
            <z-form-control>
              <div class="relative">
                <ng-icon
                  name="lucideSearch"
                  size="18"
                  class="pointer-events-none absolute left-2.5 top-1/2 -translate-y-1/2 text-muted-foreground">
                </ng-icon>
                <input
                  z-input
                  class="w-full bg-background pl-9"
                  autocomplete="off"
                  id="mctsFilter"
                  #filterMCTS
                  (keyup)="filterMCTSHistory(filterMCTS.value)" />
              </div>
            </z-form-control>
          </z-form-field>
        </div>
        <z-card *ngIf="hideMCTSFetch && service.serviceID === 6">
          <z-card-content class="p-2">
            <div class="w-full overflow-x-auto">
              <table z-table aria-describedby="callType">
                <thead z-table-header>
                  <tr z-table-row>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.calltypemcts }}
                    </th>
                    <th z-table-head>
                      {{
                        current_language_set?.previousvisit?.calldatetimemcts
                      }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.dataupdatemcts }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.callstatusmcts }}
                    </th>
                    <th z-table-head>
                      {{
                        current_language_set?.previousvisit?.callgrouptypemcts
                      }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.common?.remarks }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.actions }}
                    </th>
                  </tr>
                </thead>
                <tbody z-table-body>
                  <tr z-table-row *ngFor="let element of pagedMCTSHistory">
                    <td z-table-cell>
                      {{ element?.mctsOutboundCall?.displayOBCallType }}
                    </td>
                    <td z-table-cell>{{ element?.createdDate }}</td>
                    <td z-table-cell>
                      {{ element?.changeLog?.split('|').join(',') }}
                    </td>
                    <td z-table-cell>
                      {{ element?.callType?.callGroupType }}
                    </td>
                    <td z-table-cell>{{ element?.callType?.callType }}</td>
                    <td z-table-cell>{{ element?.remark }}</td>
                    <td z-table-cell>
                      <button
                        type="button"
                        z-button
                        zSize="sm"
                        (click)="getPatientMCTSCallHistory(element)">
                        {{ current_language_set?.common?.viewQnA }}
                      </button>
                    </td>
                  </tr>
                  <tr z-table-row *ngIf="historyOfMCTS.data.length === 0">
                    <td
                      z-table-cell
                      colspan="7"
                      class="h-24 text-center font-semibold text-muted-foreground">
                      {{ current_language_set?.noRecordsFound }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <z-paginator
              *ngIf="historyOfMCTS.data.length > 0"
              class="mt-4"
              [zData]="historyOfMCTS.data"
              (zPagedChange)="pagedMCTSHistory = $event"></z-paginator>
          </z-card-content>
        </z-card>

        <!-- 104 (serviceID 3) -->
        <div
          *ngIf="
            historyOf104.data.length > 0 &&
            hide104Fetch &&
            service.serviceID === 3
          "
          class="flex justify-end">
          <z-form-field class="w-full sm:w-1/3">
            <label z-form-label for="ncd104Filter">{{
              current_language_set?.previousvisit?.ChiefComplaint104
            }}</label>
            <z-form-control>
              <div class="relative">
                <ng-icon
                  name="lucideSearch"
                  size="18"
                  class="pointer-events-none absolute left-2.5 top-1/2 -translate-y-1/2 text-muted-foreground">
                </ng-icon>
                <input
                  z-input
                  class="w-full bg-background pl-9"
                  autocomplete="off"
                  id="ncd104Filter"
                  [placeholder]="
                    current_language_set?.previousvisit?.ChiefComplaint104
                  "
                  #filter104
                  (keyup)="filter104History(filter104.value)" />
              </div>
            </z-form-control>
          </z-form-field>
        </div>
        <z-card *ngIf="hide104Fetch && service.serviceID === 3">
          <z-card-content class="p-2">
            <div class="w-full overflow-x-auto">
              <table z-table aria-describedby="chiefComplaint">
                <thead z-table-header>
                  <tr z-table-row>
                    <th z-table-head>
                      {{ current_language_set?.common?.id }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.name104 }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.age104 }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.ChiefComplaint104 }}
                    </th>
                    <th z-table-head>
                      {{
                        current_language_set?.ExaminationData
                          ?.cancerScreeningExamination?.symptoms?.symptoms
                      }}
                    </th>
                    <th z-table-head>
                      {{
                        current_language_set?.previousvisit
                          ?.provisionalSelected104
                      }}
                    </th>
                    <th z-table-head>
                      {{
                        current_language_set?.previousvisit?.recommendedaction104
                      }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.actionByHao }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.actionByMo }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.previousvisit?.actionByCoPd }}
                    </th>
                    <th z-table-head>
                      {{ current_language_set?.common?.date }}
                    </th>
                  </tr>
                </thead>
                <tbody z-table-body>
                  <tr z-table-row *ngFor="let element of paged104History">
                    <td z-table-cell>
                      {{
                        element?.requestID
                          ? element?.requestID
                          : element?.benHistoryID
                      }}
                    </td>
                    <td z-table-cell>{{ element?.patientName }}</td>
                    <td z-table-cell>{{ element?.patientAge }}</td>
                    <td
                      z-table-cell
                      class="cursor-pointer"
                      [zTooltip]="element.selecteDiagnosisID">
                      {{ element?.selecteDiagnosis }}
                    </td>
                    <td z-table-cell>{{ element?.algorithm }}</td>
                    <td
                      z-table-cell
                      class="cursor-pointer"
                      [zTooltip]="element?.selecteDiagnosisID">
                      {{ element?.selecteDiagnosis }}
                    </td>
                    <td z-table-cell>{{ element?.addedAdvice }}</td>
                    <td z-table-cell>{{ element?.actionByHAO }}</td>
                    <td z-table-cell>{{ element?.actionByMo }}</td>
                    <td z-table-cell>{{ element?.actionByCO }}</td>
                    <td z-table-cell>{{ element?.createdDate }}</td>
                  </tr>
                  <tr z-table-row *ngIf="historyOf104.data.length === 0">
                    <td
                      z-table-cell
                      colspan="11"
                      class="h-24 text-center font-semibold text-muted-foreground">
                      {{ current_language_set?.noRecordsFound }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <z-paginator
              *ngIf="historyOf104.data.length > 0"
              class="mt-4"
              [zData]="historyOf104.data"
              (zPagedChange)="paged104History = $event"></z-paginator>
          </z-card-content>
        </z-card>
      </div>
    </z-tab>
  </z-tab-group>
</div>
