<div
  class="mt-5 flex flex-col gap-6"
  [formGroup]="covidVaccineStatusForm">
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field class="gap-1.5">
      <label z-form-label for="ageGroup">{{
        currentLanguageSet?.ageGroup
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="ageGroup"
          name="ageGroup"
          formControlName="ageGroup"
          [zDisabled]="covidVaccineStatusForm.controls['ageGroup'].disabled"
          [zPlaceholder]="currentLanguageSet?.ageGroup || ''"
          (zSelectionChange)="setIsApplicable()">
          <z-select-item
            *ngFor="let ageGroups of ageGroupsList"
            [zValue]="ageGroups">
            {{ ageGroups }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="isApplicableForVaccine">{{
        currentLanguageSet?.isApplicableForVaccine
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="isApplicableForVaccine"
          name="isApplicableForVaccine"
          formControlName="isApplicableForVaccine"
          [zDisabled]="
            covidVaccineStatusForm.controls['isApplicableForVaccine'].disabled
          "
          [zPlaceholder]="currentLanguageSet?.isApplicableForVaccine || ''">
          <z-select-item
            *ngFor="
              let applicableForVaccineStatus of applicableForVaccineStatusList
            "
            [zValue]="applicableForVaccineStatus">
            {{ applicableForVaccineStatus }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="enableVaccinationStatusFields">
      <label
        z-form-label
        [zRequired]="enableVaccinationStatusFields === true"
        for="vaccineStatus"
        >{{ currentLanguageSet?.vaccineStatus }}</label
      >
      <z-form-control>
        <z-select
          class="w-full"
          id="vaccineStatus"
          name="vaccineStatus"
          formControlName="vaccineStatus"
          [zPlaceholder]="currentLanguageSet?.vaccineStatus || ''"
          (zSelectionChange)="enableVaccineTypeAndDoseTaken()">
          <z-select-item zValue="YES">YES</z-select-item>
          <z-select-item zValue="NO">NO</z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="enableVaccineTypeAndDoseTakenFlag">
      <label
        z-form-label
        [zRequired]="enableVaccineTypeAndDoseTakenFlag === true"
        for="vaccineTypes"
        >{{ currentLanguageSet?.vaccineTypes }}</label
      >
      <z-form-control>
        <z-select
          class="w-full"
          id="vaccineTypes"
          name="vaccineTypes"
          formControlName="vaccineTypes"
          [zPlaceholder]="currentLanguageSet?.vaccineTypes || ''"
          (zSelectionChange)="
            covidVaccineStatusForm.controls['vaccineTypes'].setValue(+$event);
            enableSaveButtonInForm()
          ">
          <z-select-item
            *ngFor="let vaccineType of vaccineTypeList"
            [zValue]="vaccineType.covidVaccineTypeID.toString()">
            {{ vaccineType.vaccineType }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="enableVaccineTypeAndDoseTakenFlag">
      <label
        z-form-label
        [zRequired]="enableVaccineTypeAndDoseTakenFlag === true"
        for="doseTaken"
        >{{ currentLanguageSet?.doseTaken }}</label
      >
      <z-form-control>
        <z-select
          class="w-full"
          id="doseTaken"
          name="doseTaken"
          formControlName="doseTaken"
          [zPlaceholder]="currentLanguageSet?.doseTaken || ''"
          (zSelectionChange)="
            covidVaccineStatusForm.controls['doseTaken'].setValue(+$event);
            enableSaveButtonInForm()
          ">
          <z-select-item
            *ngFor="let doseType of doseTypeList"
            [zValue]="doseType.covidDoseTypeID.toString()">
            {{ doseType.doseType }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>

  <div class="flex justify-end">
    <button
      z-button
      type="button"
      (click)="saveBenCovidVaccinationDetails()"
      [disabled]="enableSaveButton">
      {{ currentLanguageSet?.coreComponents?.save }}
    </button>
  </div>
</div>
