<div
  class="grid grid-cols-1 md:grid-cols-3 gap-6 pt-4"
  [formGroup]="covidVaccineStatusForm">
  <!-- Age Group -->
  <div>
    <z-form-field>
      <z-form-label>{{ currentLanguageSet?.ageGroup }}</z-form-label>
      <z-select
        formControlName="ageGroup"
        (zSelectionChange)="setIsApplicable()"
        [zPlaceholder]="'Select age group'">
        <z-select-item
          *ngFor="let ageGroups of ageGroupsList"
          [zValue]="ageGroups">
          {{ ageGroups }}
        </z-select-item>
      </z-select>
    </z-form-field>
  </div>

  <!-- Applicable For Vaccine -->
  <div>
    <z-form-field>
      <z-form-label>{{
        currentLanguageSet?.isApplicableForVaccine
      }}</z-form-label>
      <z-select
        formControlName="isApplicableForVaccine"
        [zPlaceholder]="'Select applicability'">
        <z-select-item
          *ngFor="let status of applicableForVaccineStatusList"
          [zValue]="status">
          {{ status }}
        </z-select-item>
      </z-select>
    </z-form-field>
  </div>

  <!-- Vaccine Status -->
  <div *ngIf="enableVaccinationStatusFields">
    <z-form-field>
      <z-form-label>{{ currentLanguageSet?.vaccineStatus }}</z-form-label>
      <z-select
        formControlName="vaccineStatus"
        (zSelectionChange)="enableVaccineTypeAndDoseTaken()"
        [zPlaceholder]="'Select status'">
        <z-select-item zValue="YES">YES</z-select-item>
        <z-select-item zValue="NO">NO</z-select-item>
      </z-select>
    </z-form-field>
  </div>

  <!-- Vaccine Types -->
  <div *ngIf="enableVaccineTypeAndDoseTakenFlag">
    <z-form-field>
      <z-form-label>{{ currentLanguageSet?.vaccineTypes }}</z-form-label>
      <z-select
        formControlName="vaccineTypes"
        (zSelectionChange)="enableSaveButtonInForm()"
        [zPlaceholder]="'Select vaccine type'">
        <z-select-item
          *ngFor="let vaccineType of vaccineTypeList"
          [zValue]="vaccineType.covidVaccineTypeID">
          {{ vaccineType.vaccineType }}
        </z-select-item>
      </z-select>
    </z-form-field>
  </div>

  <!-- Dose Taken -->
  <div *ngIf="enableVaccineTypeAndDoseTakenFlag">
    <z-form-field>
      <z-form-label>{{ currentLanguageSet?.doseTaken }}</z-form-label>
      <z-select
        formControlName="doseTaken"
        (zSelectionChange)="enableSaveButtonInForm()"
        [zPlaceholder]="'Select dose'">
        <z-select-item
          *ngFor="let doseType of doseTypeList"
          [zValue]="doseType.covidDoseTypeID">
          {{ doseType.doseType }}
        </z-select-item>
      </z-select>
    </z-form-field>
  </div>

  <!-- Save Button -->
  <div class="col-span-full flex justify-end pt-4">
    <z-button
      [zDisabled]="enableSaveButton"
      (click)="saveBenCovidVaccinationDetails()"
      variant="default"
      class="bg-blue-600 hover:bg-blue-700 text-white px-8 py-2 rounded-full font-black uppercase tracking-widest text-[10px] shadow-lg shadow-blue-100 transition-all duration-300">
      {{ currentLanguageSet?.coreComponents?.save }}
    </z-button>
  </div>
</div>
