<!-- {{cancerPatientObstetricHistoryForm.value | json}} -->
<div [formGroup]="cancerPatientObstetricHistoryForm" class="flex flex-col gap-6">
  <div class="flex items-center justify-end gap-2">
    <span class="text-sm font-semibold text-foreground">{{
      currentLanguageSet?.historyData?.obstetrichistory?.obstetricshistory
    }}</span>
    <button
      z-button
      zType="ghost"
      zSize="icon-sm"
      type="button"
      id="previousCancerPastObstetricHistory"
      class="text-primary"
      [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
      [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
      (click)="getPreviousCancerPastObstetricHistory()">
      <ng-icon name="lucideHistory"></ng-icon>
    </button>
  </div>

  <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field class="gap-1.5">
      <label z-form-label for="pregnancyStatus">{{
        currentLanguageSet?.nurseData?.visitDetailsForm?.pregnancyStatus
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="pregnancyStatus"
          name="pregnancyStatus"
          formControlName="pregnancyStatus"
          [zDisabled]="true"
          (zSelectionChange)="checkWithPregnancy()">
          <z-select-item
            *ngFor="let pregnancyStatusValue of templatePregnancyStatus"
            [zValue]="pregnancyStatusValue">
            {{ pregnancyStatusValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <div class="flex flex-col gap-1.5" *ngIf="pregnancyStatus === 'Don\'t Know'">
      <label z-form-label for="isUrinePregTest">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.urinepregnancytest
      }}</label>
      <z-radio-group
        id="isUrinePregTest"
        name="isUrinePregTest"
        formControlName="isUrinePregTest"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{
          currentLanguageSet?.common?.positive
        }}</z-radio>
        <z-radio [value]="false">{{
          currentLanguageSet?.common?.negative
        }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field class="gap-1.5">
      <label z-form-label for="pregnant_No">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.nooftimespregnant
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="pregnant_No"
          name="pregnant_No"
          formControlName="pregnant_No"
          (zSelectionChange)="checkWithPregnantTimes()">
          <z-select-item
            *ngFor="let timesPregnant of templateTimesPregnant"
            [zValue]="timesPregnant">
            {{ timesPregnant }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5" *ngIf="pregnant_No && pregnant_No !== '0'">
      <label z-form-label for="noOfLivingChild">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.nooflivingchildren
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          maxlength="2"
          id="noOfLivingChild"
          name="noOfLivingChild"
          formControlName="noOfLivingChild"
          (change)="checkNoOfChildren(noOfLivingChild)" />
      </z-form-control>
    </z-form-field>

    <div
      class="flex flex-col gap-1.5"
      *ngIf="pregnant_No && pregnant_No !== '0'">
      <label z-form-label for="isAbortion">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.abortions
      }}</label>
      <z-radio-group
        id="isAbortion"
        name="isAbortion"
        formControlName="isAbortion"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isOralContraceptiveUsed">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.oralContraceptiveUsed
      }}</label>
      <z-radio-group
        id="isOralContraceptiveUsed"
        name="isOralContraceptiveUsed"
        formControlName="isOralContraceptiveUsed"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isHormoneReplacementTherapy">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.harmonereplacementTherapy
      }}</label>
      <z-radio-group
        id="isHormoneReplacementTherapy"
        name="isHormoneReplacementTherapy"
        formControlName="isHormoneReplacementTherapy"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field class="gap-1.5">
      <label z-form-label for="menarche_Age">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.ageatmenarche
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          maxlength="2"
          id="menarche_Age"
          name="menarche_Age"
          formControlName="menarche_Age"
          (change)="checkMenarcheAge($event)" />
      </z-form-control>
    </z-form-field>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isMenstrualCycleRegular">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.regularityofMenstrualCycle
      }}</label>
      <z-radio-group
        id="isMenstrualCycleRegular"
        name="isMenstrualCycleRegular"
        formControlName="isMenstrualCycleRegular"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{
          currentLanguageSet?.common?.regular
        }}</z-radio>
        <z-radio [value]="false">{{
          currentLanguageSet?.common?.irregular
        }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field class="gap-1.5">
      <label z-form-label for="menstrualCycleLength">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.lengthofMenstrualCycle
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          maxlength="2"
          id="menstrualCycleLength"
          name="menstrualCycleLength"
          formControlName="menstrualCycleLength"
          (change)="checkLengthMenstrualCycle($event)" />
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="menstrualFlowDuration">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.menstrualFlowduration
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          maxlength="2"
          id="menstrualFlowDuration"
          name="menstrualFlowDuration"
          formControlName="menstrualFlowDuration"
          (change)="checkMenstrualFlowDuration($event)" />
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="menstrualFlowType">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.typeofFlow
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="menstrualFlowType"
          name="menstrualFlowType"
          formControlName="menstrualFlowType">
          <z-select-item
            *ngFor="let typeOfFlow of templateTypeOfFlow"
            [zValue]="typeOfFlow">
            {{ typeOfFlow }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isDysmenorrhea">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.dysmenorrhea
      }}</label>
      <z-radio-group
        id="isDysmenorrhea"
        name="isDysmenorrhea"
        formControlName="isDysmenorrhea"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isInterMenstrualBleeding">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.interMenstrualBleeding
      }}</label>
      <z-radio-group
        id="isInterMenstrualBleeding"
        name="isInterMenstrualBleeding"
        formControlName="isInterMenstrualBleeding"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field class="gap-1.5">
      <label z-form-label for="menopauseAge">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.ageAtmenopause
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          maxlength="2"
          id="menopauseAge"
          name="menopauseAge"
          formControlName="menopauseAge"
          (change)="checkMenopauseAge($event)" />
      </z-form-control>
    </z-form-field>

    <div
      class="flex flex-col gap-1.5"
      *ngIf="menopauseAge && menopauseAge <= patientAge && menopauseAge !== 0">
      <label z-form-label for="isPostMenopauseBleeding">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
          ?.postMenopausalBleeding
      }}</label>
      <z-radio-group
        id="isPostMenopauseBleeding"
        name="isPostMenopauseBleeding"
        formControlName="isPostMenopauseBleeding"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>
  </div>
</div>
