<div [formGroup]="feedingHistoryForm" class="flex flex-col gap-4">
  <div class="flex items-center justify-end gap-2">
    <span class="text-sm font-semibold text-foreground">{{
      currentLanguageSet?.historyData?.Feedinghistorydetails
        ?.previousfeedinghistory
    }}</span>
    <button
      z-button
      zType="ghost"
      zSize="icon-sm"
      type="button"
      id="previousFeedingHistory"
      class="text-primary"
      [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
      [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
      (click)="getPreviousFeedingHistory()">
      <ng-icon name="lucideHistory"></ng-icon>
    </button>
  </div>

  <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2">
    <z-form-field class="gap-1.5">
      <label z-form-label for="typeOfFeed">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding?.typeofFeeds
      }}</label>
      <z-form-control>
        <z-select
          class="w-full bg-background"
          id="typeOfFeed"
          name="typeOfFeedsDuringFirst6Months"
          formControlName="typeOfFeed">
          <z-select-item
            *ngFor="let feedsAge of masterData?.feedTypes"
            [zValue]="feedsAge.value">
            {{ feedsAge.value }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5" *ngIf="age > 6">
      <label z-form-label for="compFeedStartAge">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding?.ageatweaning
      }}</label>
      <z-form-control>
        <z-select
          class="w-full bg-background"
          id="compFeedStartAge"
          name="ageAtWeaningFeedIntroduced"
          formControlName="compFeedStartAge"
          (zSelectionChange)="resetNoOfCompFeedPerDay()">
          <z-select-item
            *ngFor="let feedType of masterData?.compFeedAges"
            [zValue]="feedType.value">
            {{ feedType.value }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5" *ngIf="compFeedStartAge">
      <label z-form-label for="noOfCompFeedPerDay">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
          ?.numberofComplimentaryfoodservings
      }}</label>
      <z-form-control>
        <z-select
          class="w-full bg-background"
          id="noOfCompFeedPerDay"
          name="complimentaryFoodNumber"
          formControlName="noOfCompFeedPerDay">
          <z-select-item
            *ngFor="let feedsNumber of masterData?.compFeedServings"
            [zValue]="feedsNumber.value">
            {{ feedsNumber.value }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="foodIntoleranceStatus">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
          ?.foodIntoleranceStatus
      }}</label>
      <z-radio-group
        id="foodIntoleranceStatus"
        name="foodIntoleranceStatus"
        formControlName="foodIntoleranceStatus"
        zOrientation="horizontal"
        class="flex-wrap gap-6"
        (zChange)="resetTypeofFoodIntolerance()">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field class="gap-1.5" *ngIf="foodIntoleranceStatus">
      <label z-form-label for="typeofFoodIntolerance">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.feeding
          ?.typeofFoodIntolerance
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full bg-background"
          autocomplete="off"
          appDefaultNull
          maxlength="50"
          allowText="alphaspace"
          id="typeofFoodIntolerance"
          name="foodIntoleranceType"
          formControlName="typeofFoodIntolerance" />
      </z-form-control>
    </z-form-field>
  </div>
</div>
