<div [formGroup]="familyHistoryForm" class="flex flex-col gap-6">
  <div formArrayName="familyDiseaseList" class="flex flex-col gap-4">
    <div class="flex items-center justify-end gap-2">
      <span class="text-sm font-semibold text-foreground">{{
        currentLanguageSet?.historyData?.ancHistory
          ?.familyHistoryDataANC_OPD_NCD_PNC?.previousFamilyHistory
      }}</span>
      <button
        z-button
        zType="ghost"
        zSize="icon-sm"
        type="button"
        id="previousANCFamilyHistory"
        class="text-primary"
        [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
        [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
        (click)="getPreviousFamilyHistory()">
        <ng-icon name="lucideHistory"></ng-icon>
      </button>
    </div>

    <div
      class="rounded-lg bg-muted/40 p-4"
      *ngFor="
        let familyDisease of getFamilyDiseases();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }">
      <ng-container [formGroupName]="i">
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-4">
          <z-form-field class="gap-1.5">
            <label z-form-label for="diseaseType-{{ i }}">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.familyHistoryDataANC_OPD_NCD_PNC?.diseaseType
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="diseaseType-{{ i }}"
                name="diseaseType"
                [zValue]="familyDisease.value.diseaseType?.diseaseType"
                (zSelectionChange)="
                  onDiseaseTypeChange($event, i, familyDisease)
                ">
                <z-select-item
                  *ngFor="let disease of diseaseSelectList[i]"
                  [zValue]="disease.diseaseType">
                  {{ disease.diseaseType }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="familyDisease.value.diseaseType?.diseaseType === 'Other'">
            <label z-form-label for="otherDiseaseType-{{ i }}">{{
              currentLanguageSet?.pncData?.others
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                maxlength="50"
                allowText="alphaspace"
                name="otherDiseaseType"
                formControlName="otherDiseaseType" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5" [hidden]="true">
            <label z-form-label for="snomedCode-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.sctCode
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                maxlength="100"
                id="snomedCode-{{ i }}"
                formControlName="snomedCode"
                readonly />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="familyMembers-{{ i }}">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.familyHistoryDataANC_OPD_NCD_PNC?.familyMember
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="familyMembers-{{ i }}"
                name="familyMembers"
                formControlName="familyMembers"
                [zMultiple]="true">
                <z-select-item
                  *ngFor="let member of familyMemeberMasterData"
                  [zValue]="member.benRelationshipType">
                  {{ member.benRelationshipType }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <div class="flex items-end justify-end gap-2">
            <button
              z-button
              zType="destructive"
              zSize="icon"
              type="button"
              id="removeFamilyDisease"
              *ngIf="
                i !== 0 ||
                (i === 0 && (familyDisease.touched || familyDisease.dirty))
              "
              [attr.aria-label]="currentLanguageSet?.common?.delete"
              (click)="removeFamilyDisease(i, familyDisease)">
              <ng-icon name="lucideX"></ng-icon>
            </button>
            <button
              z-button
              zType="default"
              zSize="icon"
              type="button"
              *ngIf="isLast"
              id="addFamilyDisease"
              [disabled]="checkValidity(familyDisease)"
              [attr.aria-label]="currentLanguageSet?.common?.add"
              (click)="addFamilyDisease()">
              <ng-icon name="lucidePlus"></ng-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isGeneticDisorder">{{
        currentLanguageSet?.historyData?.ancHistory
          ?.familyHistoryDataANC_OPD_NCD_PNC?.H_geneticDisorders
      }}</label>
      <z-radio-group
        id="isGeneticDisorder"
        name="isGeneticDisorder"
        formControlName="isGeneticDisorder"
        zOrientation="horizontal"
        class="flex-wrap gap-6"
        (zChange)="resetOtherGeneticOrder()">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field class="gap-1.5" *ngIf="isGeneticDisorder">
      <label z-form-label for="geneticDisorder">{{
        currentLanguageSet?.historyData?.ancHistory
          ?.familyHistoryDataANC_OPD_NCD_PNC?.geneticDisorders
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          id="geneticDisorder"
          autocomplete="off"
          allowText="inputFieldValidator"
          appDefaultNull
          maxlength="50"
          name="geneticDisorder"
          formControlName="geneticDisorder" />
      </z-form-control>
    </z-form-field>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isConsanguineousMarrige">{{
        currentLanguageSet?.historyData?.ancHistory
          ?.familyHistoryDataANC_OPD_NCD_PNC?.consanguineousMarriage
      }}</label>
      <z-radio-group
        id="isConsanguineousMarrige"
        name="isConsanguineousMarrige"
        formControlName="isConsanguineousMarrige"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>
  </div>
</div>
