<div class="flex flex-col gap-4 p-6">
  <div class="flex items-center gap-2">
    <ng-icon name="lucideInfo" size="20" class="text-info"></ng-icon>
    <p class="m-0 text-base font-semibold text-info">
      {{ currentLanguageSet?.common?.selectPrintPage }}
    </p>
  </div>

  <div class="flex max-h-[381px] flex-col gap-3 overflow-y-auto">
    <z-checkbox
      *ngIf="visitCategory === 'ANC'"
      name="caseSheetANC"
      [(ngModel)]="printPagePreviewSelect.caseSheetANC">
      {{ currentLanguageSet?.ancData?.anc }}
    </z-checkbox>
    <z-checkbox
      *ngIf="visitCategory === 'PNC'"
      name="caseSheetPNC"
      [(ngModel)]="printPagePreviewSelect.caseSheetPNC">
      {{ currentLanguageSet?.pncData?.pnc }}
    </z-checkbox>
    <z-checkbox
      *ngIf="visitCategory !== 'General OPD (QC)'"
      name="caseSheetHistory"
      [(ngModel)]="printPagePreviewSelect.caseSheetHistory">
      {{ currentLanguageSet?.historyData.history }}
    </z-checkbox>
    <z-checkbox
      *ngIf="
        visitCategory !== 'NCD care' &&
        visitCategory !== 'General OPD (QC)' &&
        visitCategory !== 'COVID-19 Screening'
      "
      name="caseSheetExamination"
      [(ngModel)]="printPagePreviewSelect.caseSheetExamination">
      {{ currentLanguageSet?.ExaminationData.examination }}
    </z-checkbox>
    <z-checkbox
      *ngIf="isCovidVaccinationStatusVisible"
      name="caseSheetCovidVaccinationDetails"
      [(ngModel)]="printPagePreviewSelect.caseSheetCovidVaccinationDetails">
      {{ currentLanguageSet?.covidVaccinationStatus }}
    </z-checkbox>
  </div>

  <div class="flex justify-end gap-2">
    <button z-button zType="outline" (click)="dialogRef.close(false)">
      Cancel
    </button>
    <button
      z-button
      zType="default"
      (click)="dialogRef.close(printPagePreviewSelect)"
      cdkFocusInitial>
      {{ currentLanguageSet?.previousvisit?.previewmmu }}
    </button>
  </div>
</div>
