<div [formGroup]="patientANCDetailsForm" class="space-y-8 pt-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Primi Gravida -->
    <div class="space-y-3">
      <z-label class="text-sm font-medium text-zinc-700">
        {{ current_language_set?.ancData?.ancDataDetails?.primiGravida }}*
      </z-label>
      <z-radio-group formControlName="primiGravida" class="flex gap-4">
        <z-radio [zValue]="true">
          {{ current_language_set?.common?.yes }}
        </z-radio>
        <z-radio [zValue]="false">
          {{ current_language_set?.common?.no }}
        </z-radio>
      </z-radio-group>
    </div>

    <!-- Last Menstrual Period (LMP) -->
    <z-form-field>
      <z-label
        >{{
          current_language_set?.ancData?.ancDataDetails?.lastMenstrualPeriod
        }}*</z-label
      >
      <z-date-picker
        formControlName="lmpDate"
        [minDate]="dob"
        [maxDate]="today"
        (dateChange)="checkupLMP($event)"
        zPlaceholder="DD/MM/YYYY">
      </z-date-picker>
    </z-form-field>

    <!-- Current Gestational Age -->
    <z-form-field>
      <z-label>{{
        current_language_set?.ancData?.ancDataDetails?.currentGestationalAge
      }}</z-label>
      <input
        z-input
        formControlName="gestationalAgeOrPeriodofAmenorrhea_POA"
        [disabled]="true"
        placeholder="Calculated automatically" />
    </z-form-field>

    <!-- Expected Date of Delivery (EDD) -->
    <z-form-field>
      <z-label
        >{{ current_language_set?.ancData?.ancDataDetails?.eDD }}*</z-label
      >
      <z-date-picker
        formControlName="expDelDt"
        [disabled]="true"
        zPlaceholder="DD/MM/YYYY">
      </z-date-picker>
    </z-form-field>

    <!-- Period of Pregnancy -->
    <z-form-field>
      <z-label>{{
        current_language_set?.ancData?.ancDataDetails?.periodofPregnancy
      }}</z-label>
      <input
        z-input
        formControlName="duration"
        zNullDefaultValue
        zNumberValidator
        allowMax="9"
        (change)="checkPeriodOfPregnancy(patientANCDetailsForm.value.duration)"
        placeholder="Enter duration in months" />
    </z-form-field>

    <!-- Trimester Number -->
    <z-form-field>
      <z-label>{{
        current_language_set?.ancData?.ancDataDetails?.trimesterNumber
      }}</z-label>
      <input
        z-input
        formControlName="trimesterNumber"
        [disabled]="true"
        placeholder="Calculated automatically" />
    </z-form-field>
  </div>
</div>
