<div *ngIf="visit === 'NCD screening'" class="flex flex-col gap-1">
  <span
    z-form-message
    zType="error"
    *ngIf="
      diabetesSelected > 0 &&
      RBSTestDoneInVitals === false &&
      !rbsSelectedInInvestigation
    ">
    * {{ current_language_set?.pleaseSelectRBSTest }}
  </span>
  <span
    z-form-message
    zType="error"
    *ngIf="VisualAcuityMandatory && !VisualAcuityTestDone">
    * {{ current_language_set?.pleaseSelectVisualAcuityTest }}
  </span>
</div>
<div *ngIf="visit === 'ANC'" class="flex flex-col gap-1">
  <span
    z-form-message
    zType="error"
    *ngIf="
      (!RBSTestDoneInVitals && !rbsSelectedInInvestigation) ||
      !hemoglobbinSelected
    ">
    * {{ current_language_set?.pleaseSelectRBSTestAndHaemoglobinTest }}
  </span>
</div>

<div
  class="grid grid-cols-1 gap-4 sm:grid-cols-2"
  [formGroup]="generalDoctorInvestigationForm">
  <z-form-field class="w-full">
    <label z-form-label for="labTest">{{
      current_language_set?.labTechnicianData?.testName
    }}</label>
    <z-form-control>
      <z-select
        id="labTest"
        class="w-full"
        name="labTest"
        [zMultiple]="true"
        [zPlaceholder]="current_language_set?.labTechnicianData?.testName"
        [zValue]="selectedLabTestNames"
        (zSelectionChange)="onLabTestChange($event)">
        <z-select-item
          *ngFor="let nonRadiology of nonRadiologyMaster"
          [zValue]="nonRadiology.procedureName"
          [zDisabled]="canDisable(nonRadiology)">
          {{ nonRadiology.procedureName }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field class="w-full">
    <label z-form-label for="radiologyTest">{{
      current_language_set?.labTechnicianData?.radiologyimaging
    }}</label>
    <z-form-control>
      <z-select
        id="radiologyTest"
        class="w-full"
        name="radiologyTest"
        [zMultiple]="true"
        [zPlaceholder]="current_language_set?.labTechnicianData?.radiologyimaging"
        [zValue]="selectedRadiologyTestNames"
        (zSelectionChange)="onRadiologyTestChange($event)">
        <z-select-item
          *ngFor="let radiology of radiologyMaster"
          [zValue]="radiology.procedureName"
          [zDisabled]="canDisable(radiology)">
          {{ radiology.procedureName }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field class="w-full sm:col-span-2">
    <label z-form-label for="externalInvestigations">{{
      current_language_set?.Investigationdetails?.externalinvestigations
    }}</label>
    <z-form-control>
      <textarea
        z-input
        id="externalInvestigations"
        class="min-h-20 w-full"
        allowText="textAreaValidator"
        defaultNull
        name="externalInvestigation"
        formControlName="externalInvestigations"
        maxlength="300"></textarea>
    </z-form-control>
  </z-form-field>
</div>
