<div class="mt-5 flex flex-col gap-6" [formGroup]="genitoUrinarySystemDataForm">
  <div class="w-full">
    <z-form-field>
      <label z-form-label for="renalAngle">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.genitoANC_OPD_PNC?.renalAngle
      }}</label>
      <z-form-control>
        <textarea
          z-input
          id="renalAngle"
          allowText="textAreaValidator"
          defaultNull
          rows="3"
          name="renalAngle"
          formControlName="renalAngle"
          maxlength="300"
          (focus)="trackFieldInteraction('Renal Angle')"></textarea>
      </z-form-control>
    </z-form-field>
  </div>

  <div class="w-full">
    <z-form-field>
      <label z-form-label for="suprapubicRegion">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.genitoANC_OPD_PNC?.suprapubicregion
      }}</label>
      <z-form-control>
        <textarea
          z-input
          id="suprapubicRegion"
          allowText="textAreaValidator"
          defaultNull
          rows="3"
          name="suprapubicRegion"
          formControlName="suprapubicRegion"
          maxlength="300"
          (focus)="trackFieldInteraction('Suprapubic Region')"></textarea>
      </z-form-control>
    </z-form-field>
  </div>

  <div class="w-full">
    <z-form-field>
      <label z-form-label for="externalGenitalia">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.genitoANC_OPD_PNC?.externalgenitalia
      }}</label>
      <z-form-control>
        <textarea
          z-input
          id="externalGenitalia"
          allowText="textAreaValidator"
          defaultNull
          rows="3"
          name="externalGenitalia"
          formControlName="externalGenitalia"
          maxlength="300"
          (focus)="trackFieldInteraction('External Genitalia')"></textarea>
      </z-form-control>
    </z-form-field>
  </div>
</div>
