<div class="mt-4 flex flex-col gap-6" [formGroup]="generalDiagnosisForm">
  <div
    class="text-right"
    *ngIf="visitCategory === 'ANC'">
    <span
      z-form-message
      zType="error"
      class="text-base font-bold"
      *ngIf="showHRP === 'true' || complicationPregHRP === 'true'">
      ** {{ current_language_set?.highRiskPregnancy }} **
    </span>
  </div>

  <section class="flex flex-col gap-6">
    <!-- First Row -->
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      <z-form-field class="w-full">
        <label z-form-label for="gravida_G">{{
          current_language_set?.casesheet?.gravida
        }}</label>
        <z-form-control>
          <input
            z-input
            class="w-full"
            id="gravida_G"
            autocomplete="off"
            defaultNull
            allowText="number"
            maxlength="2"
            name="gravida_G"
            formControlName="gravida_G"
            [readonly]="true" />
        </z-form-control>
      </z-form-field>

      <z-form-field class="w-full">
        <label z-form-label for="duration">{{
          current_language_set?.casesheet?.periodPreg
        }}</label>
        <z-form-control>
          <input
            z-input
            class="w-full"
            id="duration"
            autocomplete="off"
            defaultNull
            name="duration"
            formControlName="duration"
            allowText="number"
            allowMax="10"
            [readonly]="true" />
        </z-form-control>
      </z-form-field>

      <z-form-field class="w-full">
        <label z-form-label for="complicationOfCurrentPregnancyList">{{
          current_language_set?.casesheet?.complications
        }}</label>
        <z-form-control>
          <z-select
            class="w-full"
            id="complicationOfCurrentPregnancyList"
            name="complicationOfCurrentPregnancyList"
            [zMultiple]="true"
            [zPlaceholder]="current_language_set?.casesheet?.complications || ''"
            [zValue]="selectedComplicationTypes"
            (zSelectionChange)="onComplicationChange($event)">
            <z-select-item
              *ngFor="let complication of masterData?.pregComplicationTypes"
              [zValue]="complication.pregComplicationType"
              [zDisabled]="
                !showAllPregComplication &&
                ((disableNonePregnancyComplication &&
                  (complication.pregComplicationType === 'None' ||
                    complication.pregComplicationType === 'Nil')) ||
                  (!disableNonePregnancyComplication &&
                    (complication.pregComplicationType !== 'None' ||
                      complication.pregComplicationType !== 'Nil')))
              ">
              {{ complication.pregComplicationType }}
            </z-select-item>
          </z-select>
        </z-form-control>
      </z-form-field>

      <z-form-field class="w-full" *ngIf="showOtherPregnancyComplication">
        <label z-form-label for="otherCurrPregComplication">{{
          current_language_set?.common?.otherComplication
        }}</label>
        <z-form-control>
          <input
            z-input
            class="w-full"
            id="otherCurrPregComplication"
            autocomplete="off"
            defaultNull
            allowText="alphaspace"
            maxlength="50"
            name="otherCurrPregComplication"
            formControlName="otherCurrPregComplication" />
        </z-form-control>
      </z-form-field>
    </div>

    <!-- Second Row -->
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <z-form-field class="w-full">
        <label z-form-label for="highRiskStatus">{{
          current_language_set?.casesheet?.highStatus
        }}</label>
        <z-form-control>
          <textarea
            z-input
            class="min-h-20 w-full"
            id="highRiskStatus"
            allowText="textAreaValidator"
            defaultNull
            maxlength="300"
            name="highRiskStatus"
            formControlName="highRiskStatus"></textarea>
        </z-form-control>
      </z-form-field>

      <z-form-field class="w-full">
        <label z-form-label for="highRiskCondition">{{
          current_language_set?.casesheet?.highCondition
        }}</label>
        <z-form-control>
          <textarea
            z-input
            class="min-h-20 w-full"
            id="highRiskCondition"
            allowText="textAreaValidator"
            defaultNull
            maxlength="300"
            name="highRiskCondition"
            formControlName="highRiskCondition"></textarea>
        </z-form-control>
      </z-form-field>
    </div>

    <!-- Third Row -->
    <div class="flex flex-col gap-3">
      <label z-form-label for="isMaternalDeath">{{
        current_language_set?.casesheet?.maternalDeath
      }}</label>
      <z-radio-group
        id="isMaternalDeath"
        name="isMaternalDeath"
        formControlName="isMaternalDeath"
        zOrientation="horizontal"
        class="gap-6"
        (zChange)="checkWithDeathDetails()">
        <z-radio [value]="true">Yes</z-radio>
        <z-radio [value]="false">No</z-radio>
      </z-radio-group>
    </div>

    <!-- Fourth Row -->
    <div
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
      *ngIf="generalDiagnosisForm.value.isMaternalDeath">
      <z-form-field class="w-full">
        <label z-form-label for="placeOfDeath">{{
          current_language_set?.casesheet?.placeOfDeath
        }}</label>
        <z-form-control>
          <input
            z-input
            class="w-full"
            id="placeOfDeath"
            autocomplete="off"
            defaultNull
            name="placeOfDeath"
            allowText="alphaspace"
            formControlName="placeOfDeath"
            maxlength="50" />
        </z-form-control>
      </z-form-field>

      <z-form-field class="w-full">
        <label z-form-label for="dateOfDeath">{{
          current_language_set?.casesheet?.dateOfDeath
        }}</label>
        <z-form-control>
          <z-date-picker
            id="dateOfDeath"
            class="w-full"
            formControlName="dateOfDeath"
            zFormat="dd/MM/yyyy"
            [minDate]="minimumDeathDate"
            [maxDate]="today"
            [placeholder]="current_language_set?.casesheet?.dateOfDeath || ''">
          </z-date-picker>
        </z-form-control>
      </z-form-field>

      <z-form-field class="w-full">
        <label z-form-label for="causeOfDeath">{{
          current_language_set?.casesheet?.causeOfDeath
        }}</label>
        <z-form-control>
          <input
            z-input
            class="w-full"
            id="causeOfDeath"
            autocomplete="off"
            defaultNull
            allowText="alphaspace"
            name="causeOfDeath"
            formControlName="causeOfDeath"
            maxlength="50" />
        </z-form-control>
      </z-form-field>
    </div>
  </section>
</div>
