<div
  class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
  [formGroup]="generalExaminationDataForm">
  <z-form-field>
    <label z-form-label for="consciousness">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.consciousness
    }}</label>
    <z-form-control>
      <z-select
        id="consciousness"
        class="w-full"
        name="consciousness"
        formControlName="consciousness"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.consciousness || ''
        "
        (zSelectionChange)="trackFieldInteraction('Consciousness')">
        <z-select-item
          *ngFor="let consciousness of selectConsciousness"
          [zValue]="consciousness.name">
          {{ consciousness.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field>
    <label z-form-label for="cooperation">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.cooperation
    }}</label>
    <z-form-control>
      <z-select
        id="cooperation"
        class="w-full"
        name="cooperation"
        formControlName="cooperation"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.cooperation || ''
        "
        (zSelectionChange)="trackFieldInteraction('Cooperation')">
        <z-select-item
          *ngFor="let cooperation of selectCooperation"
          [zValue]="cooperation.name">
          {{ cooperation.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field>
    <label z-form-label for="builtAndAppearance">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.built
    }}</label>
    <z-form-control>
      <z-select
        id="builtAndAppearance"
        class="w-full"
        name="builtAndAppearance"
        formControlName="builtAndAppearance"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.built || ''
        "
        (zSelectionChange)="trackFieldInteraction('Built')">
        <z-select-item *ngFor="let built of selectBuilt" [zValue]="built.name">
          {{ built.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <div class="flex flex-col gap-2">
    <label z-form-label for="coherence">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.coherence
    }}</label>
    <z-radio-group
      id="coherence"
      name="coherence"
      formControlName="coherence"
      zOrientation="horizontal"
      (zChange)="trackFieldInteraction('Coherence')">
      <z-radio [value]="'Coherent'">{{
        currentLanguageSet?.common?.coherent
      }}</z-radio>
      <z-radio [value]="'Incoherent'">{{
        currentLanguageSet?.common?.incoherent
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label for="comfortness">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.comfortness
    }}</label>
    <z-radio-group
      id="comfortness"
      name="comfortness"
      formControlName="comfortness"
      zOrientation="horizontal"
      (zChange)="trackFieldInteraction('Comfortness')">
      <z-radio [value]="'Comfortable'">{{
        currentLanguageSet?.common?.comfortable
      }}</z-radio>
      <z-radio [value]="'Uncomfortable'">{{
        currentLanguageSet?.common?.uncomfortable
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label for="gait">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.gait
    }}</label>
    <z-radio-group
      id="gait"
      name="gait"
      formControlName="gait"
      zOrientation="horizontal"
      (zChange)="trackFieldInteraction('Gait')">
      <z-radio [value]="'Normal'">{{
        currentLanguageSet?.common?.normal
      }}</z-radio>
      <z-radio [value]="'Limping'">{{
        currentLanguageSet?.common?.limping
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label for="dangerSigns">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.dangersigns
    }}</label>
    <z-radio-group
      id="dangerSigns"
      name="dangerSigns"
      formControlName="dangerSigns"
      zOrientation="horizontal"
      (zChange)="checkWithDangerSign(); trackFieldInteraction('Danger Signs')">
      <z-radio [value]="'Yes'">{{ currentLanguageSet?.common?.yes }}</z-radio>
      <z-radio [value]="'No'">{{ currentLanguageSet?.common?.no }}</z-radio>
    </z-radio-group>
  </div>

  <z-form-field [hidden]="dangerSigns !== 'Yes'">
    <label z-form-label for="typeOfDangerSigns">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.dangersigns
    }}</label>
    <z-form-control>
      <z-select
        id="typeOfDangerSigns"
        class="w-full"
        name="typeOfDangerSigns"
        formControlName="typeOfDangerSigns"
        [zMultiple]="true"
        [required]="dangerSigns === 'Yes'"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.dangersigns || ''
        ">
        <z-select-item
          *ngFor="let signs of selectDangerSigns"
          [zValue]="signs.name">
          {{ signs.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <div class="flex flex-col gap-2">
    <label z-form-label for="pallor">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.pallor
    }}</label>
    <z-radio-group
      id="pallor"
      name="pallor"
      formControlName="pallor"
      zOrientation="horizontal"
      (zChange)="trackFieldInteraction('Pallor')">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label for="jaundice">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.jaundice
    }}</label>
    <z-radio-group
      id="jaundice"
      name="jaundice"
      formControlName="jaundice"
      zOrientation="horizontal"
      (zChange)="trackFieldInteraction('Jaundice')">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label for="cyanosis">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.cyanosis
    }}</label>
    <z-radio-group
      id="cyanosis"
      name="cyanosis"
      formControlName="cyanosis"
      zOrientation="horizontal"
      (zChange)="trackFieldInteraction('Cyanosis')">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label for="clubbing">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.clubbing
    }}</label>
    <z-radio-group
      id="clubbing"
      name="clubbing"
      formControlName="clubbing"
      zOrientation="horizontal"
      (zChange)="trackFieldInteraction('Clubbing')">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label for="lymphadenopathy">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.lymphadenopathy
    }}</label>
    <z-radio-group
      id="lymphadenopathy"
      name="lymphadenopathy"
      formControlName="lymphadenopathy"
      zOrientation="horizontal"
      (zChange)="
        checkWithLymphadenopathy(); trackFieldInteraction('Lymphadenopathy')
      ">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <z-form-field [hidden]="lymphadenopathy !== 'Present'">
    <label z-form-label for="lymphnodesInvolved">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.lymph
    }}</label>
    <z-form-control>
      <z-select
        id="lymphnodesInvolved"
        class="w-full"
        name="lymphnodesInvolved"
        formControlName="lymphnodesInvolved"
        [required]="lymphadenopathy === 'Present'"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.lymph || ''
        ">
        <z-select-item
          *ngFor="let lymphNodes of selectLymphNodes"
          [zValue]="lymphNodes.name">
          {{ lymphNodes.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field [hidden]="lymphadenopathy !== 'Present'">
    <label z-form-label for="typeOfLymphadenopathy">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.typeofLymphadenopathy
    }}</label>
    <z-form-control>
      <z-select
        id="typeOfLymphadenopathy"
        class="w-full"
        name="typeOfLymphadenopathy"
        formControlName="typeOfLymphadenopathy"
        [required]="lymphadenopathy === 'Present'"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.typeofLymphadenopathy || ''
        ">
        <z-select-item
          *ngFor="let typeOfLymphadenopathy of selectTypeOfLymphadenopathy"
          [zValue]="typeOfLymphadenopathy.name">
          {{ typeOfLymphadenopathy.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <div class="flex flex-col gap-2">
    <label z-form-label for="edema">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.edema
    }}</label>
    <z-radio-group
      id="edema"
      name="edema"
      formControlName="edema"
      zOrientation="horizontal"
      (zChange)="checkWithEdema(); trackFieldInteraction('Edema')">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <z-form-field [hidden]="edema !== 'Present'">
    <label z-form-label for="extentOfEdema">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
        ?.genExamination?.extentofEdema
    }}</label>
    <z-form-control>
      <z-select
        id="extentOfEdema"
        class="w-full"
        name="extentOfEdema"
        formControlName="extentOfEdema"
        [required]="edema === 'Present'"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.extentofEdema || ''
        "
        (zSelectionChange)="trackFieldInteraction('Extent Of Edema')">
        <z-select-item
          *ngFor="let extentOfEdema of selectExtentOfEdema"
          [zValue]="extentOfEdema.name">
          {{ extentOfEdema.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <div class="flex flex-col gap-2" [hidden]="edema !== 'Present'">
    <label z-form-label for="edemaType"
      >{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.typeofEdema
      }}*</label
    >
    <z-radio-group
      id="edemaType"
      name="edemaType"
      formControlName="edemaType"
      zOrientation="horizontal"
      [required]="edema === 'Present'"
      (zChange)="trackFieldInteraction('Type Of Edema')">
      <z-radio [value]="'Pitting'">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.pitting
      }}</z-radio>
      <z-radio [value]="'Non-Pitting'">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.nonPitting
      }}</z-radio>
    </z-radio-group>
  </div>

  <ng-container *ngIf="hideForANCAndQC">
    <div class="flex flex-col gap-2">
      <label z-form-label for="quickening">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.quickening
      }}</label>
      <z-radio-group
        id="quickening"
        name="quickening"
        formControlName="quickening"
        zOrientation="horizontal"
        (zChange)="trackFieldInteraction('Quickening')">
        <z-radio [value]="'Present'">{{
          currentLanguageSet?.common?.present
        }}</z-radio>
        <z-radio [value]="'Absent'">{{
          currentLanguageSet?.common?.absent
        }}</z-radio>
      </z-radio-group>
    </div>

    <div class="flex flex-col gap-2">
      <label z-form-label for="foetalMovements">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.foetalmovements
      }}</label>
      <z-radio-group
        id="foetalMovements"
        name="foetalMovements"
        formControlName="foetalMovements"
        zOrientation="horizontal">
        <z-radio [value]="'Present'">{{
          currentLanguageSet?.common?.present
        }}</z-radio>
        <z-radio [value]="'Absent'">{{
          currentLanguageSet?.common?.absent
        }}</z-radio>
      </z-radio-group>
    </div>
  </ng-container>
</div>
