<div *ngIf="!hideBack" class="mx-auto w-full max-w-5xl px-4">
  <div class="flex items-center justify-between gap-4 py-2">
    <button z-button (click)="goBack()">
      {{ currentLanguageSet?.casesheet?.back }}
    </button>
    <button z-button (click)="printPage()">
      {{ currentLanguageSet?.casesheet?.print }}
    </button>
  </div>
</div>

<div class="print:hidden">
  <button
    z-button
    zSize="icon"
    [zTooltip]="currentLanguageSet?.casesheet?.workList"
    zPosition="left"
    class="fixed right-5 bottom-[30px] z-[3] rounded-full"
    (click)="goBack()"
    *ngIf="!hideBack">
    <ng-icon name="lucideChevronLeft"></ng-icon>
  </button>

  <button
    z-button
    zSize="icon"
    [zTooltip]="currentLanguageSet?.casesheet?.goTop"
    zPosition="left"
    class="fixed right-5 bottom-[80px] z-[3] rounded-full"
    (click)="goToTop()"
    *ngIf="!previous">
    <ng-icon name="lucideArrowUp"></ng-icon>
  </button>

  <button
    z-button
    zSize="icon"
    [zTooltip]="currentLanguageSet?.casesheet?.printCaseheet"
    zPosition="left"
    class="fixed right-5 bottom-[130px] z-[3] rounded-full"
    (click)="printPage()"
    *ngIf="!previous">
    <ng-icon name="lucidePrinter"></ng-icon>
  </button>

  <button
    z-button
    zSize="icon"
    [zTooltip]="currentLanguageSet?.casesheet?.caseComponent"
    zPosition="left"
    class="fixed right-5 bottom-[180px] z-[3] rounded-full"
    (click)="selectPrintPage()"
    *ngIf="!previous">
    <ng-icon name="lucideLayoutGrid"></ng-icon>
  </button>

  <button
    *ngIf="oncologistRemarks"
    z-button
    zSize="icon"
    [zTooltip]="currentLanguageSet?.common?.enterOncologistObservation"
    zPosition="right"
    class="fixed left-5 bottom-[30px] z-[3] rounded-full"
    (click)="getOncologistRemarks()">
    <ng-icon name="lucidePencil"></ng-icon>
  </button>
</div>
<div class="mt-[60px] print:hidden"></div>

<div>
  <app-cancer-doctor-diagnosis-case-sheet
    [printPagePreviewSelect]="printPagePreviewSelect"
    [caseSheetData]="caseSheetData"
    [previous]="previous"></app-cancer-doctor-diagnosis-case-sheet>
  <div class="break-after-page"></div>
  <ng-container *ngIf="printPagePreviewSelect.caseSheetHistory">
    <app-cancer-history-case-sheet
      [caseSheetData]="caseSheetData"
      [previous]="previous"></app-cancer-history-case-sheet>
    <div class="break-after-page"></div>
  </ng-container>
  <ng-container *ngIf="printPagePreviewSelect.caseSheetExamination">
    <app-cancer-examination-case-sheet
      [caseSheetData]="caseSheetData"
      [previous]="previous"></app-cancer-examination-case-sheet>
  </ng-container>
</div>
