<z-card [formGroup]="patientPNCDataForm" class="mt-2">
  <z-card-header>
    <z-card-title>{{ currentLanguageSet?.pncData?.pnc }}</z-card-title>
  </z-card-header>

  <z-card-content class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Place of delivery -->
    <z-form-field class="gap-1.5">
      <label z-form-label [zRequired]="true" for="placeOfDelivery">{{
        currentLanguageSet?.pncData?.placeofDelivery
      }}</label>
      <z-form-control>
        <z-select
          id="placeOfDelivery"
          class="w-full"
          [zPlaceholder]="currentLanguageSet?.pncData?.placeofDelivery"
          [zValue]="
            patientPNCDataForm.get('deliveryPlace')?.value?.deliveryPlace || ''
          "
          (zSelectionChange)="onDeliveryPlaceChange($event)">
          <z-select-item
            *ngFor="let place of masterData?.deliveryPlaces"
            [zValue]="place.deliveryPlace">
            {{ place.deliveryPlace }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <!-- Other place of delivery -->
    <z-form-field
      class="gap-1.5"
      *ngIf="deliveryPlace?.deliveryPlace === 'Other'">
      <label z-form-label for="otherPlaceOfDelivery">{{
        currentLanguageSet?.pncData?.others
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          maxlength="50"
          id="otherPlaceOfDelivery"
          name="otherPlaceOfDelivery"
          formControlName="otherDeliveryPlace" />
      </z-form-control>
    </z-form-field>

    <!-- Type of delivery -->
    <z-form-field class="gap-1.5">
      <label
        z-form-label
        [zRequired]="!!patientPNCDataForm.value.deliveryPlace"
        for="typeOfDelivery"
        >{{ currentLanguageSet?.pncData?.typeofDelivery }}</label
      >
      <z-form-control>
        <z-select
          id="typeOfDelivery"
          class="w-full"
          [zDisabled]="!patientPNCDataForm.value.deliveryPlace"
          [zPlaceholder]="currentLanguageSet?.pncData?.typeofDelivery"
          [zValue]="
            patientPNCDataForm.get('deliveryType')?.value?.deliveryType || ''
          "
          (zSelectionChange)="onDeliveryTypeChange($event)">
          <z-select-item
            *ngFor="let type of selectDeliveryTypes"
            [zValue]="type.deliveryType">
            {{ type.deliveryType }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <!-- Date of delivery -->
    <z-form-field class="gap-1.5">
      <label z-form-label for="dateOfDelivery">{{
        currentLanguageSet?.pncData?.dateofDelivery
      }}</label>
      <z-form-control>
        <z-date-picker
          id="dateOfDelivery"
          class="w-full"
          [(ngModel)]="deliveryDateModel"
          [ngModelOptions]="{ standalone: true }"
          zFormat="dd/MM/yyyy"
          [minDate]="minimumDeliveryDate"
          [maxDate]="today"
          [placeholder]="currentLanguageSet?.pncData?.dateofDelivery"
          (dateChange)="onDeliveryDateChange($event)"></z-date-picker>
      </z-form-control>
    </z-form-field>

    <!-- Delivery complication -->
    <z-form-field class="gap-1.5">
      <label z-form-label for="deliveryComplication">{{
        currentLanguageSet?.historyData?.obstetrichistory
          ?.deliverycomplicationtype
      }}</label>
      <z-form-control>
        <z-select
          id="deliveryComplication"
          class="w-full"
          [zPlaceholder]="
            currentLanguageSet?.historyData?.obstetrichistory
              ?.deliverycomplicationtype
          "
          [zValue]="
            patientPNCDataForm.get('deliveryComplication')?.value
              ?.deliveryComplicationType || ''
          "
          (zSelectionChange)="onDeliveryComplicationChange($event)">
          <z-select-item
            *ngFor="let complication of masterData?.deliveryComplicationTypes"
            [zValue]="complication.deliveryComplicationType">
            {{ complication.deliveryComplicationType }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <!-- Other delivery complication -->
    <z-form-field
      class="gap-1.5"
      *ngIf="deliveryComplication?.deliveryComplicationType === 'Other'">
      <label z-form-label for="othersDeliveryComplication">{{
        currentLanguageSet?.pncData?.others
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          maxlength="50"
          id="othersDeliveryComplication"
          name="othersDeliveryComplication"
          formControlName="otherDeliveryComplication" />
      </z-form-control>
    </z-form-field>

    <!-- Outcome of pregnancy -->
    <z-form-field class="gap-1.5">
      <label z-form-label for="outcomeOfPregnancy">{{
        currentLanguageSet?.pncData?.outcomeofpregnancy
      }}</label>
      <z-form-control>
        <z-select
          id="outcomeOfPregnancy"
          class="w-full"
          [zPlaceholder]="currentLanguageSet?.pncData?.outcomeofpregnancy"
          [zValue]="
            patientPNCDataForm.get('pregOutcome')?.value?.pregOutcome || ''
          "
          (zSelectionChange)="onPregOutcomeChange($event)">
          <z-select-item
            *ngFor="let outcome of masterData?.pregOutcomes"
            [zValue]="outcome.pregOutcome">
            {{ outcome.pregOutcome }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <!-- Post natal complication -->
    <z-form-field class="gap-1.5">
      <label z-form-label for="postNatalComplication">{{
        currentLanguageSet?.pncData?.postNatalComplication
      }}</label>
      <z-form-control>
        <z-select
          id="postNatalComplication"
          class="w-full"
          [zPlaceholder]="currentLanguageSet?.pncData?.postNatalComplication"
          [zValue]="
            patientPNCDataForm.get('postNatalComplication')?.value
              ?.complicationValue || ''
          "
          (zSelectionChange)="onPostNatalComplicationChange($event)">
          <z-select-item
            *ngFor="let complication of masterData?.postNatalComplications"
            [zValue]="complication.complicationValue">
            {{ complication.complicationValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <!-- Other post natal complication -->
    <z-form-field
      class="gap-1.5"
      *ngIf="postNatalComplication?.complicationValue === 'Other'">
      <label z-form-label for="otherPostNatalComplication">{{
        currentLanguageSet?.pncData?.others
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          maxlength="50"
          id="otherPostNatalComplication"
          name="otherPostNatalComplication"
          formControlName="otherPostNatalComplication" />
      </z-form-control>
    </z-form-field>

    <!-- Gestational age of newborn -->
    <z-form-field class="gap-1.5">
      <label z-form-label for="gestation">{{
        currentLanguageSet?.pncData?.gestationalAgeofNewborn
      }}</label>
      <z-form-control>
        <z-select
          id="gestation"
          class="w-full"
          [zPlaceholder]="currentLanguageSet?.pncData?.gestationalAgeofNewborn"
          [zValue]="
            patientPNCDataForm.get('gestationName')?.value?.name || ''
          "
          (zSelectionChange)="onGestationChange($event)">
          <z-select-item
            *ngFor="let gestation of masterData?.gestation"
            [zValue]="gestation.name">
            {{ gestation.name }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <!-- Birth weight -->
    <z-form-field class="gap-1.5">
      <label z-form-label for="birthWeight_kg">{{
        currentLanguageSet?.pncData?.birthWeight
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          maxlength="4"
          allowText="decimal"
          allowMax="6"
          id="birthWeight_kg"
          name="birthWeight_kg"
          formControlName="birthWeightOfNewborn"
          (keypress)="checkWeight()" />
      </z-form-control>
    </z-form-field>

    <!-- Newborn health status -->
    <z-form-field class="gap-1.5">
      <label z-form-label for="newBornHealthStatus">{{
        currentLanguageSet?.pncData?.newBornHealthStatus
      }}</label>
      <z-form-control>
        <z-select
          id="newBornHealthStatus"
          class="w-full"
          [zPlaceholder]="currentLanguageSet?.pncData?.newBornHealthStatus"
          [zValue]="
            patientPNCDataForm.get('newBornHealthStatus')?.value
              ?.newBornHealthStatus || ''
          "
          (zSelectionChange)="onNewBornHealthStatusChange($event)">
          <z-select-item
            *ngFor="
              let newBornHealthStatus of masterData?.newbornHealthStatuses
            "
            [zValue]="newBornHealthStatus.newBornHealthStatus">
            {{ newBornHealthStatus.newBornHealthStatus }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </z-card-content>
</z-card>
