<div class="mt-2.5">
  <label
    for="upload-file"
    class="text-sm text-muted-foreground"
    *ngIf="!disableFileSelection">
    {{ currentLanguageSet?.uploadFileSizeLimit }} :{{ maxFileSize }}
    {{ currentLanguageSet?.mb }} ,
    {{ currentLanguageSet?.supportedFileFormats }} )
  </label>

  <section class="mt-6 flex flex-wrap items-center gap-3">
    <button
      z-button
      type="button"
      [zDisabled]="disableFileSelection"
      (click)="triggerLog($event); trackFieldInteraction('Select File Button')">
      {{ currentLanguageSet?.nurseData?.visitDetailsForm?.selectFile }}
    </button>

    <input
      autocomplete="off"
      type="file"
      id="fileUpload"
      #filelist
      class="sr-only"
      (change)="uploadFile($event); trackFieldInteraction('File Input')" />

    <button
      z-button
      type="button"
      *ngIf="!disableFileSelection"
      (click)="
        checkForDuplicateUpload();
        trackFieldInteraction('Upload Files Button')
      ">
      {{ currentLanguageSet?.nurseData?.visitDetailsForm?.uploadFiles }}
    </button>

    <button
      z-button
      zType="outline"
      type="button"
      *ngIf="disableFileSelection || enableForNCDScreening"
      (click)="
        viewNurseSelectedFiles(); trackFieldInteraction('View Files Button')
      ">
      {{ currentLanguageSet?.nurseData?.visitDetailsForm?.viewFiles }}
    </button>
  </section>

  <div class="mt-5 flex flex-wrap gap-2" *ngIf="fileObj.length > 0">
    <z-badge
      *ngFor="let file of fileObj"
      [zType]="file.isUploaded ? 'success' : 'secondary'"
      class="gap-1.5">
      {{ file.fileName }}
      <button
        z-button
        zType="ghost"
        zSize="icon-xs"
        type="button"
        class="-mr-1 p-0"
        *ngIf="!file.isUploaded"
        [attr.aria-label]="'Remove ' + file.fileName"
        (click)="remove(file); trackFieldInteraction('Remove File Button')"
        (keydown.enter)="
          remove(file); trackFieldInteraction('Remove File Button')
        ">
        <ng-icon name="lucideX"></ng-icon>
      </button>
    </z-badge>
  </div>
</div>
