<z-accordion zType="multiple" class="space-y-6">
  <!-- Family Medical History -->
  <z-accordion-item
    expanded="true"
    zValue="family-medical"
    [zTitle]="
      currentLanguageSet?.historyData?.cancerScreeningHistory?.familyMedical
        ?.familyMedicalHistory
    "
    class="border-0 shadow-sm rounded-[2rem] overflow-hidden bg-white">
    <div class="p-8">
      <app-nurse-cancer-family-disease-history
        [mode]="mode"
        [cancerPatientFamilyMedicalHistoryForm]="
          cancerPatientFamilyMedicalHistoryForm
        ">
      </app-nurse-cancer-family-disease-history>
    </div>
  </z-accordion-item>

  <!-- Personal History -->
  <z-accordion-item
    zValue="personal-history"
    [zTitle]="
      currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
        ?.personalHistory
    "
    class="border-0 shadow-sm rounded-[2rem] overflow-hidden bg-white">
    <div class="p-8">
      <app-nurse-cancer-personal-history
        [cancerPatientPerosnalHistoryForm]="cancerPatientPerosnalHistoryForm">
      </app-nurse-cancer-personal-history>
    </div>
  </z-accordion-item>

  <!-- Obstetric History -->
  <z-accordion-item
    *ngIf="
      (templateBeneficiaryDetails?.genderName === 'Female' &&
        templateBeneficiaryDetails?.ageVal > 19) ||
      (templateBeneficiaryDetails?.genderName === 'Transgender' &&
        templateBeneficiaryDetails?.ageVal > 19)
    "
    zValue="obstetric-history"
    [zTitle]="
      currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
        ?.obstetricHistory
    "
    class="border-0 shadow-sm rounded-[2rem] overflow-hidden bg-white">
    <div class="p-8">
      <app-nurse-cancer-obstetric-history
        [cancerPatientObstetricHistoryForm]="cancerPatientObstetricHistoryForm"
        [ispregnant]="pregnancyStatus">
      </app-nurse-cancer-obstetric-history>
    </div>
  </z-accordion-item>
</z-accordion>
