<div class="flex flex-col gap-6 pt-4" [formGroup]="tmcConfirmationFormsGroup">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isTMCConfirmed" zRequired>
        {{ currentLanguageSet?.tmcConfirmed }}
      </label>
      <z-radio-group
        id="isTMCConfirmed"
        name="isTMCConfirmed"
        formControlName="tmcConfirmed"
        zOrientation="horizontal"
        class="gap-4"
        (zChange)="resetAdditionalServiceList({ value: $event })">
        <z-radio [value]="true">
          {{ currentLanguageSet?.common?.yes }}
        </z-radio>
        <z-radio [value]="false" [disabled]="disableNoOnSuccessOfYes">
          {{ currentLanguageSet?.common?.no }}
        </z-radio>
      </z-radio-group>
    </div>

    <ng-container *ngIf="showRadio">
      <div class="flex flex-col gap-1.5">
        <label z-form-label for="isDiabetic">
          {{ currentLanguageSet?.isDiabetesconfirmed }}
        </label>
        <z-radio-group
          id="isDiabetic"
          name="isDiabetic"
          formControlName="isDiabetic"
          zOrientation="horizontal"
          class="gap-4">
          <z-radio [value]="true" disabled>
            {{ currentLanguageSet?.common?.yes }}
          </z-radio>
          <z-radio [value]="false" disabled>
            {{ currentLanguageSet?.common?.no }}
          </z-radio>
        </z-radio-group>
      </div>

      <div class="flex flex-col gap-1.5">
        <label z-form-label for="isHypertensionConfirmed">
          {{ currentLanguageSet?.isHypertensionconfirmed }}
        </label>
        <z-radio-group
          id="isHypertensionConfirmed"
          name="isHypertensionConfirmed"
          formControlName="isHypertensionConfirmed"
          zOrientation="horizontal"
          class="gap-4">
          <z-radio [value]="true" disabled>
            {{ currentLanguageSet?.common?.yes }}
          </z-radio>
          <z-radio [value]="false" disabled>
            {{ currentLanguageSet?.common?.no }}
          </z-radio>
        </z-radio-group>
      </div>
    </ng-container>

    <z-form-field
      *ngIf="tmcConfirmationFormsGroup.value.tmcConfirmed === false"
      class="gap-1.5">
      <label z-form-label for="referredToInstituteName" zRequired>
        {{ currentLanguageSet?.Referdetails?.referredtoinstitute }}
      </label>
      <z-form-control>
        <z-select
          class="w-full"
          id="referredToInstituteName"
          name="referredToInstituteName"
          formControlName="refrredToAdditionalServiceList"
          [zLabel]="selectedInstituteLabel"
          [zPlaceholder]="currentLanguageSet?.Referdetails?.referredtoinstitute"
          (zSelectionChange)="onReferInstituteChange($event)">
          <z-select-item
            *ngFor="let center of higherHealthcareCenter"
            [zValue]="center.institutionID.toString()">
            {{ center.institutionName }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <div
      class="flex items-end"
      *ngIf="tmcConfirmationFormsGroup.value.tmcConfirmed === true">
      <button z-button zType="default" (click)="viewAndPrintCaseSheet()">
        {{ currentLanguageSet?.viewTMCaseSheet }}
      </button>
    </div>
  </div>

  <div
    class="w-full overflow-x-auto"
    *ngIf="prescribedDrugDataFromCaseSheet?.length > 0">
    <table z-table aria-describedby="tmPrescribedDrugTable">
      <thead z-table-header>
        <tr z-table-row>
          <th z-table-head id="sno">
            {{ currentLanguageSet?.casesheet?.serialNo }}
          </th>
          <th z-table-head id="nameOfDrug">
            {{ currentLanguageSet?.casesheet?.nameAndStrength }}
          </th>
          <th z-table-head id="drugType">
            {{ currentLanguageSet?.casesheet?.drugType }}
          </th>
          <th z-table-head id="form">{{ currentLanguageSet?.casesheet?.form }}</th>
          <th z-table-head id="dose">{{ currentLanguageSet?.casesheet?.dose }}</th>
          <th z-table-head id="frequency">
            {{ currentLanguageSet?.casesheet?.freq }}
          </th>
          <th z-table-head id="durationValue">
            {{ currentLanguageSet?.casesheet?.durValue }}
          </th>
          <th z-table-head id="durationUnit">
            {{ currentLanguageSet?.casesheet?.durUnit }}
          </th>
          <th z-table-head id="qtyPrescribed">
            {{ currentLanguageSet?.casesheet?.qtypresc }}
          </th>
          <th z-table-head id="instructions">
            {{ currentLanguageSet?.casesheet?.instruct }}
          </th>
        </tr>
      </thead>
      <tbody z-table-body>
        <tr
          z-table-row
          *ngIf="prescribedDrugDataFromCaseSheet?.length === 0">
          <td
            z-table-cell
            class="h-24 text-center text-muted-foreground"
            colspan="12">
            {{ currentLanguageSet?.common?.noRecordFound }}
          </td>
        </tr>
        <tr
          z-table-row
          *ngFor="let drug of prescribedDrugDataFromCaseSheet; let i = index">
          <td z-table-cell>{{ i + 1 }}</td>
          <td z-table-cell>{{ drug.drugName }} {{ drug.drugStrength }}</td>
          <td z-table-cell>{{ drug.isEDL ? 'EDL' : 'Non-EDL' }}</td>
          <td z-table-cell>{{ drug.formName }}</td>
          <td z-table-cell>{{ drug.dose }}</td>
          <td z-table-cell>{{ drug.frequency }}</td>
          <td z-table-cell>{{ drug.duration }}</td>
          <td z-table-cell>{{ drug.unit }}</td>
          <td z-table-cell>{{ drug.qtyPrescribed }}</td>
          <td z-table-cell>{{ drug.instructions }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
