<div class="bg-card text-card-foreground pb-12">
  <div class="mb-4">
    <p
      role="heading"
      aria-level="2"
      class="text-center text-xl font-semibold tracking-tight text-foreground">
      {{ currentLanguageSet?.ExaminationData?.examination }}
    </p>
    <hr class="mt-2 border-border" />
  </div>

  <!-- Symptoms -->
  <div class="mt-4">
    <p class="mb-2 text-base font-bold text-foreground">
      {{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.symptoms?.symptoms
      }}
    </p>
    <div class="overflow-x-auto">
      <table z-table aria-describedby="casesheet-table">
        <tbody z-table-body>
          <tr z-table-row>
            <th z-table-head class="w-1/4" id="shortnessofbreath">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.shortnessofbreath
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="signsAndSymptoms?.shortnessOfBreath === true">
                {{ currentLanguageSet?.covid?.yES }}
              </span>
              <span *ngIf="signsAndSymptoms?.shortnessOfBreath === false">
                {{ currentLanguageSet?.common?.no }}
              </span>
            </td>
            <th z-table-head class="w-1/4" id="coughweeks">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.coughweeks
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="signsAndSymptoms?.coughgt2Weeks === true">
                {{ currentLanguageSet?.covid?.yES }}
              </span>
              <span *ngIf="signsAndSymptoms?.coughgt2Weeks === false">
                {{ currentLanguageSet?.common?.no }}
              </span>
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="bloodinsputum">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.bloodinsputum
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="signsAndSymptoms?.bloodInSputum === true">
                {{ currentLanguageSet?.covid?.yES }}
              </span>
              <span *ngIf="signsAndSymptoms?.bloodInSputum === false">
                {{ currentLanguageSet?.common?.no }}
              </span>
            </td>
            <th z-table-head class="w-1/4" id="difficultyinopeningmouth">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.difficultyinopeningmouth
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="signsAndSymptoms?.difficultyInOpeningMouth === true">
                {{ currentLanguageSet?.covid?.yES }}
              </span>
              <span
                *ngIf="signsAndSymptoms?.difficultyInOpeningMouth === false">
                {{ currentLanguageSet?.common?.no }}
              </span>
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="changeInTheToneOfVoice">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.changeInTheToneOfVoice
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="signsAndSymptoms?.changeInTheToneOfVoice === true">
                {{ currentLanguageSet?.covid?.yES }}
              </span>
              <span *ngIf="signsAndSymptoms?.changeInTheToneOfVoice === false">
                {{ currentLanguageSet?.common?.no }}
              </span>
            </td>
            <th z-table-head class="w-1/4" id="nonhealing">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.nonhealing
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="
                  signsAndSymptoms?.nonHealingUlcerOrPatchOrGrowth === true
                ">
                {{ currentLanguageSet?.covid?.yES }}
              </span>
              <span
                *ngIf="
                  signsAndSymptoms?.nonHealingUlcerOrPatchOrGrowth === false
                ">
                {{ currentLanguageSet?.common?.no }}
              </span>
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="breastEnlargement">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.breastEnlargement
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="signsAndSymptoms?.breastEnlargement === true">
                {{ currentLanguageSet?.covid?.yES }}
              </span>
              <span *ngIf="signsAndSymptoms?.breastEnlargement === false">
                {{ currentLanguageSet?.common?.no }}
              </span>
            </td>
            <th z-table-head class="w-1/4" id="bloodstaineddischargefromnipple">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.bloodstaineddischargefromnipple
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="
                  signsAndSymptoms?.bloodStainedDischargeFromNipple === true
                ">
                {{ currentLanguageSet?.covid?.yES }}
              </span>
              <span
                *ngIf="
                  signsAndSymptoms?.bloodStainedDischargeFromNipple === false
                ">
                {{ currentLanguageSet?.common?.no }}
              </span>
            </td>
          </tr>

          <tr
            z-table-row
            *ngIf="
              beneficiaryDetails && beneficiaryDetails.genderName === 'Female'
            ">
            <th z-table-head class="w-1/4" id="vaginalbleedingbetweenperiods">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.vaginalbleedingbetweenperiods
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="signsAndSymptoms?.vaginalBleedingBetweenPeriods === true"
                >{{ currentLanguageSet?.common?.yes }}</span
              >
              <span
                *ngIf="
                  signsAndSymptoms?.vaginalBleedingBetweenPeriods === false
                "
                >{{ currentLanguageSet?.common?.no }}</span
              >
            </td>
            <th z-table-head class="w-1/4" id="foulsmellingvaginaldischarge">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.foulsmellingvaginaldischarge
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="signsAndSymptoms?.foulSmellingVaginalDischarge === true"
                >{{ currentLanguageSet?.common?.yes }}</span
              >
              <span
                *ngIf="signsAndSymptoms?.foulSmellingVaginalDischarge === false"
                >{{ currentLanguageSet?.common?.no }}</span
              >
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="changeinshapeandsizeofbreasts">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.changeinshapeandsizeofbreasts
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="signsAndSymptoms?.changeInShapeAndSizeOfBreasts === true"
                >{{ currentLanguageSet?.common?.yes }}</span
              >
              <span
                *ngIf="
                  signsAndSymptoms?.changeInShapeAndSizeOfBreasts === false
                "
                >{{ currentLanguageSet?.common?.no }}</span
              >
            </td>
            <th z-table-head class="w-1/4" id="lumpinbreast">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.symptoms?.lumpinbreast
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="signsAndSymptoms?.lumpInTheBreast === true">{{
                currentLanguageSet?.common?.yes
              }}</span>
              <span *ngIf="signsAndSymptoms?.lumpInTheBreast === false">{{
                currentLanguageSet?.common?.no
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-4" *ngIf="signsAndSymptoms?.lymphNode_Enlarged === true">
    <p class="mb-2 text-base font-bold text-foreground">
      {{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.symptoms?.lymphnodes
      }}
    </p>
    <div class="mt-4 overflow-x-auto">
      <table z-table zType="bordered" aria-describedby="BenCancerLymphNodeTbl">
        <thead z-table-header>
          <tr z-table-row>
            <th z-table-head id="sizeRight">
              {{ currentLanguageSet?.casesheet?.sizeRight }}
            </th>
            <th z-table-head id="mobilityRight">
              {{ currentLanguageSet?.casesheet?.mobilityRight }}
            </th>
            <th z-table-head id="lymphName">
              {{ currentLanguageSet?.casesheet?.lymphName }}
            </th>
            <th z-table-head id="mobiltyLeft">
              {{ currentLanguageSet?.casesheet?.mobiltyLeft }}
            </th>
            <th z-table-head id="sizeLeft">
              {{ currentLanguageSet?.casesheet?.sizeLeft }}
            </th>
          </tr>
        </thead>
        <tbody z-table-body>
          <tr z-table-row *ngFor="let lymphNodes of BenCancerLymphNodeDetails">
            <td z-table-cell>{{ lymphNodes.size_Right }}</td>
            <td z-table-cell>
              {{
                lymphNodes.mobility_Right === undefined
                  ? null
                  : lymphNodes.mobility_Right
                    ? '+'
                    : '-'
              }}
            </td>
            <td z-table-cell>{{ lymphNodes.lymphNodeName }}</td>
            <td z-table-cell>
              {{
                lymphNodes.mobility_Left === undefined
                  ? null
                  : lymphNodes.mobility_Left
                    ? '+'
                    : '-'
              }}
            </td>
            <td z-table-cell>{{ lymphNodes.size_Left }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Oral Examination -->
  <div class="mt-4">
    <p class="mb-2 text-base font-bold text-foreground">
      {{ currentLanguageSet?.casesheet?.oralExamination }}
    </p>
    <div class="overflow-x-auto">
      <table z-table aria-describedby="casesheetTbl">
        <tbody z-table-body>
          <tr z-table-row>
            <th z-table-head class="w-1/4" id="limitedmouthopening">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.oral?.limitedmouthopening
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              {{ oralExamination?.limitedMouthOpening }}
            </td>
            <th z-table-head class="w-1/4" id="premalignantLesions">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.oral?.premalignantLesions
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="oralExamination?.premalignantLesions === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="oralExamination?.premalignantLesions === false">
                {{ currentLanguageSet?.common?.no }}</span
              >
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="typeofPremalignantLesions">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.oral?.typeofPremalignantLesions
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              {{ oralExamination?.preMalignantLesionType }}
            </td>
            <th z-table-head class="w-1/4" id="prolongedirritation">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.oral?.prolongedirritation
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="oralExamination?.prolongedIrritation === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="oralExamination?.prolongedIrritation === false">
                {{ currentLanguageSet?.common?.no }}</span
              >
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="chronicburningsensation">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.oral?.chronicburningsensation
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="oralExamination?.chronicBurningSensation === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="oralExamination?.chronicBurningSensation === false">
                {{ currentLanguageSet?.common?.no }}</span
              >
            </td>
            <th z-table-head class="w-1/4" id="emp">&nbsp;</th>
            <td z-table-cell class="w-1/4">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <app-image-to-canvas
        [imgUrl]="oralImageUrl"
        [annotatedMarker]="
          imageAnnotatedData && getImageAnnotation(3)
        "></app-image-to-canvas>
    </div>
  </div>

  <!-- Breast Examination -->
  <div
    class="mt-4"
    *ngIf="
      (beneficiaryDetails && beneficiaryDetails.genderName === 'Female') ||
      signsAndSymptoms?.breastEnlargement === true
    ">
    <p class="mb-2 text-base font-bold text-foreground">
      {{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.breast?.breastExamination
      }}
    </p>
    <div class="overflow-x-auto">
      <table z-table aria-describedby="breastexamTbl">
        <tbody z-table-body>
          <tr
            z-table-row
            *ngIf="
              beneficiaryDetails && beneficiaryDetails.genderName === 'Female'
            ">
            <th z-table-head class="w-1/4" id="everbreastfedachild">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.everbreastfedachild
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="breastExamination?.everBreastFed === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="breastExamination?.everBreastFed === false">{{
                currentLanguageSet?.common?.no
              }}</span>
            </td>
            <th z-table-head class="w-1/4" id="durationofbreastfeeding">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.durationofbreastfeeding
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="
                  breastExamination?.breastFeedingDurationGTE6months === true
                ">
                {{
                  currentLanguageSet?.ExaminationData
                    ?.cancerScreeningExamination?.breast?.less6months
                }}
              </span>
              <span
                *ngIf="
                  breastExamination?.breastFeedingDurationGTE6months === false
                ">
                {{
                  currentLanguageSet?.ExaminationData
                    ?.cancerScreeningExamination?.breast?.greater6months
                }}</span
              >
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="breastsappearnormal">
              {{ currentLanguageSet?.casesheet?.brestFeed }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="breastExamination?.breastsAppear_Normal === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="breastExamination?.breastsAppear_Normal === false">{{
                currentLanguageSet?.common?.no
              }}</span>
            </td>
            <th z-table-head class="w-1/4" id="anyrashonthebreast">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.anyrashonthebreast
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="breastExamination?.rashOnBreast === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="breastExamination?.rashOnBreast === false">{{
                currentLanguageSet?.common?.no
              }}</span>
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="anydimplingofskinonthebreast">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.anydimplingofskinonthebreast
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="breastExamination?.dimplingSkinOnBreast === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="breastExamination?.dimplingSkinOnBreast === false">{{
                currentLanguageSet?.common?.no
              }}</span>
            </td>
            <th z-table-head class="w-1/4" id="anydischargefromthenipple">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.anydischargefromthenipple
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="breastExamination?.dischargeFromNipple === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="breastExamination?.dischargeFromNipple === false">{{
                currentLanguageSet?.common?.no
              }}</span>
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="peaudorange">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.peaudorange
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="breastExamination?.peaudOrange === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="breastExamination?.peaudOrange === false">{{
                currentLanguageSet?.common?.no
              }}</span>
            </td>
            <th z-table-head class="w-1/4" id="anylumpinbreast">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.anylumpinbreast
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="breastExamination?.lumpInBreast === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="breastExamination?.lumpInBreast === false">{{
                currentLanguageSet?.common?.no
              }}</span>
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="lumpSize">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.lumpSize
              }}:
            </th>
            <td z-table-cell class="w-1/4">{{ breastExamination?.lumpSize }}</td>
            <th z-table-head class="w-1/4" id="lumpTexture">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.lumpTexture
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              {{ breastExamination?.lumpTexture }}
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="lumpshape">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.lumpShape
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              {{ breastExamination?.lumpShape }}
            </td>
            <th z-table-head class="w-1/4" id="empty1">&nbsp;</th>
            <td z-table-cell class="w-1/4">&nbsp;</td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="referredtoMammogram">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.breast?.referredtoMammogram
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="breastExamination?.referredToMammogram === true">{{
                currentLanguageSet?.covid?.yES
              }}</span>
              <span *ngIf="breastExamination?.referredToMammogram === false">
                {{ currentLanguageSet?.common?.no }}</span
              >
            </td>
            <th z-table-head class="w-1/4" id="referredtoMammogramEmpty">
              &nbsp;
            </th>
            <td z-table-cell class="w-1/4">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <app-image-to-canvas
        [imgUrl]="breastImageUrl"
        [annotatedMarker]="
          imageAnnotatedData && getImageAnnotation(2)
        "></app-image-to-canvas>
    </div>
  </div>

  <!-- Abdominal Examination -->
  <div class="mt-4">
    <p class="mb-2 text-base font-bold text-foreground">
      {{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.abdominal?.abdominalExamination
      }}
    </p>
    <div class="overflow-x-auto">
      <table z-table aria-describedby="cancerscreenTbl">
        <tbody z-table-body>
          <tr z-table-row>
            <th z-table-head class="w-1/4" id="abdominalInspection">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.abdominalInspection
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="
                  abdominalExamination?.abdominalInspection_Normal === true
                ">
                {{ currentLanguageSet?.common?.normal }}
              </span>

              <span
                *ngIf="
                  abdominalExamination?.abdominalInspection_Normal === false
                "
                >{{ currentLanguageSet?.common?.abnormal }}
              </span>
            </td>
            <th z-table-head class="w-1/4" id="liver">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.liver
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              {{ abdominalExamination?.liver }}
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="ascites">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.ascites
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="abdominalExamination?.ascites_Present === true">{{
                currentLanguageSet?.common?.present
              }}</span>
              <span *ngIf="abdominalExamination?.ascites_Present === false">{{
                currentLanguageSet?.common?.absent
              }}</span>
            </td>
            <th z-table-head class="w-1/4" id="anyOtherMass">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.anyOtherMass
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="abdominalExamination?.anyOtherMass_Present === true"
                >{{ currentLanguageSet?.common?.present }}</span
              >
              <span
                *ngIf="abdominalExamination?.anyOtherMass_Present === false"
                >{{ currentLanguageSet?.common?.absent }}</span
              >
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="lymphnodeAbdominal">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.lymphnode
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="abdominalExamination?.lymphNodes_Enlarged === true">
                {{ currentLanguageSet?.common?.enlarged }}
              </span>
              <span *ngIf="abdominalExamination?.lymphNodes_Enlarged === false">
                {{ currentLanguageSet?.common?.notEnlarged }}
              </span>
            </td>
            <th z-table-head class="w-1/4" id="lymphnodeAbdominalEmpty">
              &nbsp;
            </th>
            <td z-table-cell class="w-1/4">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-4 overflow-x-auto">
      <table z-table zType="bordered" aria-describedby="abdominal">
        <thead z-table-header>
          <tr z-table-row>
            <th z-table-head id="rightPalpable">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.rightPalpable
              }}
            </th>
            <th z-table-head id="lymphnodeAbdominalHead">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.lymphnode
              }}
            </th>
            <th z-table-head id="leftPalpable">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.leftPalpable
              }}
            </th>
          </tr>
        </thead>
        <tbody z-table-body>
          <tr z-table-row>
            <td z-table-cell>
              {{
                abdominalExamination?.lymphNode_Inguinal_Right === undefined
                  ? null
                  : abdominalExamination?.lymphNode_Inguinal_Right
                    ? '+'
                    : '-'
              }}
            </td>
            <td z-table-cell>
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.inguinal
              }}
            </td>
            <td z-table-cell>
              {{
                abdominalExamination?.lymphNode_Inguinal_Left === undefined
                  ? null
                  : abdominalExamination?.lymphNode_Inguinal_Left
                    ? '+'
                    : '-'
              }}
            </td>
          </tr>
          <tr z-table-row>
            <td z-table-cell>
              {{
                abdominalExamination?.lymphNode_ExternalIliac_Right ===
                undefined
                  ? null
                  : abdominalExamination?.lymphNode_ExternalIliac_Right
                    ? '+'
                    : '-'
              }}
            </td>
            <td z-table-cell>
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.externalIliac
              }}
            </td>
            <td z-table-cell>
              {{
                abdominalExamination?.lymphNode_ExternalIliac_Left === undefined
                  ? null
                  : abdominalExamination?.lymphNode_ExternalIliac_Left
                    ? '+'
                    : '-'
              }}
            </td>
          </tr>
          <tr z-table-row>
            <td z-table-cell>
              {{
                abdominalExamination?.lymphNode_ParaAortic_Right === undefined
                  ? null
                  : abdominalExamination?.lymphNode_ParaAortic_Right
                    ? '+'
                    : '-'
              }}
            </td>
            <td z-table-cell>
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.abdominal?.paraAortic
              }}
            </td>
            <td z-table-cell>
              {{
                abdominalExamination?.lymphNode_ParaAortic_Left === undefined
                  ? null
                  : abdominalExamination?.lymphNode_ParaAortic_Left
                    ? '+'
                    : '-'
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="page-break"></div>

    <div class="mt-4">
      <app-image-to-canvas
        [imgUrl]="abdominalImageUrl"
        [annotatedMarker]="
          imageAnnotatedData && getImageAnnotation(1)
        "></app-image-to-canvas>
    </div>
  </div>

  <!-- Gynecological Examination -->
  <div
    class="mt-4"
    *ngIf="beneficiaryDetails && beneficiaryDetails.genderName === 'Female'">
    <p class="mb-2 text-base font-bold text-foreground">
      {{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.gynecological?.gynecologicalExamination
      }}
    </p>
    <div class="overflow-x-auto">
      <table z-table aria-describedby="cancerScreeningExaminationTbl">
        <tbody z-table-body>
          <tr z-table-row>
            <th z-table-head class="w-1/4" id="appearanceunderAceticAcid">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.gynecological?.appearanceunderAceticAcid
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              {{ gynecologicalExamination?.appearanceOfCervix }}
            </td>
            <th z-table-head class="w-1/4" id="typeoflesion">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.gynecological?.typeoflesion
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              {{ gynecologicalExamination?.typeOfLesion }}
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="vulvalInvolvement">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.gynecological?.vulvalInvolvement
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="gynecologicalExamination?.vulvalInvolvement === true"
                >{{ currentLanguageSet?.common?.involved }}</span
              >
              <span
                *ngIf="gynecologicalExamination?.vulvalInvolvement === false"
                >{{ currentLanguageSet?.common?.noInvolved }}</span
              >
            </td>
            <th z-table-head class="w-1/4" id="vaginalInvolvement">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.gynecological?.vaginalInvolvement
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="gynecologicalExamination?.vaginalInvolvement === true"
                >{{ currentLanguageSet?.common?.involved }}</span
              >
              <span
                *ngIf="gynecologicalExamination?.vaginalInvolvement === false"
                >{{ currentLanguageSet?.common?.noInvolved }}</span
              >
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="uterus">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.gynecological?.uterus
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span *ngIf="gynecologicalExamination?.uterus_Normal === true">{{
                currentLanguageSet?.common?.normal
              }}</span>
              <span *ngIf="gynecologicalExamination?.uterus_Normal === false">{{
                currentLanguageSet?.common?.enlarged
              }}</span>
            </td>
            <th z-table-head class="w-1/4" id="sufferedfromanyRTI">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.gynecological?.sufferedfromanyRTI
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="gynecologicalExamination?.sufferedFromRTIOrSTI === true"
                >{{ currentLanguageSet?.covid?.yES }}</span
              >
              <span
                *ngIf="gynecologicalExamination?.sufferedFromRTIOrSTI === false"
                >{{ currentLanguageSet?.common?.no }}</span
              >
            </td>
          </tr>

          <tr z-table-row>
            <th z-table-head class="w-1/4" id="specify">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.gynecological?.specify
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              {{ gynecologicalExamination?.rTIOrSTIDetail }}
            </td>
            <th z-table-head class="w-1/4" id="experiencedPostcoitalbleeding">
              {{
                currentLanguageSet?.ExaminationData?.cancerScreeningExamination
                  ?.gynecological?.experiencedPostcoitalbleeding
              }}:
            </th>
            <td z-table-cell class="w-1/4">
              <span
                *ngIf="
                  gynecologicalExamination?.experiencedPostCoitalBleeding ===
                  true
                "
                >{{ currentLanguageSet?.covid?.yES }}</span
              >
              <span
                *ngIf="
                  gynecologicalExamination?.experiencedPostCoitalBleeding ===
                  false
                "
                >{{ currentLanguageSet?.common?.no }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <app-image-to-canvas
        [imgUrl]="gynecologicalImageUrl"
        [annotatedMarker]="
          imageAnnotatedData && getImageAnnotation(4)
        "></app-image-to-canvas>
    </div>
  </div>
</div>
<div class="bg-card text-card-foreground pb-12">
  <div>
    <p
      role="heading"
      aria-level="2"
      class="text-center text-xl font-semibold tracking-tight text-foreground">
      {{ currentLanguageSet?.Referdetails?.revisitAndRefer }}
    </p>
    <hr class="mt-2 border-border" />
    <div class="mt-4 overflow-x-auto">
      <table z-table aria-describedby="diagnosisTbl">
        <tbody z-table-body>
          <tr z-table-row>
            <th z-table-head id="hhc">
              {{ currentLanguageSet?.Referdetails?.referredtoinstitute }}:
            </th>
            <td z-table-cell>{{ diagnosisdetails?.referredToInstituteName }}</td>
          </tr>
          <tr z-table-row>
            <th z-table-head id="Additionalservice">
              {{ currentLanguageSet?.Referdetails?.additionalservices }}:
            </th>
            <td z-table-cell>{{ diagnosisdetails?.refrredToAdditionalService }}</td>
          </tr>
          <tr z-table-row>
            <th z-table-head id="Referralreason">
              {{ currentLanguageSet?.Referdetails?.referralReason }}:
            </th>
            <td z-table-cell>{{ diagnosisdetails?.referralReason }}</td>
          </tr>
          <tr z-table-row>
            <th z-table-head id="RevisitDate">
              {{ currentLanguageSet?.Referdetails?.revisitAndRefer }}:
            </th>
            <td z-table-cell>{{ diagnosisdetails?.revisitDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
