<div
  class="grid grid-cols-1 gap-6 pt-5 md:grid-cols-2 lg:grid-cols-3"
  [formGroup]="cardioVascularSystemDataForm">
  <div class="flex flex-col gap-3">
    <label z-form-label for="jugularVenousPulse_JVP">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.jugularVenousPressure
    }}</label>
    <z-radio-group
      id="jugularVenousPulse_JVP"
      name="jugularVenousPulse_JVP"
      formControlName="jugularVenousPulse_JVP"
      zOrientation="horizontal"
      class="gap-6"
      (zChange)="trackFieldInteraction('Jugular Venous Pressure')">
      <z-radio [value]="'Normal'">{{
        currentLanguageSet?.common?.normal
      }}</z-radio>
      <z-radio [value]="'Elevated'">{{
        currentLanguageSet?.common?.elevated
      }}</z-radio>
    </z-radio-group>
  </div>

  <z-form-field class="md:col-span-2 lg:col-span-3">
    <label z-form-label for="apexbeatLocation">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.apexBeatLocation
    }}</label>
    <z-form-control>
      <textarea
        z-input
        id="apexbeatLocation"
        class="w-full"
        allowText="textAreaValidator"
        defaultNull
        name="apexbeatLocation"
        formControlName="apexbeatLocation"
        maxlength="300"
        (focus)="trackFieldInteraction('Apex Beat Location')"></textarea>
    </z-form-control>
  </z-form-field>

  <z-form-field class="md:col-span-2 lg:col-span-3">
    <label z-form-label for="apexbeatType">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.apexBeatType
    }}</label>
    <z-form-control>
      <textarea
        z-input
        id="apexbeatType"
        class="w-full"
        allowText="textAreaValidator"
        defaultNull
        name="apexbeatType"
        formControlName="apexbeatType"
        maxlength="300"
        (focus)="trackFieldInteraction('Apex Beat Type')"></textarea>
    </z-form-control>
  </z-form-field>

  <z-form-field class="md:col-span-2 lg:col-span-3">
    <label z-form-label for="firstHeartSound_S1">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.firstHeartSound
    }}</label>
    <z-form-control>
      <textarea
        z-input
        id="firstHeartSound_S1"
        class="w-full"
        allowText="textAreaValidator"
        defaultNull
        name="firstHeartSound_S1"
        formControlName="firstHeartSound_S1"
        maxlength="300"
        (focus)="trackFieldInteraction('First Heart Sound')"></textarea>
    </z-form-control>
  </z-form-field>

  <z-form-field class="md:col-span-2 lg:col-span-3">
    <label z-form-label for="secondHeartSound_S2">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.secondHeartSound
    }}</label>
    <z-form-control>
      <textarea
        z-input
        id="secondHeartSound_S2"
        class="w-full"
        allowText="textAreaValidator"
        defaultNull
        name="secondHeartSound_S2"
        formControlName="secondHeartSound_S2"
        maxlength="300"
        (focus)="trackFieldInteraction('Second Heart Sound')"></textarea>
    </z-form-control>
  </z-form-field>

  <z-form-field class="md:col-span-2 lg:col-span-3">
    <label z-form-label for="additionalHeartSounds">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.otherHeartSounds
    }}</label>
    <z-form-control>
      <textarea
        z-input
        id="additionalHeartSounds"
        class="w-full"
        allowText="textAreaValidator"
        defaultNull
        name="additionalHeartSounds"
        formControlName="additionalHeartSounds"
        maxlength="300"
        (focus)="trackFieldInteraction('Additional Heart Sounds')"></textarea>
    </z-form-control>
  </z-form-field>

  <div class="flex flex-col gap-3">
    <label z-form-label for="murmurs">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.murmurs
    }}</label>
    <z-radio-group
      id="murmurs"
      name="murmurs"
      formControlName="murmurs"
      zOrientation="horizontal"
      class="gap-6"
      (zChange)="trackFieldInteraction('Murmurs')">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-3">
    <label z-form-label for="pericardialRub">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.pericardialrub
    }}</label>
    <z-radio-group
      id="pericardialRub"
      name="pericardialRub"
      formControlName="pericardialRub"
      zOrientation="horizontal"
      class="gap-6"
      (zChange)="trackFieldInteraction('Pericardial Rub')">
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>
</div>
