<div class="flex items-center justify-end gap-2">
  <span class="text-sm font-medium text-foreground">{{
    currentLanguageSet?.historyData?.obstetrichistory?.previousObstetricHist
  }}</span>
  <button
    type="button"
    z-button
    zType="ghost"
    zSize="icon-sm"
    id="previousANCPastObstetricHistory"
    [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
    zPosition="top"
    aria-label="{{ currentLanguageSet?.DurationData?.previousDetails }}"
    (click)="getPreviousObstetricHistory()">
    <ng-icon name="lucideHistory"></ng-icon>
  </button>
</div>

<div
  class="flex flex-col gap-6"
  [formGroup]="pastObstericHistoryForm">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field class="w-full">
      <label z-form-label for="totalNoOfPreg">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
          ?.totalNumberofPregnancies
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          id="totalNoOfPreg"
          autocomplete="off"
          appDefaultNull
          name="totalNoOfPreg "
          allowText="number"
          allowMax="10"
          [attr.readonly]="visitCategory === 'ANC' ? 'readonly' : null"
          formControlName="totalNoOfPreg"
          (blur)="checkTotalPregnancy(totalNoOfPreg)" />
      </z-form-control>
    </z-form-field>
  </div>

  <div *ngIf="totalNoOfPreg > 0" class="flex flex-col gap-2">
    <span class="text-sm font-medium text-foreground">{{
      currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
        ?.orderofPregnancy
    }}</span>
    <div
      class="flex flex-wrap items-center gap-x-6 gap-y-2"
      formArrayName="complicationPregList">
      <ng-container
        *ngFor="
          let number of getComplicationPregList();
          let i = index;
          trackBy: trackComplication
        "
        [formGroupName]="i">
        <z-checkbox
          formControlName="value"
          name="complicationPreg"
          (zCheckedChange)="togglePastObstericHistory({ checked: $event }, i + 1)">
          {{ i + 1 }}
        </z-checkbox>
      </ng-container>
    </div>
  </div>

  <div class="flex flex-col gap-4" formArrayName="pastObstericHistoryList">
    <z-card
      class="w-full"
      *ngFor="
        let pastObstericHistory of getPastObstericHistoryList();
        let i = index
      ">
      <z-card-content class="p-6" [formGroupName]="i">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
          <z-form-field class="w-full">
            <label z-form-label [attr.for]="'pregOrder' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.number
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full"
                [id]="'pregOrder' + i"
                autocomplete="off"
                appDefaultNull
                name="pregOrder"
                formControlName="pregOrder"
                [readonly]="true" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="w-full">
            <label z-form-label [attr.for]="'complicationDuringPregnancy' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.complicationduringPregnancy
            }}</label>
            <z-form-control>
              <z-select
                class="w-full"
                [id]="'complicationDuringPregnancy' + i"
                name="complicationDuringPregnancy"
                [zMultiple]="true"
                [zPlaceholder]="
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.complicationduringPregnancy || ''
                "
                [zValue]="getPregComplicationValues(pastObstericHistory)"
                (zSelectionChange)="
                  onPregComplicationChange(pastObstericHistory, $event, i)
                ">
                <z-select-item
                  *ngFor="
                    let complication of masterData?.pregComplicationTypes
                  "
                  [zValue]="complication.pregComplicationType"
                  [zDisabled]="
                    !complicationOptionConstraints[i]
                      .showAllPregComplication &&
                    ((complication?.pregComplicationType === 'None' &&
                      complicationOptionConstraints[i]
                        ?.disableNonePregnancyComplication) ||
                      (complication?.pregComplicationType !== 'None' &&
                        !complicationOptionConstraints[i]
                          .disableNonePregnancyComplication))
                  ">
                  {{ complication.pregComplicationType }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="w-full"
            *ngIf="
              complicationOptionConstraints[i]?.showOtherPregnancyComplication
            ">
            <label z-form-label [attr.for]="'otherPregComplication' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.others
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full"
                [id]="'otherPregComplication' + i"
                autocomplete="off"
                appDefaultNull
                allowText="alphaspace"
                maxlength="50"
                name="others"
                formControlName="otherPregComplication" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="w-full">
            <label z-form-label [attr.for]="'outcomeOfPregnancy' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.outcomeofpregnancy
            }}</label>
            <z-form-control>
              <z-select
                class="w-full"
                [id]="'outcomeOfPregnancy' + i"
                name="outcomeOfPregnancy"
                [zPlaceholder]="
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.outcomeofpregnancy || ''
                "
                [zValue]="getPregOutcomeLabel(pastObstericHistory)"
                (zSelectionChange)="
                  onPregOutcomeChange(pastObstericHistory, $event)
                ">
                <z-select-item
                  *ngFor="let outcome of masterData?.pregOutcomes"
                  [zValue]="outcome.pregOutcome">
                  {{ outcome.pregOutcome }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <ng-container
            *ngIf="
              pastObstericHistory.value.pregOutcome?.pregOutcome === 'Abortion'
            ">
            <z-form-field class="w-full">
              <label z-form-label [attr.for]="'typeOfAbortion' + i">{{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                  ?.typeOfAbortion
              }}</label>
              <z-form-control>
                <z-select
                  class="w-full"
                  [id]="'typeOfAbortion' + i"
                  name="typeOfAbortion"
                  [zPlaceholder]="
                    currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                      ?.typeOfAbortion || ''
                  "
                  [zValue]="getAbortionTypeLabel(pastObstericHistory)"
                  (zSelectionChange)="
                    onAbortionTypeChange(pastObstericHistory, $event)
                  ">
                  <z-select-item
                    *ngFor="let abortion of masterData?.typeOfAbortion"
                    [zValue]="abortion.complicationValue">
                    {{ abortion.complicationValue }}
                  </z-select-item>
                </z-select>
              </z-form-control>
            </z-form-field>

            <z-form-field
              class="w-full"
              *ngIf="
                pastObstericHistory.value.abortionType?.complicationValue ===
                'Induced'
              ">
              <label z-form-label [attr.for]="'typeofFacility' + i">{{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                  ?.typeofFacility
              }}</label>
              <z-form-control>
                <z-select
                  class="w-full"
                  [id]="'typeofFacility' + i"
                  name="typeofFacility"
                  [zPlaceholder]="
                    currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                      ?.typeofFacility || ''
                  "
                  [zValue]="getTypeofFacilityLabel(pastObstericHistory)"
                  (zSelectionChange)="
                    onTypeofFacilityChange(pastObstericHistory, $event)
                  ">
                  <z-select-item
                    *ngFor="let type of masterData?.serviceFacilities"
                    [zValue]="type.facilityName">
                    {{ type.facilityName }}
                  </z-select-item>
                </z-select>
              </z-form-control>
            </z-form-field>

            <z-form-field class="w-full">
              <label z-form-label [attr.for]="'durationOfType' + i">{{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                  ?.noOfcompletedWeeks
              }}</label>
              <z-form-control>
                <input
                  z-input
                  class="w-full"
                  [id]="'durationOfType' + i"
                  autocomplete="off"
                  (change)="checkDurationType(pastObstericHistory)"
                  name="durationOfType"
                  allowText="number"
                  formControlName="pregDuration"
                  [required]="
                    pastObstericHistory.value.pregOutcome?.pregOutcome ===
                    'Abortion'
                  " />
              </z-form-control>
            </z-form-field>

            <z-form-field class="w-full">
              <label z-form-label [attr.for]="'complicationPostAbortion' + i">{{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                  ?.complicationPostAbortion
              }}</label>
              <z-form-control>
                <z-select
                  class="w-full"
                  [id]="'complicationPostAbortion' + i"
                  name="complicationPostAbortion"
                  [zMultiple]="true"
                  [zPlaceholder]="
                    currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                      ?.complicationPostAbortion || ''
                  "
                  [zValue]="getPostAbortionValues(pastObstericHistory)"
                  (zSelectionChange)="
                    onPostAbortionChange(pastObstericHistory, $event, i)
                  ">
                  <z-select-item
                    *ngFor="
                      let complicationAbortion of masterData?.postAbortionComplications
                    "
                    [zValue]="complicationAbortion.complicationValue"
                    [zDisabled]="
                      !complicationOptionConstraints[i]
                        .showAllPostComplication &&
                      (((complicationAbortion?.complicationValue === 'None' ||
                        complicationAbortion?.complicationValue === 'Nil') &&
                        complicationOptionConstraints[i]
                          ?.disableNonePostComplication) ||
                        (complicationAbortion?.complicationValue !== 'None' &&
                          complicationAbortion?.complicationValue !== 'Nil' &&
                          !complicationOptionConstraints[i]
                            .disableNonePostComplication))
                    ">
                    {{ complicationAbortion.complicationValue }}
                  </z-select-item>
                </z-select>
              </z-form-control>
            </z-form-field>
          </ng-container>

          <z-form-field
            class="w-full"
            *ngIf="
              pastObstericHistory.value.pregOutcome?.pregOutcome !== 'Abortion'
            ">
            <label z-form-label [attr.for]="'durationOfPregnancy' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.durationofPregnancy
            }}</label>
            <z-form-control>
              <z-select
                class="w-full"
                [id]="'durationOfPregnancy' + i"
                name="durationOfPregnancy"
                [zPlaceholder]="
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.durationofPregnancy || ''
                "
                [zValue]="getDurationTypeLabel(pastObstericHistory)"
                (zSelectionChange)="
                  onDurationTypeChange(pastObstericHistory, $event)
                ">
                <z-select-item
                  *ngFor="let duration of masterData?.pregDuration"
                  [zValue]="duration.durationType">
                  {{ duration.durationType }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <ng-container
            *ngIf="
              pastObstericHistory.value.pregOutcome?.pregOutcome !== 'Abortion'
            ">
            <z-form-field class="w-full">
              <label z-form-label [attr.for]="'placeOfDelivery' + i">{{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                  ?.placeofDelivery
              }}</label>
              <z-form-control>
                <z-select
                  class="w-full"
                  [id]="'placeOfDelivery' + i"
                  name="placeOfDelivery"
                  [zPlaceholder]="
                    currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                      ?.placeofDelivery || ''
                  "
                  [zValue]="getDeliveryPlaceLabel(pastObstericHistory)"
                  (zSelectionChange)="
                    onDeliveryPlaceChange(pastObstericHistory, $event)
                  ">
                  <z-select-item
                    *ngFor="let place of masterData?.deliveryPlaces"
                    [zValue]="place.deliveryPlace">
                    {{ place.deliveryPlace }}
                  </z-select-item>
                </z-select>
              </z-form-control>
            </z-form-field>

            <z-form-field
              class="w-full"
              *ngIf="
                pastObstericHistory.value.deliveryPlace?.deliveryPlace ===
                'Other'
              ">
              <label z-form-label [attr.for]="'otherPlaceOfDelivery' + i">{{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                  ?.others
              }}</label>
              <z-form-control>
                <input
                  z-input
                  class="w-full"
                  [id]="'otherPlaceOfDelivery' + i"
                  autocomplete="off"
                  appDefaultNull
                  maxlength="50"
                  allowText="alphaspace"
                  name="otherPlaceOfDelivery"
                  formControlName="otherDeliveryPlace" />
              </z-form-control>
            </z-form-field>
          </ng-container>

          <z-form-field
            class="w-full"
            *ngIf="
              pastObstericHistory.value.pregOutcome?.pregOutcome !== 'Abortion'
            ">
            <label z-form-label [attr.for]="'typeOfDelivery' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.deliveryType
            }}</label>
            <z-form-control>
              <z-select
                class="w-full"
                [id]="'typeOfDelivery' + i"
                name="typeOfDelivery"
                [zDisabled]="!pastObstericHistory.value.deliveryPlace"
                [zPlaceholder]="
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.deliveryType || ''
                "
                [zValue]="getDeliveryTypeLabel(pastObstericHistory)"
                (zSelectionChange)="
                  onDeliveryTypeChange(pastObstericHistory, $event)
                ">
                <z-select-item
                  *ngFor="let type of selectDeliveryTypes"
                  [zValue]="type.deliveryType"
                  [zDisabled]="
                    pastObstericHistory.value?.deliveryPlace?.deliveryPlace ===
                      'Subcentre' &&
                    type.deliveryType === 'Cesarean Section (LSCS)'
                  ">
                  {{ type.deliveryType }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <ng-container
            *ngIf="
              pastObstericHistory.value.pregOutcome?.pregOutcome !== 'Abortion'
            ">
            <z-form-field class="w-full">
              <label z-form-label [attr.for]="'deliveryComplication' + i">{{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                  ?.deliveryComplication
              }}</label>
              <z-form-control>
                <z-select
                  class="w-full"
                  [id]="'deliveryComplication' + i"
                  name="deliveryComplication"
                  [zMultiple]="true"
                  [zPlaceholder]="
                    currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                      ?.deliveryComplication || ''
                  "
                  [zValue]="getDeliveryComplicationValues(pastObstericHistory)"
                  (zSelectionChange)="
                    onDeliveryComplicationChange(pastObstericHistory, $event, i)
                  ">
                  <z-select-item
                    *ngFor="
                      let complication of masterData?.deliveryComplicationTypes
                    "
                    [zValue]="complication.deliveryComplicationType"
                    [zDisabled]="
                      !complicationOptionConstraints[i]
                        .showAllDeliveryComplication &&
                      (((complication?.deliveryComplicationType === 'None' ||
                        complication?.deliveryComplicationType === 'Nil') &&
                        complicationOptionConstraints[i]
                          ?.disableNoneDeliveryComplication) ||
                        (complication?.deliveryComplicationType !== 'None' &&
                          complication?.deliveryComplicationType !== 'Nil' &&
                          !complicationOptionConstraints[i]
                            .disableNoneDeliveryComplication))
                    ">
                    {{ complication.deliveryComplicationType }}
                  </z-select-item>
                </z-select>
              </z-form-control>
            </z-form-field>

            <z-form-field
              class="w-full"
              *ngIf="
                complicationOptionConstraints[i]?.showOtherDeliveryComplication
              ">
              <label z-form-label [attr.for]="'othersDeliveryComplication' + i">{{
                currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                  ?.others
              }}</label>
              <z-form-control>
                <input
                  z-input
                  class="w-full"
                  [id]="'othersDeliveryComplication' + i"
                  autocomplete="off"
                  appDefaultNull
                  maxlength="50"
                  allowText="alphaspace"
                  name="othersDeliveryComplication"
                  formControlName="otherDeliveryComplication" />
              </z-form-control>
            </z-form-field>
          </ng-container>

          <z-form-field class="w-full">
            <label z-form-label [attr.for]="'postpartumComplication' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.postpartumComplication
            }}</label>
            <z-form-control>
              <z-select
                class="w-full"
                [id]="'postpartumComplication' + i"
                name="postpartumComplication"
                [zMultiple]="true"
                [zPlaceholder]="
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.postpartumComplication || ''
                "
                [zValue]="getPostpartumComplicationValues(pastObstericHistory)"
                (zSelectionChange)="
                  onPostpartumComplicationChange(pastObstericHistory, $event, i)
                ">
                <z-select-item
                  *ngFor="
                    let complication of masterData?.postpartumComplicationTypes
                  "
                  [zValue]="complication.postpartumComplicationType"
                  [zDisabled]="
                    !complicationOptionConstraints[i]
                      .showAllPostpartumComplication &&
                    (((complication?.postpartumComplicationType === 'None' ||
                      complication?.postpartumComplicationType === 'Nil') &&
                      complicationOptionConstraints[i]
                        ?.disableNonePostpartumComplication) ||
                      (complication?.postpartumComplicationType !== 'None' &&
                        complication?.postpartumComplicationType !== 'Nil' &&
                        !complicationOptionConstraints[i]
                          .disableNonePostpartumComplication))
                  ">
                  {{ complication.postpartumComplicationType }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="w-full"
            *ngIf="
              complicationOptionConstraints[i]?.showOtherPostpartumComplication
            ">
            <label z-form-label [attr.for]="'otherPostpartumComplication' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.others
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full"
                [id]="'otherPostpartumComplication' + i"
                autocomplete="off"
                appDefaultNull
                maxlength="50"
                allowText="alphaspace"
                name="otherPostpartumComplication"
                formControlName="otherPostpartumCompType" />
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="w-full"
            *ngIf="
              pastObstericHistory.value.pregOutcome?.pregOutcome ===
              'Live Birth'
            ">
            <label z-form-label [attr.for]="'newBornComplications' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.newBornComplication
            }}</label>
            <z-form-control>
              <z-select
                class="w-full"
                [id]="'newBornComplications' + i"
                name="newBornComplications"
                [zPlaceholder]="
                  currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                    ?.newBornComplication || ''
                "
                [zValue]="getNewBornComplicationLabel(pastObstericHistory)"
                (zSelectionChange)="
                  onNewBornComplicationChange(pastObstericHistory, $event)
                ">
                <z-select-item
                  *ngFor="let complication of masterData?.newBornComplications"
                  [zValue]="complication.complicationValue">
                  {{ complication.complicationValue }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="w-full"
            *ngIf="
              pastObstericHistory.value.newBornComplication
                ?.complicationValue === 'Other'
            ">
            <label z-form-label [attr.for]="'otherNewBornComplication' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.others
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full"
                [id]="'otherNewBornComplication' + i"
                autocomplete="off"
                appDefaultNull
                maxlength="50"
                allowText="alphaspace"
                name="otherNewBornComplication"
                formControlName="otherNewBornComplication" />
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="w-full"
            *ngIf="
              pastObstericHistory.value.pregOutcome?.pregOutcome ===
              'Live Birth'
            ">
            <label z-form-label [attr.for]="'congenitalAnomalies' + i">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.congenitalAnomalies
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full"
                [id]="'congenitalAnomalies' + i"
                autocomplete="off"
                appDefaultNull
                maxlength="50"
                allowText="alphaspace"
                name="congenitalAnomalies"
                formControlName="congenitalAnomalies" />
            </z-form-control>
          </z-form-field>
        </div>
      </z-card-content>
    </z-card>
  </div>
</div>
