<div [formGroup]="patientCovidForm" class="flex flex-col gap-6">
  <div
    class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
    <label z-form-label for="travelStatus">
      {{ currentLanguageSet?.travel?.haveyouTravelledlast14days }} *
    </label>
    <z-radio-group
      formControlName="travelStatus"
      name="travelStatus"
      zOrientation="horizontal"
      id="travelStatus"
      class="gap-6"
      (zChange)="travelStatuschange($event)">
      <z-radio [value]="'true'">{{ currentLanguageSet?.common?.yes }}</z-radio>
      <z-radio [value]="'false'">{{ currentLanguageSet?.common?.no }}</z-radio>
    </z-radio-group>
  </div>

  <div *ngIf="istravelStatus" class="flex flex-col gap-4">
    <div class="flex flex-col gap-3">
      <p class="text-base font-semibold tracking-tight text-foreground">
        {{ currentLanguageSet?.travel?.travelType }}
      </p>

      <div *ngIf="readTravel === false" class="flex flex-col gap-2">
        <z-checkbox
          *ngFor="let travel of travelTypeList"
          name="travelType"
          (zCheckedChange)="onChange(travel, { target: { checked: $event } })">
          {{ travel }}
        </z-checkbox>
      </div>

      <div *ngIf="readTravel === true" class="flex flex-col gap-2">
        <z-checkbox name="travelType" [zChecked]="domtravel" [disabled]="true">
          {{ currentLanguageSet?.travel?.domestic }}
        </z-checkbox>
        <z-checkbox name="travelType" [zChecked]="intertravel" [disabled]="true">
          {{ currentLanguageSet?.travel?.international }}
        </z-checkbox>
      </div>
    </div>

    <!-- Travel-mode detail cards -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <!-- Domestic -->
      <z-card *ngIf="istravelModeDomestic" class="w-full">
        <z-card-content class="flex flex-col gap-4 p-6">
          <z-card-title class="text-center text-base">
            {{ currentLanguageSet?.travel?.domestic }}
          </z-card-title>

          <z-form-field>
            <label z-form-label for="modeOfTravelDomestic">{{
              currentLanguageSet?.travel?.modeofTravel
            }}</label>
            <z-form-control>
              <z-select
                id="modeOfTravelDomestic"
                class="w-full"
                name="modeOfTravelDomestic"
                formControlName="modeOfTravelDomestic"
                [zPlaceholder]="currentLanguageSet?.travel?.modeofTravel || ''"
                (zSelectionChange)="traveldomesticStatuschange($event)">
                <z-select-item *ngFor="let type of domestictype" [zValue]="type"
                  >{{ type }}</z-select-item
                >
              </z-select>
            </z-form-control>
          </z-form-field>

          <p class="text-sm font-semibold text-foreground">
            {{ currentLanguageSet?.travel?.locationTravelledFrom }}
          </p>

          <z-form-field>
            <label z-form-label for="fromStateDom">{{
              currentLanguageSet?.travel?.state
            }}</label>
            <z-form-control>
              <z-select
                id="fromStateDom"
                class="w-full"
                name="fromStateDom"
                formControlName="fromStateDom"
                [zPlaceholder]="currentLanguageSet?.travel?.state || ''"
                (zSelectionChange)="GetDistrictsFromDom(+$event)">
                <z-select-item
                  *ngFor="let state of states"
                  [zValue]="state.stateID.toString()">
                  {{ state.stateName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field>
            <label z-form-label for="fromDistrictDom">{{
              currentLanguageSet?.travel?.district
            }}</label>
            <z-form-control>
              <z-select
                id="fromDistrictDom"
                class="w-full"
                name="fromDistrictDom"
                formControlName="fromDistrictDom"
                [zPlaceholder]="currentLanguageSet?.travel?.district || ''"
                (zSelectionChange)="GetSubDistrictFromDom(+$event)">
                <z-select-item
                  *ngFor="let district of districtsFromDom"
                  [zValue]="district.districtID.toString()">
                  {{ district.districtName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field>
            <label z-form-label for="fromSubDistrictDom">{{
              currentLanguageSet?.travel?.subDistrict
            }}</label>
            <z-form-control>
              <z-select
                id="fromSubDistrictDom"
                class="w-full"
                name="fromSubDistrictDom"
                formControlName="fromSubDistrictDom"
                [zPlaceholder]="currentLanguageSet?.travel?.subDistrict || ''"
                (zSelectionChange)="getVillage(+$event)">
                <z-select-item
                  *ngFor="let item of subDistrictsFromDom"
                  [zValue]="item.blockID.toString()">
                  {{ item.blockName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <p class="text-sm font-semibold text-foreground">
            {{ currentLanguageSet?.travel?.locationTravelledTo }}
          </p>

          <z-form-field>
            <label z-form-label for="toStateDom">{{
              currentLanguageSet?.travel?.state
            }}</label>
            <z-form-control>
              <z-select
                id="toStateDom"
                class="w-full"
                name="toStateDom"
                formControlName="toStateDom"
                [zPlaceholder]="currentLanguageSet?.travel?.state || ''"
                (zSelectionChange)="GetDistrictsToDom(+$event)">
                <z-select-item
                  *ngFor="let state of states"
                  [zValue]="state.stateID.toString()">
                  {{ state.stateName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field>
            <label z-form-label for="toDistrictDom">{{
              currentLanguageSet?.travel?.district
            }}</label>
            <z-form-control>
              <z-select
                id="toDistrictDom"
                class="w-full"
                name="toDistrictDom"
                formControlName="toDistrictDom"
                [zPlaceholder]="currentLanguageSet?.travel?.district || ''"
                (zSelectionChange)="getSubDistrictToDom(+$event)">
                <z-select-item
                  *ngFor="let district of districtsToDom"
                  [zValue]="district.districtID.toString()">
                  {{ district.districtName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field>
            <label z-form-label for="toSubDistrictDom">{{
              currentLanguageSet?.travel?.subDistrict
            }}</label>
            <z-form-control>
              <z-select
                id="toSubDistrictDom"
                class="w-full"
                name="toSubDistrictDom"
                formControlName="toSubDistrictDom"
                [zPlaceholder]="currentLanguageSet?.travel?.subDistrict || ''"
                (zSelectionChange)="getVillageTosubDistrictDom(+$event)">
                <z-select-item
                  *ngFor="let item of subDistrictsToDom"
                  [zValue]="item.blockID.toString()">
                  {{ item.blockName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>
        </z-card-content>
      </z-card>

      <!-- International -->
      <z-card *ngIf="istravelModeInternatinal" class="w-full">
        <z-card-content class="flex flex-col gap-4 p-6">
          <z-card-title class="text-center text-base">
            {{ currentLanguageSet?.travel?.international }}
          </z-card-title>

          <z-form-field>
            <label z-form-label for="modeOfTravelInter">{{
              currentLanguageSet?.travel?.modeofTravel
            }}</label>
            <z-form-control>
              <z-select
                id="modeOfTravelInter"
                class="w-full"
                name="modeOfTravelInter"
                formControlName="modeOfTravelInter"
                [zPlaceholder]="currentLanguageSet?.travel?.modeofTravel || ''"
                (zSelectionChange)="travelinternationalStatuschange($event)">
                <z-select-item
                  *ngFor="let type of internationaltype"
                  [zValue]="type"
                  >{{ type }}</z-select-item
                >
              </z-select>
            </z-form-control>
          </z-form-field>

          <p class="text-sm font-semibold text-foreground">
            {{ currentLanguageSet?.travel?.locationTravelledFrom }}
          </p>

          <z-form-field>
            <label z-form-label for="fromCountryInter">{{
              currentLanguageSet?.travel?.country
            }}</label>
            <z-form-control>
              <z-select
                id="fromCountryInter"
                class="w-full"
                name="fromCountryInter"
                formControlName="fromCountryInter"
                [zPlaceholder]="currentLanguageSet?.travel?.country || ''"
                (zSelectionChange)="getCitiesFromInter(+$event)">
                <z-select-item
                  *ngFor="let country of countries"
                  [zValue]="country.countryID.toString()">
                  {{ country.countryName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field>
            <label z-form-label for="fromCityInter">{{
              currentLanguageSet?.travel?.city
            }}</label>
            <z-form-control>
              <z-select
                id="fromCityInter"
                class="w-full"
                name="fromCityInter"
                formControlName="fromCityInter"
                [zPlaceholder]="currentLanguageSet?.travel?.city || ''"
                (zSelectionChange)="CitiesFromInter(+$event)">
                <z-select-item
                  *ngFor="let city of citiesFromInter"
                  [zValue]="city.cityID.toString()">
                  {{ city.cityName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <p class="text-sm font-semibold text-foreground">
            {{ currentLanguageSet?.travel?.locationTravelledTo }}
          </p>

          <z-form-field>
            <label z-form-label for="toCountryInter">{{
              currentLanguageSet?.travel?.country
            }}</label>
            <z-form-control>
              <z-select
                id="toCountryInter"
                class="w-full"
                name="toCountryInter"
                formControlName="toCountryInter"
                [zPlaceholder]="currentLanguageSet?.travel?.country || ''"
                (zSelectionChange)="getCitiesToInter(+$event)">
                <z-select-item
                  *ngFor="let country of countries"
                  [zValue]="country.countryID.toString()">
                  {{ country.countryName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field>
            <label z-form-label for="toCityInter">{{
              currentLanguageSet?.travel?.city
            }}</label>
            <z-form-control>
              <z-select
                id="toCityInter"
                class="w-full"
                name="toCityInter"
                formControlName="toCityInter"
                [zPlaceholder]="currentLanguageSet?.travel?.city || ''"
                (zSelectionChange)="CitiesToInter(+$event)">
                <z-select-item
                  *ngFor="let city of citiesToInter"
                  [zValue]="city.cityID.toString()">
                  {{ city.cityName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>
        </z-card-content>
      </z-card>
    </div>
  </div>

  <!-- Outcome -->
  <div class="flex flex-col gap-4">
    <p class="text-base font-semibold tracking-tight text-foreground">
      {{ currentLanguageSet?.travel?.outcome }}
    </p>

    <z-form-field class="sm:max-w-md">
      <label z-form-label for="suspectedStatusUI">{{
        currentLanguageSet?.travel?.suspectedCOVID
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          name="suspectedStatusUI"
          id="suspectedStatusUI"
          formControlName="suspectedStatusUI"
          [value]="suspectedCovid"
          readonly />
      </z-form-control>
    </z-form-field>

    <z-form-field class="sm:max-w-md">
      <label z-form-label for="recommendation"
        >{{ currentLanguageSet?.travel?.recommendation }} :</label
      >
      <z-form-control>
        <textarea
          z-input
          class="w-full"
          rows="6"
          [value]="recommendationText"
          id="recommendation"
          formControlName="recommendation"
          readonly></textarea>
      </z-form-control>
    </z-form-field>
  </div>
</div>
