<div class="mt-2.5 pt-8" [formGroup]="diseaseFormsGroup">
  <div
    class="flex flex-wrap content-center items-center gap-x-5 gap-y-1.5"
    formArrayName="diseaseFormsArray">
    <ng-container
      *ngFor="let item of getDiseaseFormArray(); let i = index"
      [formGroupName]="i">
      <z-checkbox
        formControlName="selected"
        (zCheckedChange)="checked($event, item)"
        [disabled]="isDoctor">
        {{ item.value.diseaseName }}
      </z-checkbox>
    </ng-container>
  </div>
</div>
