<ng-container [formGroup]="physicalActivityHistoryForm">
  <div class="flex items-center justify-end gap-2">
    <span class="text-sm font-semibold text-foreground">{{
      currentLanguageSet?.historyData?.ncdPhysicalActivityHistory
        ?.previousPhysicalActivityHistory
    }}</span>
    <button
      z-button
      zType="ghost"
      zSize="icon-sm"
      type="button"
      id="previousANCFamilyHistory"
      class="text-primary"
      [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
      [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
      (click)="getPreviousPhysicalActivityHistory()">
      <ng-icon name="lucideHistory"></ng-icon>
    </button>
  </div>

  <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
    <div class="flex flex-col gap-1.5">
      <label z-form-label for="physicalActivityType">{{
        currentLanguageSet?.historyData?.ncdPhysicalActivityHistory
          ?.physicalActivityType
      }}</label>
      <z-radio-group
        id="physicalActivityType"
        name="physicalActivityType"
        formControlName="physicalActivityType"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio value="Sedentary">{{
          currentLanguageSet?.historyData?.ncdPhysicalActivityHistory?.sedentary
        }}</z-radio>
        <z-radio value="Active">{{
          currentLanguageSet?.historyData?.ncdPhysicalActivityHistory?.active
        }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field class="gap-1.5 sm:col-span-2 lg:col-span-2">
      <label z-form-label for="activityType" [zRequired]="age >= 30">{{
        currentLanguageSet?.historyData?.ncdPhysicalActivityHistory
          ?.physcialActivityQuestions
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="activityType"
          name="physicalActivitQuestions"
          formControlName="activityType"
          (zSelectionChange)="
            calculateIDRSScore({ value: $event }, physicalActivityHistoryForm)
          ">
          <z-select-item
            *ngFor="let questions of physicalActivityQuestions"
            [zValue]="questions.activityType">
            {{ questions.activityType }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>
</ng-container>
