<div class="flex items-center justify-end gap-2">
  <span class="text-sm font-medium text-foreground">{{
    currentLanguageSet?.historyData?.Previousmenstrualhistory
      ?.previousmenstrualhistory
  }}</span>
  <button
    type="button"
    z-button
    zType="ghost"
    zSize="icon-sm"
    id="previousANCMenstrualHistory"
    [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
    zPosition="top"
    [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
    (click)="getPreviousMenstrualHistory()">
    <ng-icon name="lucideHistory"></ng-icon>
  </button>
</div>

<div
  class="flex flex-col gap-6"
  [formGroup]="menstrualHistoryForm">
  <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field class="w-full">
      <label z-form-label for="menstrualCycleStatus">{{
        currentLanguageSet?.historyData?.ancHistory?.menstrualHistoryANC
          ?.menstrualCycleStatus
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="menstrualCycleStatus"
          name="menstrualCycleStatus"
          [zPlaceholder]="
            currentLanguageSet?.historyData?.ancHistory?.menstrualHistoryANC
              ?.menstrualCycleStatus || ''
          "
          [zValue]="getMenstrualCycleStatusLabel()"
          (zSelectionChange)="onMenstrualCycleStatusChange($event)">
          <z-select-item
            *ngFor="let status of masterData?.menstrualCycleStatus"
            [zValue]="status.name">
            {{ status.name }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <ng-container *ngIf="menstrualCycleStatus?.name === 'Active'">
      <div class="flex flex-col gap-1.5">
        <label z-form-label for="regularityOfMenstrualCycles">{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
            ?.regularityofMenstrualCycles
        }}</label>
        <z-radio-group
          id="regularityOfMenstrualCycles"
          name="regularity"
          formControlName="regularity"
          zOrientation="horizontal"
          class="flex-wrap gap-6">
          <z-radio value="Regular">{{
            currentLanguageSet?.common?.regular
          }}</z-radio>
          <z-radio value="Irregular">{{
            currentLanguageSet?.common?.irregular
          }}</z-radio>
        </z-radio-group>
      </div>

      <z-form-field class="w-full">
        <label z-form-label for="cycleLength">{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
            ?.lengthofMenstrualCycle
        }}</label>
        <z-form-control>
          <z-select
            class="w-full"
            id="cycleLength"
            name="cycleLength"
            [zPlaceholder]="
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
                ?.lengthofMenstrualCycle || ''
            "
            [zValue]="getCycleLengthLabel()"
            (zSelectionChange)="onCycleLengthChange($event)">
            <z-select-item
              *ngFor="let cycleLength of masterData?.menstrualCycleLengths"
              [zValue]="cycleLength.menstrualCycleRange">
              {{ cycleLength.menstrualCycleRange }}
            </z-select-item>
          </z-select>
        </z-form-control>
      </z-form-field>

      <z-form-field class="w-full">
        <label z-form-label for="bloodFlowDuration">{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
            ?.menstrualBloodFlowDuration
        }}</label>
        <z-form-control>
          <z-select
            class="w-full"
            id="bloodFlowDuration"
            name="bloodFlowDuration"
            [zPlaceholder]="
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
                ?.menstrualBloodFlowDuration || ''
            "
            [zValue]="getBloodFlowDurationLabel()"
            (zSelectionChange)="onBloodFlowDurationChange($event)">
            <z-select-item
              *ngFor="
                let cycleDuration of masterData?.menstrualCycleBloodFlowDuration
              "
              [zValue]="cycleDuration.menstrualCycleRange">
              {{ cycleDuration.menstrualCycleRange }}
            </z-select-item>
          </z-select>
        </z-form-control>
      </z-form-field>
    </ng-container>

    <z-form-field
      class="w-full"
      *ngIf="
        menstrualCycleStatus?.name === 'Active' ||
        menstrualCycleStatus?.name === 'Amenorrhea'
      ">
      <label z-form-label for="menstrualProblemList">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
          ?.menstrualProblems
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="menstrualProblemList"
          name="problemName"
          [zMultiple]="true"
          [zPlaceholder]="
            currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
              ?.menstrualProblems || ''
          "
          [zValue]="getMenstrualProblemValues()"
          (zSelectionChange)="onMenstrualProblemChange($event)">
          <z-select-item
            *ngFor="let problem of masterData?.menstrualProblem"
            [zValue]="problem.problemName"
            [zDisabled]="
              (isNoneSelected && problem.problemName !== 'None') ||
              (isOtherSelected && problem.problemName === 'None')
            ">
            {{ problem.problemName }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="w-full">
      <label z-form-label for="lMPDate">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
          ?.lastMenstrualPeriod
      }}</label>
      <z-form-control>
        <z-date-picker
          class="w-full"
          id="lMPDate"
          name="lMPDate"
          formControlName="lMPDate"
          zFormat="dd/MM/yyyy"
          [placeholder]="
            currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
              ?.lastMenstrualPeriod || ''
          "
          [minDate]="minimumLMPDate"
          [maxDate]="today" />
      </z-form-control>
    </z-form-field>
  </div>
</div>
