<div class="flex flex-col gap-4 p-6">
  <div class="flex items-center justify-between gap-2">
    <p class="text-lg font-semibold text-foreground">
      {{ current_language_set?.allergenSearch?.allergenName }}
    </p>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      class="p-0"
      (click)="dialogRef.close()"
      [zTooltip]="current_language_set?.common?.close"
      zPosition="bottom"
      aria-label="Close">
      <ng-icon name="lucideX"></ng-icon>
    </button>
  </div>

  <div class="relative flex flex-col gap-4">
    <div
      *ngIf="showProgressBar"
      class="absolute inset-0 z-10 flex items-center justify-center bg-background/60">
      <z-loader class="size-8"></z-loader>
    </div>

    <div class="overflow-x-auto rounded-md border border-border">
      <table z-table>
        <thead z-table-header>
          <tr z-table-row>
            <th z-table-head>{{ current_language_set?.common?.ConceptID }}</th>
            <th z-table-head>{{ current_language_set?.common?.term }}</th>
            <th z-table-head class="w-16 text-center"></th>
          </tr>
        </thead>
        <tbody z-table-body>
          <tr z-table-row *ngFor="let element of pagedItems">
            <td z-table-cell>{{ element?.conceptID }}</td>
            <td z-table-cell>{{ element?.term }}</td>
            <td z-table-cell class="text-center">
              <z-radio-group
                class="items-center"
                [ngModel]="selectedItem"
                (ngModelChange)="onSelectElement(element)">
                <z-radio [value]="element?.term"></z-radio>
              </z-radio-group>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p
      *ngIf="componentsData.length === 0"
      class="text-center text-sm font-medium text-muted-foreground">
      {{ current_language_set?.noRecordsFound }}
    </p>

    <z-paginator
      [zData]="componentsData"
      [zShowPageSize]="false"
      (zPagedChange)="pagedItems = $event"></z-paginator>

    <div *ngIf="componentsData.length !== 0" class="flex justify-end">
      <button
        z-button
        zType="default"
        (click)="submitComponentList()"
        [disabled]="selectedComponent === null">
        {{ current_language_set?.common?.submit }}
      </button>
    </div>
  </div>
</div>
