<div class="mt-2.5 w-full">
  <app-cancer-case-record
    *ngIf="showCancer"
    [caseRecordMode]="caseRecordMode"
    [findings]="findings"
    [currentVitals]="currentVitals"
    [pregnancyStatus]="pregnancyStatus"
    [diagnosisForm]="patientCaseRecordForm"></app-cancer-case-record>
  <app-general-case-record
    *ngIf="showGeneralOPD"
    [caseRecordMode]="caseRecordMode"
    [findings]="findings"
    [currentVitals]="currentVitals"
    [generalCaseRecordForm]="patientCaseRecordForm"
    [visitCategory]="visitCategory"></app-general-case-record>
</div>
