<div class="max-w-7xl mx-auto p-6 animate-in fade-in duration-700">
  <div class="space-y-6">
    <app-cancer-case-record
      *ngIf="showCancer"
      [caseRecordMode]="caseRecordMode"
      [findings]="findings"
      [currentVitals]="currentVitals"
      [pregnancyStatus]="pregnancyStatus"
      [diagnosisForm]="patientCaseRecordForm"></app-cancer-case-record>

    <app-general-case-record
      *ngIf="showGeneralOPD"
      [caseRecordMode]="caseRecordMode"
      [findings]="findings"
      [currentVitals]="currentVitals"
      [generalCaseRecordForm]="patientCaseRecordForm"
      [visitCategory]="visitCategory"></app-general-case-record>
  </div>
</div>
