<div
  class="grid grid-cols-1 md:grid-cols-3 gap-6 pt-4"
  [formGroup]="patientVisitDetailsForm">
  <!-- Visit Code (View Mode only) -->
  <div *ngIf="mode?.toLowerCase() === 'view'">
    <z-form-field>
      <z-form-label>{{ currentLanguageSet?.Reports?.visitcode }}</z-form-label>
      <input
        z-input
        formControlName="visitCode"
        (focus)="trackFieldInteraction('Visit Code')"
        [disabled]="true"
        placeholder="N/A" />
    </z-form-field>
  </div>

  <!-- Reason for Visit -->
  <div>
    <z-form-field>
      <z-form-label>{{
        currentLanguageSet?.nurseData?.visitDetailsForm?.reasonForVisit
      }}</z-form-label>
      <z-select
        formControlName="visitReason"
        (zSelectionChange)="
          reasonSelected($event); trackFieldInteraction('Reason For Visit')
        "
        [zPlaceholder]="'Select reason'">
        <z-select-item
          *ngFor="let visitReasons of templateVisitReasons"
          [zValue]="visitReasons.visitReason">
          {{ visitReasons.visitReason }}
        </z-select-item>
      </z-select>
    </z-form-field>
  </div>

  <!-- Visit Category -->
  <div *ngIf="patientVisitDetailsForm!.controls['visitReason']?.value">
    <z-form-field>
      <z-form-label>{{
        currentLanguageSet?.nurseData?.visitDetailsForm?.visitCategory
      }}</z-form-label>
      <z-select
        formControlName="visitCategory"
        (zSelectionChange)="
          checkCategoryDependent($event);
          trackFieldInteraction('Visit Category')
        "
        [zPlaceholder]="'Select category'">
        <z-select-item
          *ngFor="let VisitCategories of templateFilterVisitCategories"
          [zValue]="VisitCategories.visitCategory">
          {{ VisitCategories.visitCategory }}
        </z-select-item>
      </z-select>
    </z-form-field>
  </div>

  <!-- Pregnancy Status -->
  <div
    *ngIf="
      showPregnancyStatus &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== null &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== undefined &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== 'PNC'
    ">
    <z-form-field>
      <z-form-label>{{
        currentLanguageSet?.nurseData?.visitDetailsForm?.pregnancyStatus
      }}</z-form-label>
      <z-select
        id="pregnancyStatus"
        formControlName="pregnancyStatus"
        [zDisabled]="
          patientVisitDetailsForm.controls['visitCategory'].value === 'ANC'
        "
        (zSelectionChange)="trackFieldInteraction('Pregnancy Status')"
        [zPlaceholder]="'Select status'">
        <z-select-item
          *ngFor="let pregnancyStatus of templatePregnancyStatus"
          [zValue]="pregnancyStatus">
          {{ pregnancyStatus }}
        </z-select-item>
      </z-select>
    </z-form-field>
  </div>

  <!-- MCTS Or RCH ID -->
  <div
    *ngIf="
      patientVisitDetailsForm!.controls['pregnancyStatus']?.value &&
      patientVisitDetailsForm!.controls['pregnancyStatus']?.value === 'Yes' &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== 'PNC'
    ">
    <z-form-field>
      <z-form-label>{{
        currentLanguageSet?.nurseData?.visitDetailsForm?.MCTSOrRCHID
      }}</z-form-label>
      <input
        z-input
        appDefaultNull
        allowText="number"
        maxlength="20"
        formControlName="rCHID"
        (focus)="trackFieldInteraction('MCTS Or RCH ID')"
        placeholder="Enter ID" />
    </z-form-field>
  </div>
</div>
