<div
  class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
  [formGroup]="patientVisitDetailsForm">
  <z-form-field
    class="gap-1"
    *ngIf="mode?.toLowerCase() === 'view'">
    <label z-form-label for="visitCode">{{
      currentLanguageSet?.Reports?.visitcode
    }}</label>
    <z-form-control>
      <input
        z-input
        class="w-full"
        id="visitCode"
        name="visitCode"
        formControlName="visitCode"
        (focus)="trackFieldInteraction('Visit Code')" />
    </z-form-control>
  </z-form-field>

  <z-form-field class="gap-1">
    <label z-form-label zRequired for="visitReason">{{
      currentLanguageSet?.nurseData?.visitDetailsForm?.reasonForVisit
    }}</label>
    <z-form-control>
      <z-select
        class="w-full"
        id="visitReason"
        name="visitReason"
        formControlName="visitReason"
        [zPlaceholder]="
          currentLanguageSet?.nurseData?.visitDetailsForm?.reasonForVisit || ''
        "
        (zSelectionChange)="
          reasonSelected(patientVisitDetailsForm.controls['visitReason'].value);
          trackFieldInteraction('Reason For Visit')
        ">
        <z-select-item
          *ngFor="let visitReasons of templateVisitReasons"
          [zValue]="visitReasons.visitReason">
          {{ visitReasons.visitReason }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field
    class="gap-1"
    *ngIf="patientVisitDetailsForm!.controls['visitReason']?.value">
    <label z-form-label zRequired for="visitCategory">{{
      currentLanguageSet?.nurseData?.visitDetailsForm?.visitCategory
    }}</label>
    <z-form-control>
      <z-select
        class="w-full"
        id="visitCategory"
        name="visitCategory"
        formControlName="visitCategory"
        [zPlaceholder]="
          currentLanguageSet?.nurseData?.visitDetailsForm?.visitCategory || ''
        "
        (zSelectionChange)="
          checkCategoryDependent(
            patientVisitDetailsForm.controls['visitCategory'].value
          );
          trackFieldInteraction('Visit Category')
        ">
        <z-select-item
          *ngFor="let VisitCategories of templateFilterVisitCategories"
          [zValue]="VisitCategories.visitCategory">
          {{ VisitCategories.visitCategory }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field
    class="gap-1"
    *ngIf="
      showPregnancyStatus &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== null &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== undefined &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== 'PNC'
    ">
    <label z-form-label for="pregnancyStatus">{{
      currentLanguageSet?.nurseData?.visitDetailsForm?.pregnancyStatus
    }}</label>
    <z-form-control>
      <z-select
        class="w-full"
        id="pregnancyStatus"
        name="pregnancyStatus"
        formControlName="pregnancyStatus"
        [attr.readonly]="
          patientVisitDetailsForm.controls['visitCategory'].value === 'ANC'
        "
        [zPlaceholder]="
          currentLanguageSet?.nurseData?.visitDetailsForm?.pregnancyStatus || ''
        "
        (zSelectionChange)="trackFieldInteraction('Pregnancy Status')">
        <z-select-item
          *ngFor="let pregnancyStatus of templatePregnancyStatus"
          [zValue]="pregnancyStatus">
          {{ pregnancyStatus }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field
    class="gap-1"
    *ngIf="
      patientVisitDetailsForm!.controls['pregnancyStatus']?.value &&
      patientVisitDetailsForm!.controls['pregnancyStatus']?.value === 'Yes' &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== 'PNC'
    ">
    <label z-form-label for="rCHID">{{
      currentLanguageSet?.nurseData?.visitDetailsForm?.MCTSOrRCHID
    }}</label>
    <z-form-control>
      <input
        z-input
        class="w-full"
        id="rCHID"
        autocomplete="off"
        appDefaultNull
        allowText="number"
        maxlength="20"
        name="rCHID"
        formControlName="rCHID"
        (focus)="trackFieldInteraction('MCTS Or RCH ID')" />
    </z-form-control>
  </z-form-field>
</div>
