<div
  class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
  [formGroup]="obstetricExaminationForANCDataForm">
  <z-form-field>
    <label z-form-label for="fundalHeight">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fundalHeight
    }}</label>
    <z-form-control>
      <z-select
        id="fundalHeight"
        class="w-full"
        name="fundalHeight"
        formControlName="fundalHeight"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
            ?.obstetric?.fundalHeight || ''
        ">
        <z-select-item
          *ngFor="let fundalHeight of selectFundalHeight"
          [zValue]="fundalHeight.name">
          {{ fundalHeight.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field>
    <label z-form-label for="fHAndPOA_Status">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fHandPOAStatus
    }}</label>
    <z-form-control>
      <z-select
        id="fHAndPOA_Status"
        class="w-full"
        name="fHAndPOA_Status"
        formControlName="fHAndPOA_Status"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
            ?.obstetric?.fHandPOAStatus || ''
        ">
        <z-select-item
          *ngFor="let FHPOAStatus of selectFHPOAStatus"
          [zValue]="FHPOAStatus.name">
          {{ FHPOAStatus.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field>
    <label z-form-label for="fHAndPOA_Interpretation">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.interpretationFHandPOA
    }}</label>
    <z-form-control>
      <z-select
        id="fHAndPOA_Interpretation"
        class="w-full"
        name="fHAndPOA_Interpretation"
        formControlName="fHAndPOA_Interpretation"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
            ?.obstetric?.interpretationFHandPOA || ''
        ">
        <z-select-item
          *ngFor="let interpretationFHAndPOA of selectInterpretationFHAndPOA"
          [zValue]="interpretationFHAndPOA.name">
          {{ interpretationFHAndPOA.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <div class="flex flex-col gap-2">
    <label z-form-label for="fetalMovements">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fetalMovements
    }}</label>
    <z-radio-group
      id="fetalMovements"
      name="fetalMovements"
      formControlName="fetalMovements"
      zOrientation="horizontal"
      required>
      <z-radio [value]="'Present'">{{
        currentLanguageSet?.common?.present
      }}</z-radio>
      <z-radio [value]="'Absent'">{{
        currentLanguageSet?.common?.absent
      }}</z-radio>
    </z-radio-group>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label for="fetalHeartSounds">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fetalHeartsounds
    }}</label>
    <z-radio-group
      id="fetalHeartSounds"
      name="fetalHeartSounds"
      formControlName="fetalHeartSounds"
      zOrientation="horizontal"
      (zChange)="resetFetalHeartRate($event)">
      <z-radio [value]="'Audible'">{{
        currentLanguageSet?.common?.audible
      }}</z-radio>
      <z-radio [value]="'Not Audible'">{{
        currentLanguageSet?.common?.notAudible
      }}</z-radio>
    </z-radio-group>
  </div>

  <z-form-field *ngIf="fetalHeartSounds === 'Audible'">
    <label z-form-label for="fetalHeartRate_BeatsPerMinute">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fetalHeartRate
    }}</label>
    <z-form-control>
      <z-select
        id="fetalHeartRate_BeatsPerMinute"
        class="w-full"
        name="fetalHeartRate_BeatsPerMinute"
        formControlName="fetalHeartRate_BeatsPerMinute"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
            ?.obstetric?.fetalHeartRate || ''
        ">
        <z-select-item
          *ngFor="let fetalHeartRate of selectFetalHeartRate"
          [zValue]="fetalHeartRate.name">
          {{ fetalHeartRate.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field>
    <label z-form-label for="fetalPositionOrLie">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fetalposition
    }}</label>
    <z-form-control>
      <z-select
        id="fetalPositionOrLie"
        class="w-full"
        name="fetalPositionOrLie"
        formControlName="fetalPositionOrLie"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
            ?.obstetric?.fetalposition || ''
        ">
        <z-select-item
          *ngFor="let fetalPositionOrLie of selectFetalPositionOrLie"
          [zValue]="fetalPositionOrLie.name">
          {{ fetalPositionOrLie.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field>
    <label z-form-label for="fetalPresentation">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fetalPresentation
    }}</label>
    <z-form-control>
      <z-select
        id="fetalPresentation"
        class="w-full"
        name="fetalPresentation"
        formControlName="fetalPresentation"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
            ?.obstetric?.fetalPresentation || ''
        ">
        <z-select-item
          *ngFor="let fetalPresentation of selectFetalPresentation"
          [zValue]="fetalPresentation.name">
          {{ fetalPresentation.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field>
    <label z-form-label for="abdominalScars">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.abdominalScars
    }}</label>
    <z-form-control>
      <z-select
        id="abdominalScars"
        class="w-full"
        name="abdominalScars"
        formControlName="abdominalScars"
        [zPlaceholder]="
          currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
            ?.obstetric?.abdominalScars || ''
        ">
        <z-select-item
          *ngFor="let abdominalScars of selectAbdominalScars"
          [zValue]="abdominalScars.name">
          {{ abdominalScars.name }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field class="sm:col-span-2 lg:col-span-3">
    <label z-form-label for="sfh">{{ currentLanguageSet?.sfhCms }}</label>
    <z-form-control>
      <textarea
        z-input
        id="sfh"
        rows="2"
        name="sfh"
        formControlName="sfh"
        allowText="decimal"
        allowMax="100.0"></textarea>
    </z-form-control>
  </z-form-field>

  <p class="text-right text-sm text-muted-foreground sm:col-span-2 lg:col-span-3">
    <strong class="text-foreground">{{ currentLanguageSet?.poa }} :</strong>
    {{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.periodofAmenorrhea
    }}
  </p>
</div>
