<div class="mt-5" [formGroup]="immunizationHistoryForm">
  <table
    z-table
    class="border border-border"
    formArrayName="immunizationList"
    aria-describedby="immunizationList">
    <thead z-table-header>
      <tr z-table-row>
        <th z-table-head class="w-1/6 border border-border" id="age">
          {{
            currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization?.age
          }}
        </th>
        <th z-table-head class="w-1/6 border border-border" id="Vaccines">
          {{
            currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
              ?.Vaccines
          }}
        </th>
        <th z-table-head class="w-1/6 border border-border" id="Status">
          {{
            currentLanguageSet?.historyData?.opdNCDPNCHistory?.immunization
              ?.Status
          }}
        </th>
      </tr>
    </thead>
    <tbody z-table-body>
      <ng-template
        ngFor
        let-immunization
        [ngForOf]="
          immunizationHistoryForm.controls['immunizationList']['controls']
        "
        let-i="index">
        <ng-container [formGroupName]="i">
          <tr z-table-row>
            <td
              z-table-cell
              class="border border-border align-top"
              [rowSpan]="immunization.value.vaccines.length + 1">
              {{ immunization.value.defaultReceivingAge }}
            </td>
            <td z-table-cell class="border border-border" colspan="4">
              <span class="flex items-center justify-end gap-2">
                {{ currentLanguageSet?.common?.selectAll }}
                <z-checkbox
                  [zChecked]="checkSelectALL[i]"
                  [zId]="'selectAll' + i"
                  [name]="'selectAll' + i"
                  (zCheckedChange)="selectAll({ checked: $event }, i)">
                </z-checkbox>
              </span>
            </td>
          </tr>
          <ng-container formArrayName="vaccines">
            <tr
              z-table-row
              *ngFor="
                let vaccines of immunization.controls['vaccines'].controls;
                let j = index
              ">
              <ng-container [formGroupName]="j">
                <td z-table-cell class="border border-border">
                  {{ vaccines.value.vaccine }}
                </td>
                <td z-table-cell class="border border-border">
                  <z-checkbox
                    name="status"
                    formControlName="status"></z-checkbox>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </ng-template>
    </tbody>
  </table>
</div>
