<div class="flex flex-col gap-6" [formGroup]="headToToeExaminationDataForm">
  <div class="flex flex-col gap-3 sm:flex-row sm:items-center sm:gap-6">
    <label z-form-label for="headtoToeExam">{{
      currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
        ?.headexamination
    }}</label>
    <z-radio-group
      id="headtoToeExam"
      name="headtoToeExam"
      formControlName="headtoToeExam"
      zOrientation="horizontal"
      class="gap-6"
      (zChange)="
        checkWithHeadToToe(); trackFieldInteraction('Head To Toe Exam')
      ">
      <z-radio [value]="'Normal'">{{
        currentLanguageSet?.common?.normal
      }}</z-radio>
      <z-radio [value]="'Abnormal'">{{
        currentLanguageSet?.common?.abnormal
      }}</z-radio>
    </z-radio-group>
  </div>

  <div
    *ngIf="headtoToeExam === 'Abnormal'"
    class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <z-form-field>
      <label z-form-label for="head">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.head
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="head"
          name="head"
          formControlName="head"
          maxlength="50"
          (focus)="trackFieldInteraction('Head')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="eyes">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.eyes
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="eyes"
          name="eyes"
          formControlName="eyes"
          maxlength="50"
          (focus)="trackFieldInteraction('Eyes')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="ears">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.ears
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="ears"
          name="ears"
          formControlName="ears"
          maxlength="50"
          (focus)="trackFieldInteraction('Ears')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="nose">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.nose
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="nose"
          name="nose"
          formControlName="nose"
          maxlength="50"
          (focus)="trackFieldInteraction('Nose')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="oralCavity">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.oralcavity
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="oralCavity"
          name="oralCavity"
          formControlName="oralCavity"
          maxlength="50"
          (focus)="trackFieldInteraction('Oral Cavity')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="throat">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.throat
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="throat"
          name="throat"
          formControlName="throat"
          maxlength="50"
          (focus)="trackFieldInteraction('Throat')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="breastAndNipples">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.breast
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="breastAndNipples"
          name="breastAndNipples"
          formControlName="breastAndNipples"
          maxlength="50"
          (focus)="trackFieldInteraction('Breast And Nipples')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="trunk">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.trunk
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="trunk"
          name="trunk"
          formControlName="trunk"
          maxlength="50"
          (focus)="trackFieldInteraction('Trunk')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="upperLimbs">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.upperlimbs
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="upperLimbs"
          name="upperLimbs"
          formControlName="upperLimbs"
          maxlength="50"
          (focus)="trackFieldInteraction('Upper Limbs')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="lowerLimbs">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.lowerlimbs
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="lowerLimbs"
          name="lowerLimbs"
          formControlName="lowerLimbs"
          maxlength="50"
          (focus)="trackFieldInteraction('Lower Limbs')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="skin">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.skin
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="skin"
          name="skin"
          formControlName="skin"
          maxlength="50"
          (focus)="trackFieldInteraction('Skin')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="hair">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.hairs
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="hair"
          name="hair"
          formControlName="hair"
          maxlength="50"
          (focus)="trackFieldInteraction('Hair')" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="nails">{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.headToToe
          ?.nails
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="textAreaValidator"
          defaultNull
          id="nails"
          name="nails"
          formControlName="nails"
          maxlength="50"
          (focus)="trackFieldInteraction('Nails')" />
      </z-form-control>
    </z-form-field>
  </div>
</div>
