<div class="flex flex-col gap-4 p-6">
  <div class="flex items-center justify-between gap-2">
    <p class="text-lg font-semibold text-foreground">{{ input.title }}</p>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      class="p-0"
      [zTooltip]="current_language_set?.common?.close"
      zPosition="bottom"
      aria-label="Close"
      (click)="closeDialog()">
      <ng-icon name="lucideX"></ng-icon>
    </button>
  </div>

  <z-form-field class="w-full sm:max-w-xs">
    <label z-form-label for="previous-details-search">{{
      current_language_set?.common?.inTableSearch
    }}</label>
    <z-form-control>
      <div class="relative">
        <ng-icon
          name="lucideSearch"
          size="16"
          class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-muted-foreground">
        </ng-icon>
        <input
          z-input
          id="previous-details-search"
          class="w-full bg-background pl-9"
          autocomplete="off"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterPreviousData(searchTerm)" />
      </div>
    </z-form-control>
  </z-form-field>

  <z-card class="p-0">
    <z-card-content class="p-0">
      <div class="w-full overflow-x-auto">
        <table z-table>
          <thead z-table-header>
            <tr z-table-row>
              <th z-table-head class="whitespace-nowrap">SNo</th>
              <th
                z-table-head
                class="whitespace-nowrap"
                *ngFor="let column of columnList">
                {{ column.columnName }}
              </th>
            </tr>
          </thead>
          <tbody z-table-body>
            <tr z-table-row *ngFor="let element of pagedItems">
              <td z-table-cell>
                {{ filteredDataList.indexOf(element) + 1 }}
              </td>
              <td z-table-cell *ngFor="let column of columnList">
                {{ element[column.keyName] }}
              </td>
            </tr>
            <tr z-table-row *ngIf="filteredDataList.length === 0">
              <td
                z-table-cell
                [attr.colspan]="displayedColumns.length"
                class="h-24 text-center text-muted-foreground">
                {{ current_language_set?.noRecordsFound }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </z-card-content>
  </z-card>

  <z-paginator
    [zData]="filteredDataList"
    [zRowsPerPageLabel]="current_language_set?.rowsPerPage"
    (zPagedChange)="pagedItems = $event"></z-paginator>
</div>
