<div class="flex flex-col gap-4 p-6">
  <div class="flex items-center justify-between gap-2">
    <p class="text-lg font-semibold text-foreground">{{ input.title }}</p>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      class="p-0"
      [zTooltip]="current_language_set?.common?.close"
      zPosition="bottom"
      aria-label="Close"
      (click)="closeDialog()">
      <ng-icon name="lucideX"></ng-icon>
    </button>
  </div>

  <z-form-field class="w-full sm:max-w-xs">
    <label z-form-label for="previous-details-search">{{
      current_language_set?.common?.inTableSearch
    }}</label>
    <z-form-control>
      <div class="relative">
        <ng-icon
          name="lucideSearch"
          size="16"
          class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-muted-foreground">
        </ng-icon>
        <input
          z-input
          id="previous-details-search"
          class="w-full bg-background pl-9"
          autocomplete="off"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterPreviousData(searchTerm)" />
      </div>
    </z-form-control>
  </z-form-field>

  <z-card class="p-0">
    <z-card-content class="p-0">
      <div class="w-full overflow-x-auto">
        <table z-table>
          <thead z-table-header>
            <tr z-table-row>
              <th z-table-head class="whitespace-nowrap">SNo</th>
              <th
                z-table-head
                class="whitespace-nowrap"
                *ngFor="let column of columnList">
                {{ column.columnName }}
              </th>
            </tr>
          </thead>
          <tbody z-table-body>
            <tr z-table-row *ngFor="let element of pagedList; let i = index">
              <td z-table-cell>
                {{ (currentPage - 1) * pageSize + i + 1 }}
              </td>
              <td z-table-cell *ngFor="let column of columnList">
                {{ element[column.keyName] }}
              </td>
            </tr>
            <tr z-table-row *ngIf="filteredDataList.length === 0">
              <td
                z-table-cell
                [attr.colspan]="displayedColumns.length"
                class="h-24 text-center text-muted-foreground">
                {{ current_language_set?.noRecordsFound }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </z-card-content>
  </z-card>

  <div
    class="flex flex-wrap items-center justify-end gap-4"
    *ngIf="filteredDataList.length > 0">
    <div
      class="inline-flex items-center gap-2 text-[0.8125rem] text-muted-foreground">
      <span>{{ current_language_set?.rowsPerPage }}</span>
      <z-select
        class="w-[4.5rem]"
        name="pageSize"
        [zValue]="pageSize.toString()"
        (zSelectionChange)="changePageSize($event)">
        <z-select-item
          *ngFor="let size of pageSizeOptions"
          [zValue]="size.toString()">
          {{ size }}
        </z-select-item>
      </z-select>
    </div>

    <ul z-pagination-content class="m-0">
      <li z-pagination-item>
        <button
          z-pagination-button
          [zDisabled]="currentPage === 1"
          aria-label="Previous page"
          (click)="prevPage()">
          <ng-icon name="lucideChevronLeft" size="16"></ng-icon>
        </button>
      </li>
      <li z-pagination-item *ngFor="let p of pageNumbers">
        <button
          z-pagination-button
          [zActive]="p === currentPage"
          (click)="goToPage(p)">
          {{ p }}
        </button>
      </li>
      <li z-pagination-item>
        <button
          z-pagination-button
          [zDisabled]="currentPage === totalPages"
          aria-label="Next page"
          (click)="nextPage()">
          <ng-icon name="lucideChevronRight" size="16"></ng-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
