<div class="support-wrapper">
  <form #passwordFields="ngForm" class="support-card" autocomplete="off">
    <header class="support-header">
      <img
        class="support-logo"
        src="assets/images/Swasthya.png"
        alt="Piramal Swasthya" />
      <h1 class="support-title">Account Support</h1>
      <p class="support-subtitle">
        Choose a new password to finish resetting your account
      </p>
    </header>

    <z-form-field>
      <label z-form-label zRequired for="newpwd">New Password</label>
      <z-form-control>
        <div class="password-row">
          <div class="input-affix">
            <ng-icon
              class="input-icon"
              name="lucideLock"
              size="18"
              aria-hidden="true"></ng-icon>
            <input
              z-input
              class="has-leading-icon"
              [type]="dynamictype"
              id="newpwd"
              name="newpwd"
              [(ngModel)]="newpwd"
              required
              autocomplete="off"
              placeholder="Enter new password" />
          </div>
          <button
            type="button"
            class="toggle-pwd"
            tabindex="-1"
            (click)="togglePWD()"
            [attr.aria-label]="
              dynamictype === 'text' ? 'Hide password' : 'Show password'
            "
            [attr.aria-pressed]="dynamictype === 'text'">
            <ng-icon
              [name]="dynamictype === 'text' ? 'lucideEyeOff' : 'lucideEye'"
              size="18"></ng-icon>
          </button>
        </div>
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label zRequired for="confirmpwd">Confirm Password</label>
      <z-form-control>
        <div class="password-row">
          <div class="input-affix">
            <ng-icon
              class="input-icon"
              name="lucideLock"
              size="18"
              aria-hidden="true"></ng-icon>
            <input
              z-input
              class="has-leading-icon"
              [type]="dynamictype"
              id="confirmpwd"
              name="confirmpwd"
              [(ngModel)]="confirmpwd"
              required
              autocomplete="off"
              placeholder="Re-enter new password" />
          </div>
          <button
            type="button"
            class="toggle-pwd"
            tabindex="-1"
            (click)="togglePWD()"
            [attr.aria-label]="
              dynamictype === 'text' ? 'Hide password' : 'Show password'
            "
            [attr.aria-pressed]="dynamictype === 'text'">
            <ng-icon
              [name]="dynamictype === 'text' ? 'lucideEyeOff' : 'lucideEye'"
              size="18"></ng-icon>
          </button>
        </div>
      </z-form-control>
    </z-form-field>

    <button
      z-button
      type="button"
      zType="default"
      zFull
      [disabled]="!passwordFields.valid"
      (click)="updatePassword(newpwd)">
      Change Password
    </button>
  </form>
</div>
