<div [formGroup]="perinatalHistoryForm" class="space-y-6">
  <div class="flex justify-between items-center mb-4">
    <h4 class="text-lg font-semibold text-gray-800">
      {{
        currentLanguageSet?.historyData?.Perinatalhistorydetails
          ?.previousperinatalhistory
      }}
    </h4>
    <div class="flex items-center gap-2 text-right">
      <span class="text-sm font-medium text-gray-500">
        {{
          currentLanguageSet?.historyData?.Perinatalhistorydetails
            ?.previousperinatalhistory
        }}
      </span>
      <button
        z-button
        variant="ghost"
        size="icon"
        [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
        id="previousPerinatalHistory"
        class="text-primary hover:bg-primary/10 transition-colors"
        (click)="getPreviousPerinatalHistory()">
        <ng-icon name="lucideHistory" class="text-xl"></ng-icon>
      </button>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Place of Delivery -->
    <div class="box">
      <z-form-field>
        <z-label>{{ currentLanguageSet?.pncData?.placeofDelivery }}</z-label>
        <z-select
          formControlName="placeOfDelivery"
          (selectionChange)="resetOtherPlaceOfDelivery()">
          <z-option
            *ngFor="let place of masterData?.deliveryPlaces"
            [zValue]="place">
            {{ place.deliveryPlace }}
          </z-option>
        </z-select>
      </z-form-field>
    </div>

    <!-- Other Place of Delivery -->
    <div class="box" *ngIf="placeOfDelivery?.deliveryPlace === 'Other'">
      <z-form-field>
        <z-label>{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric?.others
        }}</z-label>
        <input
          z-input
          formControlName="otherPlaceOfDelivery"
          appDefaultNull
          maxlength="50" />
      </z-form-field>
    </div>

    <!-- Type of Delivery -->
    <div class="box">
      <z-form-field>
        <z-label>{{ currentLanguageSet?.pncData?.typeofDelivery }}</z-label>
        <z-select formControlName="typeOfDelivery">
          <z-option
            *ngFor="let deliveryType of selectDeliveryTypes"
            [zValue]="deliveryType">
            {{ deliveryType.deliveryType }}
          </z-option>
        </z-select>
      </z-form-field>
    </div>

    <!-- Complication at Birth -->
    <div class="box">
      <z-form-field>
        <z-label>{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
            ?.complicationatBirth
        }}</z-label>
        <z-select
          formControlName="complicationAtBirth"
          (selectionChange)="resetOtherComplicationAtBirth()">
          <z-option
            *ngFor="let birthComplication of masterData?.birthComplications"
            [zValue]="birthComplication">
            {{ birthComplication.complicationValue }}
          </z-option>
        </z-select>
      </z-form-field>
    </div>

    <!-- Other Complication at Birth -->
    <div class="box" *ngIf="complicationAtBirth?.complicationValue === 'Other'">
      <z-form-field>
        <z-label>{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric?.others
        }}</z-label>
        <input
          z-input
          formControlName="otherComplicationAtBirth"
          appDefaultNull
          maxlength="50" />
      </z-form-field>
    </div>

    <!-- Gestation -->
    <div class="box">
      <z-form-field>
        <z-label>{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
            ?.gestation
        }}</z-label>
        <z-select formControlName="gestation">
          <z-option
            *ngFor="let gestation of masterData?.gestation"
            [zValue]="gestation.name">
            {{ gestation.name }}
          </z-option>
        </z-select>
      </z-form-field>
    </div>

    <!-- Birth Weight -->
    <div class="box">
      <z-form-field>
        <z-label>{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
            ?.birthWeight
        }}</z-label>
        <input
          z-input
          formControlName="birthWeight_kg"
          appDefaultNull
          maxlength="4"
          allowMax="6"
          (keypress)="checkWeight(birthWeight_kg)" />
      </z-form-field>
    </div>
  </div>
</div>
