<div class="flex flex-col gap-4" [formGroup]="perinatalHistoryForm">
  <div class="flex items-center justify-end gap-2">
    <span class="text-sm font-semibold text-foreground">{{
      currentLanguageSet?.historyData?.Perinatalhistorydetails
        ?.previousperinatalhistory
    }}</span>
    <button
      z-button
      zType="ghost"
      zSize="icon-sm"
      type="button"
      id="previousPerinatalHistory"
      class="text-primary"
      [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
      [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
      (click)="getPreviousPerinatalHistory()">
      <ng-icon name="lucideHistory"></ng-icon>
    </button>
  </div>

  <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field class="gap-1.5">
      <label z-form-label for="placeOfDelivery">{{
        currentLanguageSet?.pncData?.placeofDelivery
      }}</label>
      <z-form-control>
        <z-select
          class="w-full bg-background"
          id="placeOfDelivery"
          name="placeOfDelivery"
          [zValue]="placeOfDelivery?.deliveryPlace ?? ''"
          (zSelectionChange)="onPlaceOfDeliveryChange($event)">
          <z-select-item
            *ngFor="let place of masterData?.deliveryPlaces"
            [zValue]="place.deliveryPlace">
            {{ place.deliveryPlace }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="placeOfDelivery?.deliveryPlace === 'Other'">
      <label z-form-label for="otherPlaceOfDelivery">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric?.others
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          id="otherPlaceOfDelivery"
          autocomplete="off"
          appDefaultNull
          maxlength="50"
          allowText="alphabet"
          formControlName="otherPlaceOfDelivery"
          name="otherPlaceOfDelivery" />
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="typeOfDelivery">{{
        currentLanguageSet?.pncData?.typeofDelivery
      }}</label>
      <z-form-control>
        <z-select
          class="w-full bg-background"
          id="typeOfDelivery"
          name="typeOfDelivery"
          [zDisabled]="perinatalHistoryForm.get('typeOfDelivery')?.disabled"
          [zValue]="typeOfDelivery?.deliveryType ?? ''"
          (zSelectionChange)="onTypeOfDeliveryChange($event)">
          <z-select-item
            *ngFor="let deliveryType of selectDeliveryTypes"
            [zValue]="deliveryType.deliveryType">
            {{ deliveryType.deliveryType }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="complicationAtBirth">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
          ?.complicationatBirth
      }}</label>
      <z-form-control>
        <z-select
          class="w-full bg-background"
          id="complicationAtBirth"
          name="complicationAtBirth"
          [zValue]="complicationAtBirth?.complicationValue ?? ''"
          (zSelectionChange)="onComplicationAtBirthChange($event)">
          <z-select-item
            *ngFor="let birthComplication of masterData?.birthComplications"
            [zValue]="birthComplication.complicationValue">
            {{ birthComplication.complicationValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="complicationAtBirth?.complicationValue === 'Other'">
      <label z-form-label for="otherComplicationAtBirth">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric?.others
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          id="otherComplicationAtBirth"
          autocomplete="off"
          appDefaultNull
          maxlength="50"
          allowText="alphaspace"
          name="otherComplicationAtBirth"
          formControlName="otherComplicationAtBirth" />
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="gestation">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
          ?.gestation
      }}</label>
      <z-form-control>
        <z-select
          class="w-full bg-background"
          id="gestation"
          name="gestation"
          formControlName="gestation">
          <z-select-item
            *ngFor="let gestation of masterData?.gestation"
            [zValue]="gestation.name">
            {{ gestation.name }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="birthWeight_kg">{{
        currentLanguageSet?.historyData?.opdNCDPNCHistory?.perinatal_OPD
          ?.birthWeight
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          id="birthWeight_kg"
          autocomplete="off"
          appDefaultNull
          maxlength="4"
          allowText="decimal"
          name="birthWeight_kg"
          formControlName="birthWeight_kg"
          allowMax="6"
          (keypress)="checkWeight(birthWeight_kg)" />
      </z-form-control>
    </z-form-field>
  </div>
</div>
