<div [formGroup]="patientAdherenceForm" class="mt-5 flex flex-col gap-6">
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    <z-form-field class="gap-1.5">
      <label z-form-label for="toDrugs">
        {{ currentLanguageSet?.nurseData?.adherenceDetails?.drugs }}
      </label>
      <z-radio-group
        id="toDrugs"
        name="toDrugs"
        zOrientation="horizontal"
        class="gap-6"
        formControlName="toDrugs"
        (zChange)="checkDrugsDescription(toDrugs)">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </z-form-field>

    <z-form-field
      *ngIf="toDrugs !== null && !toDrugs"
      class="gap-1.5">
      <label z-form-label for="drugReason">
        {{ currentLanguageSet?.nurseData?.adherenceDetails?.reason }}
      </label>
      <z-form-control>
        <textarea
          z-input
          id="drugReason"
          class="min-h-20 w-full"
          appDefaultNull
          allowText="textAreaValidator"
          name="drugReason"
          formControlName="drugReason"
          maxlength="300"></textarea>
      </z-form-control>
    </z-form-field>
  </div>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    <z-form-field class="gap-1.5">
      <label z-form-label for="toReferral">
        {{ currentLanguageSet?.nurseData?.adherenceDetails?.referral }}
      </label>
      <z-radio-group
        id="toReferral"
        name="toReferral"
        zOrientation="horizontal"
        class="gap-6"
        formControlName="toReferral"
        (zChange)="checkReferralDescription(toReferral)">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </z-form-field>

    <z-form-field
      *ngIf="toReferral !== null && !toReferral"
      class="gap-1.5">
      <label z-form-label for="referralReason">
        {{ currentLanguageSet?.nurseData?.adherenceDetails?.reason }}
      </label>
      <z-form-control>
        <textarea
          z-input
          id="referralReason"
          class="min-h-20 w-full"
          appDefaultNull
          allowText="textAreaValidator"
          name="referralReason"
          formControlName="referralReason"
          maxlength="300"></textarea>
      </z-form-control>
    </z-form-field>
  </div>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    <z-form-field class="gap-1.5">
      <label z-form-label for="progress">
        {{ currentLanguageSet?.nurseData?.adherenceDetails?.progress }}
      </label>
      <z-form-control>
        <z-select
          class="w-full"
          id="progress"
          name="progress"
          formControlName="progress">
          <z-select-item
            *ngFor="let progress of adherenceProgressData"
            [zValue]="progress">
            {{ progress }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>
</div>
