<div [formGroup]="otherVaccinesForm" class="flex flex-col gap-4">
  <div formArrayName="otherVaccines" class="flex flex-col gap-4">
    <div class="flex items-center justify-end gap-2">
      <span class="text-sm font-semibold text-foreground">{{
        currentLanguageSet?.historyData?.Othervaccineshistory
          ?.previousothervaccineshistory
      }}</span>
      <button
        z-button
        zType="ghost"
        zSize="icon-sm"
        type="button"
        id="previousANCOtherVaccines"
        class="text-primary"
        [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
        [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
        (click)="getPreviousOtherVaccineDetails()">
        <ng-icon name="lucideHistory"></ng-icon>
      </button>
    </div>

    <div
      class="rounded-lg bg-muted/40 p-4"
      *ngFor="
        let vaccine of getOtherVaccines();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }">
      <ng-container [formGroupName]="i">
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-4">
          <z-form-field class="gap-1.5">
            <label z-form-label for="vaccineName-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.nameofVaccine
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="vaccineName-{{ i }}"
                name="vaccineName"
                [zPlaceholder]="
                  currentLanguageSet?.historyData?.opdNCDPNCHistory
                    ?.otherVaccine?.nameofVaccine || ''
                "
                [zValue]="getVaccineNameLabel(vaccine)"
                (zSelectionChange)="onVaccineNameChange($event, i, vaccine)">
                <z-select-item
                  *ngFor="let option of vaccineSelectList[i]"
                  [zValue]="option.vaccineName">
                  {{ option.vaccineName }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="vaccine.value.vaccineName?.vaccineName !== 'Other'"
            [hidden]="true">
            <label z-form-label for="sctCode-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.vaccineSctCode
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                id="sctCode-{{ i }}"
                name="sctCode"
                formControlName="sctCode"
                readonly />
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="vaccine.value.vaccineName?.vaccineName === 'Other'">
            <label z-form-label for="otherVaccineName-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.others
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                id="otherVaccineName-{{ i }}"
                autocomplete="off"
                appDefaultNull
                maxlength="50"
                allowText="alphaspace"
                name="otherVaccineName"
                formControlName="otherVaccineName" />
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="
              vaccine.value.vaccineName !== null &&
              vaccine.value.vaccineName !== ''
            ">
            <label z-form-label for="actualReceivingAge-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.ageatReceived
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                id="actualReceivingAge-{{ i }}"
                autocomplete="off"
                appDefaultNull
                maxlength="2"
                allowText="number"
                name="actualReceivingAge"
                formControlName="actualReceivingAge"
                (change)="validateAge(vaccine)" />
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="
              vaccine?.value?.actualReceivingAge !== null &&
              vaccine?.value?.actualReceivingAge !== '' &&
              vaccine.value.actualReceivingAge > 0
            ">
            <label z-form-label for="receivedFacilityName-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.facilityName
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="receivedFacilityName-{{ i }}"
                name="receivedFacilityName"
                formControlName="receivedFacilityName">
                <z-select-item [zValue]="'Govt Facility'"
                  >Govt Facility</z-select-item
                >
                <z-select-item [zValue]="'Pvt Facility'"
                  >Pvt Facility</z-select-item
                >
                <z-select-item [zValue]="'Other'">Other</z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <div class="flex items-end justify-end gap-2">
            <button
              z-button
              zType="destructive"
              zSize="icon"
              type="button"
              id="removeOtherVaccine"
              *ngIf="i !== 0 || (i === 0 && vaccine.touched)"
              [attr.aria-label]="currentLanguageSet?.common?.remove"
              (click)="removeOtherVaccine(i, vaccine)">
              <ng-icon name="lucideX"></ng-icon>
            </button>
            <button
              z-button
              zType="default"
              zSize="icon"
              type="button"
              *ngIf="isLast"
              [disabled]="checkValidity(vaccine)"
              id="addOtherVaccine"
              [attr.aria-label]="currentLanguageSet?.common?.add"
              (click)="addOtherVaccine()">
              <ng-icon name="lucidePlus"></ng-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
