<div class="mt-5" [formGroup]="patientInvestigationsForm">
  <z-form-field class="max-w-md gap-1.5">
    <label z-form-label for="laboratoryList">{{
      currentLanguageSet?.nurseData?.investigationsDetails?.laboratory
    }}</label>
    <z-form-control>
      <z-select
        class="w-full"
        id="laboratoryList"
        name="laboratoryList"
        [zMultiple]="true"
        [(ngModel)]="selectedLabIds"
        [ngModelOptions]="{ standalone: true }"
        (zSelectionChange)="onLaboratorySelectionChange($event)">
        <z-select-item
          *ngFor="let laboratary of selectLabTest"
          [zValue]="stringifyId(laboratary.procedureID)"
          [zDisabled]="canDisable(laboratary)">
          {{ laboratary.procedureName }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>
</div>
