<div class="mt-3 flex flex-col gap-3">
  <p class="text-base font-semibold tracking-tight text-foreground">
    {{ currentLanguageSet?.common?.annotatedimagereport }}
  </p>

  <div class="overflow-x-auto">
    <table
      z-table
      zType="bordered"
      class="[&_td]:border [&_td]:border-border [&_th]:border [&_th]:border-border"
      aria-describedby="annotatedimagereportTbl">
      <tbody z-table-body>
        <tr z-table-row>
          <td z-table-cell rowspan="6" class="w-1/2">
            <canvas width="250" height="250" #canvas></canvas>
          </td>
          <th z-table-head id="description">
            {{
              currentLanguageSet?.nurseData?.chiefComplaintsDetails?.description
            }}
          </th>
        </tr>
        <ng-container *ngIf="!this.annotatedMarker?.markers">
          <tr z-table-row *ngFor="let row of blankRows">
            <td z-table-cell class="w-1/2">&nbsp;</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="this.annotatedMarker?.markers">
          <tr z-table-row *ngFor="let mark of this.annotatedMarker?.markers">
            <td z-table-cell class="w-1/2">{{ mark?.description }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
