<div [formGroup]="pastHistoryForm" class="flex flex-col gap-6">
  <div formArrayName="pastIllness" class="flex flex-col gap-4">
    <div class="flex items-center justify-end gap-2">
      <span class="text-sm font-semibold text-foreground">{{
        currentLanguageSet?.historyData?.Previousillness
          ?.previousillnessandsurgery
      }}</span>
      <button
        z-button
        zType="ghost"
        zSize="icon-sm"
        type="button"
        id="previousANCPastHistory"
        class="text-primary"
        [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
        [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
        (click)="
          getPreviousPastHistory();
          trackFieldInteraction('Previous Past History Button')
        ">
        <ng-icon name="lucideHistory"></ng-icon>
      </button>
    </div>

    <p class="text-lg font-semibold tracking-tight text-foreground">
      {{
        currentLanguageSet?.historyData?.ancHistory
          ?.pastIllnessDataANC_OPD_NCD_PNC?.pastIllness
      }}
    </p>

    <div
      class="rounded-lg bg-muted/40 p-4"
      *ngFor="
        let pastIllness of getPastIllness();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }">
      <ng-container [formGroupName]="i">
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-4">
          <z-form-field class="gap-1.5">
            <label z-form-label for="illnessType-{{ i }}">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.pastIllnessDataANC_OPD_NCD_PNC?.illness
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="illnessType-{{ i }}"
                name="pastAcuteIllness"
                [zValue]="pastIllness.value.illnessType?.illnessType"
                (zSelectionChange)="
                  onIllnessTypeChange($event, i, pastIllness);
                  trackFieldInteraction('Illness')
                ">
                <z-select-item
                  *ngFor="let illness of pastIllnessSelectList[i]"
                  [zValue]="illness.illnessType">
                  {{ illness.illnessType }}</z-select-item
                >
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="pastIllness.value.illnessType?.illnessType === 'Other'">
            <label z-form-label for="otherIllnessType-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.others
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                maxlength="50"
                allowText="alphaspace"
                id="otherIllnessType-{{ i }}"
                name="otherIllnessType"
                formControlName="otherIllnessType"
                (focus)="trackFieldInteraction('Other Illness Type')" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="illnessTimePeriodAgo-{{ i }}">{{
              currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                allowText="number"
                maxlength="2"
                id="illnessTimePeriodAgo-{{ i }}"
                name="timePeriodAgo"
                formControlName="timePeriodAgo"
                (change)="validateDuration(pastIllness)"
                (focus)="trackFieldInteraction('Duration')" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="illnessTimePeriodUnit-{{ i }}">{{
              currentLanguageSet?.DurationData?.timeperiodAgo
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="illnessTimePeriodUnit-{{ i }}"
                name="timePeriodUnit"
                formControlName="timePeriodUnit"
                (zSelectionChange)="
                  validateDuration(pastIllness);
                  trackFieldInteraction('Time Period Unit')
                ">
                <z-select-item [zValue]="'Days'">Day(s)</z-select-item>
                <z-select-item [zValue]="'Weeks'">Week(s)</z-select-item>
                <z-select-item [zValue]="'Months'">Month(s)</z-select-item>
                <z-select-item [zValue]="'Years'">Year(s)</z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <div class="flex items-end justify-end gap-2">
            <button
              z-button
              zType="destructive"
              zSize="icon"
              type="button"
              *ngIf="
                i !== 0 ||
                (i === 0 && (pastIllness.touched || pastIllness.dirty))
              "
              [attr.aria-label]="currentLanguageSet?.common?.remove"
              (click)="
                removePastIllness(i, pastIllness);
                trackFieldInteraction('Remove Past Illness Button')
              ">
              <ng-icon name="lucideX"></ng-icon>
            </button>
            <button
              z-button
              zType="default"
              zSize="icon"
              type="button"
              *ngIf="isLast"
              [disabled]="checkIllnessValidity(pastIllness)"
              [attr.aria-label]="currentLanguageSet?.common?.add"
              (click)="
                addPastIllness();
                trackFieldInteraction('Add Past Illness Button')
              ">
              <ng-icon name="lucidePlus"></ng-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div formArrayName="pastSurgery" class="flex flex-col gap-4">
    <p class="text-lg font-semibold tracking-tight text-foreground">
      {{
        currentLanguageSet?.historyData?.ancHistory
          ?.pastHOSurgeryANC_OPD_NCD_PNC?.pastSurgery
      }}
    </p>

    <div
      class="rounded-lg bg-muted/40 p-4"
      *ngFor="
        let pastSurgery of getPastSurgery();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }">
      <ng-container [formGroupName]="i">
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-4">
          <z-form-field class="gap-1.5">
            <label z-form-label for="surgeryType-{{ i }}">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.pastHOSurgeryANC_OPD_NCD_PNC?.hoSurgery
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="surgeryType-{{ i }}"
                name="surgeryType"
                [zValue]="pastSurgery.value.surgeryType?.surgeryType"
                (zSelectionChange)="
                  onSurgeryTypeChange($event, i, pastSurgery);
                  trackFieldInteraction('Surgery Type')
                ">
                <z-select-item
                  *ngFor="let surgery of pastSurgerySelectList[i]"
                  [zValue]="surgery.surgeryType">
                  {{ surgery.surgeryType }}</z-select-item
                >
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="pastSurgery.value.surgeryType?.surgeryType === 'Other'">
            <label z-form-label for="otherSurgeryType-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.others
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                maxlength="50"
                allowText="alphaspace"
                id="otherSurgeryType-{{ i }}"
                name="otherSurgeryType"
                formControlName="otherSurgeryType"
                (focus)="trackFieldInteraction('Other Surgery Type')" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="surgeryTimePeriodAgo-{{ i }}">{{
              currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                allowText="number"
                maxlength="2"
                id="surgeryTimePeriodAgo-{{ i }}"
                name="timePeriodAgo"
                formControlName="timePeriodAgo"
                (change)="validateDuration(pastSurgery)"
                (focus)="trackFieldInteraction('Duration')" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="surgeryTimePeriodUnit-{{ i }}">{{
              currentLanguageSet?.DurationData?.timeperiodAgo
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="surgeryTimePeriodUnit-{{ i }}"
                name="timePeriodUnit"
                formControlName="timePeriodUnit"
                (zSelectionChange)="
                  validateDuration(pastSurgery);
                  trackFieldInteraction('Time Period Unit')
                ">
                <z-select-item [zValue]="'Days'">Day(s)</z-select-item>
                <z-select-item [zValue]="'Weeks'">Week(s)</z-select-item>
                <z-select-item [zValue]="'Months'">Month(s)</z-select-item>
                <z-select-item [zValue]="'Years'">Year(s)</z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <div class="flex items-end justify-end gap-2">
            <button
              z-button
              zType="destructive"
              zSize="icon"
              type="button"
              id="removePastSurgery"
              *ngIf="
                i !== 0 || (i === 0 && (pastSurgery.touched || pastSurgery.dirty))
              "
              [attr.aria-label]="currentLanguageSet?.common?.remove"
              (click)="
                removePastSurgery(i, pastSurgery);
                trackFieldInteraction('Remove Past Surgery Button')
              ">
              <ng-icon name="lucideX"></ng-icon>
            </button>
            <button
              z-button
              zType="default"
              zSize="icon"
              type="button"
              *ngIf="isLast"
              [disabled]="checkSurgeryValidity(pastSurgery)"
              id="addPastSurgery"
              [attr.aria-label]="currentLanguageSet?.common?.add"
              (click)="
                addPastSurgery(); trackFieldInteraction('Add Past Surgery Button')
              ">
              <ng-icon name="lucidePlus"></ng-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
