<div [formGroup]="comorbidityConcurrentConditionsForm" class="flex flex-col gap-6">
  <div
    formArrayName="comorbidityConcurrentConditionsList"
    class="flex flex-col gap-4">
    <div class="flex items-center justify-end gap-2">
      <span class="text-sm font-semibold text-foreground">{{
        currentLanguageSet?.historyData?.ancHistory?.combordityANC_OPD_NCD_PNC
          ?.PreviousDetails
      }}</span>
      <button
        z-button
        zType="ghost"
        zSize="icon-sm"
        type="button"
        id="previousANCComorbidityHistory"
        class="text-primary"
        [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
        [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
        (click)="getPreviousComorbidityHistory()">
        <ng-icon name="lucideHistory"></ng-icon>
      </button>
    </div>

    <div
      class="rounded-lg bg-muted/40 p-4"
      *ngFor="
        let comorbidityConcurrentConditions of getcomorbidityConcurrentConditions();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }">
      <ng-container [formGroupName]="i">
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-4">
          <z-form-field class="gap-1.5">
            <label z-form-label for="comorbidConditions-{{ i }}">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.combordityANC_OPD_NCD_PNC?.comorbidConditions
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="comorbidConditions-{{ i }}"
                name="comorbidConditions"
                [attr.required]="ComorbidStatus"
                [zValue]="
                  comorbidityConcurrentConditions.value.comorbidConditions
                    ?.comorbidCondition
                "
                (zSelectionChange)="
                  onComorbidConditionsChange(
                    $event,
                    i,
                    comorbidityConcurrentConditions
                  )
                ">
                <z-select-item
                  *ngFor="let comorbidCondition of comorbiditySelectList[i]"
                  [zValue]="comorbidCondition.comorbidCondition">
                  {{ comorbidCondition.comorbidCondition }}</z-select-item
                >
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="
              comorbidityConcurrentConditions.value.comorbidConditions
                ?.comorbidCondition === 'Other'
            ">
            <label z-form-label for="otherComorbidCondition-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.others
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                maxlength="50"
                allowText="alphaspace"
                id="otherComorbidCondition-{{ i }}"
                name="otherComorbidCondition"
                formControlName="otherComorbidCondition" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="comorbidTimePeriodAgo-{{ i }}">{{
              currentLanguageSet?.DurationData?.duration
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                maxlength="2"
                allowText="number"
                id="comorbidTimePeriodAgo-{{ i }}"
                name="timePeriodAgo"
                formControlName="timePeriodAgo"
                (change)="validateDuration(comorbidityConcurrentConditions)" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="comorbidTimePeriodUnit-{{ i }}">{{
              currentLanguageSet?.DurationData?.durationUnit
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="comorbidTimePeriodUnit-{{ i }}"
                name="timePeriodUnit"
                formControlName="timePeriodUnit"
                (zSelectionChange)="
                  validateDuration(comorbidityConcurrentConditions)
                ">
                <z-select-item [zValue]="'Days'">Day(s)</z-select-item>
                <z-select-item [zValue]="'Weeks'">Week(s)</z-select-item>
                <z-select-item [zValue]="'Months'">Month(s)</z-select-item>
                <z-select-item [zValue]="'Years'">Year(s)</z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <div class="flex items-end justify-end gap-2">
            <button
              z-button
              zType="destructive"
              zSize="icon"
              type="button"
              id="removeComorbidityConcurrentConditions"
              *ngIf="
                i !== 0 || (i === 0 && comorbidityConcurrentConditions.touched)
              "
              [attr.aria-label]="currentLanguageSet?.common?.remove"
              (click)="
                removeComorbidityConcurrentConditions(
                  i,
                  comorbidityConcurrentConditions
                )
              ">
              <ng-icon name="lucideX"></ng-icon>
            </button>
            <button
              z-button
              zType="default"
              zSize="icon"
              type="button"
              *ngIf="isLast"
              [disabled]="checkValidity(comorbidityConcurrentConditions)"
              id="addComorbidityConcurrentConditions"
              [attr.aria-label]="currentLanguageSet?.common?.add"
              (click)="addComorbidityConcurrentConditions()">
              <ng-icon name="lucidePlus"></ng-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
