<div
  *ngIf="!hideBack"
  class="sticky top-0 z-30 flex flex-wrap items-center justify-between gap-2 border-b border-border bg-background/95 py-3 backdrop-blur print:hidden">
  <button z-button zType="ghost" (click)="goBack()">
    <ng-icon name="lucideChevronLeft"></ng-icon>
    {{ currentLanguageSet?.common?.back }}
  </button>
  <div class="flex flex-wrap items-center gap-2">
    <button
      *ngIf="enablePrescriptionButton === true"
      z-button
      zType="outline"
      (click)="prescribeTMMedicine()">
      {{ currentLanguageSet?.casesheet?.PrescribeTmMedicine }}
    </button>
    <button
      *ngIf="!hideSelectQC"
      z-button
      zType="outline"
      (click)="selectPrintPage()">
      <ng-icon name="lucideLayoutGrid"></ng-icon>
      {{ currentLanguageSet?.casesheet?.caseComponent }}
    </button>
    <button z-button zType="default" (click)="downloadCasesheet()">
      <ng-icon name="lucidePrinter"></ng-icon>
      {{ currentLanguageSet?.casesheet?.print }}
    </button>
  </div>
</div>
<button
  *ngIf="!previous"
  z-button
  zType="default"
  zShape="circle"
  zSize="icon"
  class="fixed bottom-8 right-5 z-30 shadow-lg print:hidden"
  [zTooltip]="currentLanguageSet?.casesheet?.goTop"
  zPosition="left"
  aria-label="{{ currentLanguageSet?.casesheet?.goTop }}"
  (click)="goToTop()">
  <ng-icon name="lucideArrowUp"></ng-icon>
</button>
<div
  *ngIf="!caseSheetData"
  class="mx-auto mt-5 flex max-w-5xl flex-col gap-4 rounded-lg border border-border bg-card p-6">
  <span z-skeleton class="mx-auto size-16 rounded-full"></span>
  <span z-skeleton class="mx-auto h-5 w-48"></span>
  <div class="mt-4 flex flex-col gap-3">
    <span
      z-skeleton
      class="h-4 w-full"
      *ngFor="let r of caseSheetSkeletonRows"></span>
  </div>
</div>

<div class="mt-5 flex flex-col gap-8" *ngIf="caseSheetData">

  <app-doctor-diagnosis-case-sheet
    [printPagePreviewSelect]="printPagePreviewSelect"
    [caseSheetData]="caseSheetData"
    [previous]="previous"></app-doctor-diagnosis-case-sheet>
  <app-anc-case-sheet
    *ngIf="printPagePreviewSelect?.caseSheetANC && visitCategory === 'ANC'"
    [caseSheetData]="caseSheetData"
    [previous]="previous"></app-anc-case-sheet>
  <app-pnc-case-sheet
    *ngIf="printPagePreviewSelect?.caseSheetPNC && visitCategory === 'PNC'"
    [caseSheetData]="caseSheetData"
    [previous]="previous"></app-pnc-case-sheet>
  <app-history-case-sheet
    *ngIf="
      printPagePreviewSelect?.caseSheetHistory &&
      visitCategory !== 'General OPD (QC)'
    "
    [caseSheetData]="caseSheetData"
    [previous]="previous"></app-history-case-sheet>
  <app-examination-case-sheet
    *ngIf="
      printPagePreviewSelect?.caseSheetExamination &&
      visitCategory !== 'NCD care' &&
      visitCategory !== 'General OPD (QC)' &&
      visitCategory !== 'NCD screening' &&
      visitCategory !== 'COVID-19 Screening'
    "
    [caseSheetData]="caseSheetData"
    [previous]="previous"></app-examination-case-sheet>
</div>
