<div [formGroup]="medicationHistoryForm" class="flex flex-col gap-4">
  <div formArrayName="medicationHistoryList" class="flex flex-col gap-4">
    <div class="flex items-center justify-end gap-2">
      <span class="text-sm font-semibold text-foreground">{{
        currentLanguageSet?.historyData?.ancHistory?.medicationANC_OPD_NCD_PNC
          ?.PreviousHistory
      }}</span>
      <button
        z-button
        zType="ghost"
        zSize="icon-sm"
        type="button"
        id="previousANCMedicationHistory"
        class="text-primary"
        [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
        [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
        (click)="getPreviousMedicationHistory()">
        <ng-icon name="lucideHistory"></ng-icon>
      </button>
    </div>

    <div
      class="rounded-lg bg-muted/40 p-4"
      *ngFor="
        let medicationHistory of getMedicationHistory();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }">
      <ng-container [formGroupName]="i">
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-4">
          <z-form-field class="gap-1.5">
            <label z-form-label for="currentMedication-{{ i }}">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.medicationANC_OPD_NCD_PNC?.currentMedication
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                allowText="inputFieldValidator"
                maxlength="50"
                id="currentMedication-{{ i }}"
                formControlName="currentMedication"
                name="currentMedication"
                (input)="enableDuration(medicationHistory)" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="timePeriodAgo-{{ i }}">{{
              currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                allowText="number"
                maxlength="2"
                id="timePeriodAgo-{{ i }}"
                formControlName="timePeriodAgo"
                name="timePeriodAgo"
                (change)="validateDuration(medicationHistory)" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="timePeriodUnit-{{ i }}">{{
              currentLanguageSet?.DurationData?.durationUnit
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="timePeriodUnit-{{ i }}"
                formControlName="timePeriodUnit"
                name="timePeriodAgoUnit"
                (zSelectionChange)="validateDuration(medicationHistory)">
                <z-select-item [zValue]="'Days'">Day(s)</z-select-item>
                <z-select-item [zValue]="'Weeks'">Week(s)</z-select-item>
                <z-select-item [zValue]="'Months'">Month(s)</z-select-item>
                <z-select-item [zValue]="'Years'">Year(s)</z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <div class="flex items-end justify-end gap-2">
            <button
              z-button
              zType="destructive"
              zSize="icon"
              type="button"
              *ngIf="
                i !== 0 ||
                (i === 0 &&
                  (medicationHistory.touched || medicationHistory.dirty))
              "
              [attr.aria-label]="currentLanguageSet?.common?.remove"
              (click)="removeMedicationHistory(i, medicationHistory)">
              <ng-icon name="lucideX"></ng-icon>
            </button>
            <button
              z-button
              zType="default"
              zSize="icon"
              type="button"
              *ngIf="isLast"
              [disabled]="checkValidity(medicationHistory)"
              [attr.aria-label]="currentLanguageSet?.common?.add"
              (click)="addMedicationHistory()">
              <ng-icon name="lucidePlus"></ng-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
