<div
  [formGroup]="obstetricFormulaForm"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 pt-4">
  <!-- Gravida (G) -->
  <div *ngIf="gravidaStatus !== null && gravidaStatus !== undefined">
    <z-form-field>
      <z-label>{{ current_language_set?.casesheet?.gravida }}</z-label>
      <z-input formControlName="gravida_G" [disabled]="true" placeholder="G">
      </z-input>
    </z-form-field>
  </div>

  <!-- Term Deliveries (T) -->
  <div
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <z-form-field>
      <z-label>{{
        current_language_set?.ancData?.obstetricDeatils?.termDeliveries
      }}</z-label>
      <z-input
        formControlName="termDeliveries_T"
        allowText="number"
        maxlength="1"
        (input)="calculateGravida('termDeliveries_T')"
        placeholder="Enter term deliveries">
      </z-input>
    </z-form-field>
  </div>

  <!-- Preterm Deliveries (P) -->
  <div
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <z-form-field>
      <z-label>{{
        current_language_set?.ancData?.obstetricDeatils?.pretermDeliveries
      }}</z-label>
      <z-input
        formControlName="pretermDeliveries_P"
        allowText="number"
        maxlength="1"
        (input)="calculateGravida('pretermDeliveries_P')"
        placeholder="Enter preterm deliveries">
      </z-input>
    </z-form-field>
  </div>

  <!-- Abortions (A) -->
  <div
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <z-form-field>
      <z-label>{{
        current_language_set?.ancData?.obstetricDeatils?.abortions
      }}</z-label>
      <z-input
        formControlName="abortions_A"
        allowText="number"
        maxlength="1"
        (input)="calculateGravida('abortions_A')"
        placeholder="Enter abortions">
      </z-input>
    </z-form-field>
  </div>

  <!-- Still Birth (S) -->
  <div
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <z-form-field>
      <z-label>{{ current_language_set?.stillBirth }}</z-label>
      <z-input
        formControlName="stillBirth"
        allowText="number"
        maxlength="1"
        (input)="calculateGravida('stillBirth')"
        placeholder="Enter still births">
      </z-input>
    </z-form-field>
  </div>

  <!-- Living Children (L) -->
  <div
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <z-form-field>
      <z-label>{{
        current_language_set?.ancData?.obstetricDeatils?.livingChildren
      }}</z-label>
      <z-input
        formControlName="livebirths_L"
        allowText="number"
        maxlength="2"
        allowMax="18"
        (input)="checkLivingChildren(livebirths_L)"
        placeholder="Enter living children">
      </z-input>
    </z-form-field>
  </div>

  <!-- Blood Group -->
  <div>
    <z-form-field>
      <z-label>{{
        current_language_set?.ancData?.obstetricDeatils?.bloodGroupType
      }}</z-label>
      <z-select
        formControlName="bloodGroup"
        [disabled]="disableBloodGroup"
        placeholder="Select blood group">
        <z-option
          *ngFor="let bloodGroups of selectBloodGroupType"
          [zValue]="bloodGroups.bloodGroup">
          {{ bloodGroups.bloodGroup }}
        </z-option>
      </z-select>
    </z-form-field>
  </div>
</div>
