<div
  [formGroup]="obstetricFormulaForm"
  class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
  <z-form-field
    class="gap-1.5"
    *ngIf="
      (gravidaStatus !== null &&
        gravidaStatus !== undefined &&
        gravidaStatus) ||
      (gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus)
    ">
    <label z-form-label for="gravida_G">{{
      current_language_set?.casesheet?.gravida
    }}</label>
    <z-form-control>
      <input
        z-input
        class="w-full"
        id="gravida_G"
        autocomplete="off"
        appDefaultNull
        allowText="number"
        maxlength="2"
        name="gravida_G"
        formControlName="gravida_G"
        readonly />
    </z-form-control>
  </z-form-field>

  <z-form-field
    class="gap-1.5"
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <label z-form-label for="termDeliveries_T">{{
      current_language_set?.ancData?.obstetricDeatils?.termDeliveries
    }}</label>
    <z-form-control>
      <input
        z-input
        class="w-full"
        id="termDeliveries_T"
        autocomplete="off"
        appDefaultNull
        allowText="number"
        maxlength="1"
        name="termDeliveries_T"
        formControlName="termDeliveries_T"
        (input)="calculateGravida('termDeliveries_T')" />
    </z-form-control>
  </z-form-field>

  <z-form-field
    class="gap-1.5"
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <label z-form-label for="pretermDeliveries_P">{{
      current_language_set?.ancData?.obstetricDeatils?.pretermDeliveries
    }}</label>
    <z-form-control>
      <input
        z-input
        class="w-full"
        id="pretermDeliveries_P"
        autocomplete="off"
        appDefaultNull
        allowText="number"
        maxlength="1"
        name="pretermDeliveries_P"
        formControlName="pretermDeliveries_P"
        (input)="calculateGravida('pretermDeliveries_P')" />
    </z-form-control>
  </z-form-field>

  <z-form-field
    class="gap-1.5"
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <label z-form-label for="abortions_A">{{
      current_language_set?.ancData?.obstetricDeatils?.abortions
    }}</label>
    <z-form-control>
      <input
        z-input
        class="w-full"
        id="abortions_A"
        autocomplete="off"
        appDefaultNull
        allowText="number"
        maxlength="1"
        name="abortions_A"
        formControlName="abortions_A"
        (input)="calculateGravida('abortions_A')" />
    </z-form-control>
  </z-form-field>

  <z-form-field
    class="gap-1.5"
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <label z-form-label for="stillBirth">{{
      current_language_set?.stillBirth
    }}</label>
    <z-form-control>
      <input
        z-input
        class="w-full"
        id="stillBirth"
        autocomplete="off"
        appDefaultNull
        allowText="number"
        maxlength="1"
        name="stillBirth"
        formControlName="stillBirth"
        (input)="calculateGravida('stillBirth')" />
    </z-form-control>
  </z-form-field>

  <z-form-field
    class="gap-1.5"
    *ngIf="
      gravidaStatus !== null && gravidaStatus !== undefined && !gravidaStatus
    ">
    <label z-form-label for="livebirths_L">{{
      current_language_set?.ancData?.obstetricDeatils?.livingChildren
    }}</label>
    <z-form-control>
      <input
        z-input
        class="w-full"
        id="livebirths_L"
        autocomplete="off"
        appDefaultNull
        allowText="number"
        maxlength="2"
        allowMax="18"
        name="livebirths_L"
        formControlName="livebirths_L"
        (input)="checkLivingChildren(livebirths_L)" />
    </z-form-control>
  </z-form-field>

  <z-form-field class="gap-1.5">
    <label z-form-label for="bloodGroup">{{
      current_language_set?.ancData?.obstetricDeatils?.bloodGroupType
    }}</label>
    <z-form-control>
      <z-select
        class="w-full"
        id="bloodGroup"
        name="bloodGroup"
        formControlName="bloodGroup"
        [zDisabled]="disableBloodGroup">
        <z-select-item
          *ngFor="let bloodGroups of selectBloodGroupType"
          [zValue]="bloodGroups.bloodGroup">
          {{ bloodGroups.bloodGroup }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>
</div>
