<div [formGroup]="patientANCImmunizationForm" class="mt-5 flex flex-col gap-4">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field
      class="gap-1.5"
      *ngIf="enableTTStatus_1_2 || enableTTStatus_1_2_b">
      <label z-form-label for="tT_1Status">{{
        current_language_set?.ancData?.ancImmune?.tt1Status
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="tT_1Status"
          formControlName="tT_1Status"
          [zPlaceholder]="current_language_set?.ancData?.ancImmune?.tt1Status"
          (zSelectionChange)="checkTT_1Status(tT_1Status)">
          <z-select-item
            *ngFor="let immunizationStatus_1 of selectImmunizationStatus"
            [zValue]="immunizationStatus_1">
            {{ immunizationStatus_1 }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5" *ngIf="tT_1Status === 'Received'">
      <label z-form-label for="dateReceivedForTT_1">{{
        current_language_set?.ancData?.ancImmune?.dateReceived
      }}</label>
      <z-form-control>
        <z-date-picker
          class="w-full"
          id="dateReceivedForTT_1"
          formControlName="dateReceivedForTT_1"
          zFormat="dd/MM/yyyy"
          [placeholder]="current_language_set?.ancData?.ancImmune?.dateReceived"
          [minDate]="dob"
          [maxDate]="today"
          (dateChange)="checkTT_1Date(dateReceivedForTT_1)"></z-date-picker>
      </z-form-control>
    </z-form-field>

    <div class="flex flex-col gap-1.5" *ngIf="tT_1Status === 'Received'">
      <label z-form-label for="facilityNameOfTT_1">{{
        current_language_set?.ancData?.ancImmune?.facilityName
      }}</label>
      <z-radio-group
        id="facilityNameOfTT_1"
        formControlName="facilityNameOfTT_1"
        zOrientation="horizontal"
        class="flex-wrap gap-4">
        <z-radio value="Govt Facility">{{
          current_language_set?.ancData?.ancImmune?.govtFacility
        }}</z-radio>
        <z-radio value="Pvt Facility">{{
          current_language_set?.ancData?.ancImmune?.pvtFacility
        }}</z-radio>
      </z-radio-group>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field
      class="gap-1.5"
      *ngIf="
        (enableTTStatus_1_2 && tT_1Status !== null) ||
        (enableTTStatus_1_2_b && tT_1Status !== null)
      ">
      <label z-form-label for="tT_2Status">{{
        current_language_set?.ancData?.ancImmune?.tt2Status
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="tT_2Status"
          formControlName="tT_2Status"
          [zPlaceholder]="current_language_set?.ancData?.ancImmune?.tt2Status"
          (zSelectionChange)="checkTT_2Status(tT_2Status)">
          <z-select-item
            *ngFor="let immunizationStatus_2 of selectImmunizationStatus"
            [zValue]="immunizationStatus_2">
            {{ immunizationStatus_2 }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="
        (tT_2Status === 'Received' && enableTTStatus_1_2) ||
        (tT_2Status === 'Received' && enableTTStatus_1_2_b)
      ">
      <label z-form-label for="dateReceivedForTT_2">{{
        current_language_set?.ancData?.ancImmune?.dateReceived
      }}</label>
      <z-form-control>
        <z-date-picker
          class="w-full"
          id="dateReceivedForTT_2"
          formControlName="dateReceivedForTT_2"
          zFormat="dd/MM/yyyy"
          [placeholder]="current_language_set?.ancData?.ancImmune?.dateReceived"
          [minDate]="tT_1Date"
          [maxDate]="today"
          (dateChange)="checkTT_2Date(dateReceivedForTT_2)"></z-date-picker>
      </z-form-control>
    </z-form-field>

    <div
      class="flex flex-col gap-1.5"
      *ngIf="
        (tT_2Status === 'Received' && enableTTStatus_1_2) ||
        (tT_2Status === 'Received' && enableTTStatus_1_2_b)
      ">
      <label z-form-label for="facilityNameOfTT_2">{{
        current_language_set?.ancData?.ancImmune?.facilityName
      }}</label>
      <z-radio-group
        id="facilityNameOfTT_2"
        formControlName="facilityNameOfTT_2"
        zOrientation="horizontal"
        class="flex-wrap gap-4">
        <z-radio value="Govt Facility">{{
          current_language_set?.ancData?.ancImmune?.govtFacility
        }}</z-radio>
        <z-radio value="Pvt Facility">{{
          current_language_set?.ancData?.ancImmune?.pvtFacility
        }}</z-radio>
      </z-radio-group>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field
      class="gap-1.5"
      *ngIf="
        (enableTTStatus_1_2_b && tT_1Status !== null && tT_2Status !== null) ||
        (enableTTStatus_1_2 && tT_1Status === 'NA' && tT_2Status !== null)
      ">
      <label z-form-label for="tT_3Status">{{
        current_language_set?.ancData?.ancImmune?.ttBoosterStatus
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="tT_3Status"
          formControlName="tT_3Status"
          [zPlaceholder]="
            current_language_set?.ancData?.ancImmune?.ttBoosterStatus
          "
          (zSelectionChange)="checkTT_3Status(tT_3Status)">
          <z-select-item
            *ngFor="let immunizationStatus_3 of selectImmunizationStatus"
            [zValue]="immunizationStatus_3">
            {{ immunizationStatus_3 }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="
        (tT_3Status === 'Received' && enableTTStatus_1_2_b) ||
        (tT_3Status === 'Received' &&
          enableTTStatus_1_2 &&
          tT_1Status === 'NA' &&
          tT_2Status !== null)
      ">
      <label z-form-label for="dateReceivedForTT_3">{{
        current_language_set?.ancData?.ancImmune?.dateReceived
      }}</label>
      <z-form-control>
        <z-date-picker
          class="w-full"
          id="dateReceivedForTT_3"
          formControlName="dateReceivedForTT_3"
          zFormat="dd/MM/yyyy"
          [placeholder]="current_language_set?.ancData?.ancImmune?.dateReceived"
          [minDate]="tT_3Date"
          [maxDate]="today"></z-date-picker>
      </z-form-control>
    </z-form-field>

    <div
      class="flex flex-col gap-1.5"
      *ngIf="
        (tT_3Status === 'Received' && enableTTStatus_1_2_b) ||
        (tT_3Status === 'Received' &&
          enableTTStatus_1_2 &&
          tT_1Status === 'NA' &&
          tT_2Status !== null)
      ">
      <label z-form-label for="facilityNameOfTT_3">{{
        current_language_set?.ancData?.ancImmune?.facilityName
      }}</label>
      <z-radio-group
        id="facilityNameOfTT_3"
        formControlName="facilityNameOfTT_3"
        zOrientation="horizontal"
        class="flex-wrap gap-4">
        <z-radio value="Govt Facility">{{
          current_language_set?.ancData?.ancImmune?.govtFacility
        }}</z-radio>
        <z-radio value="Pvt Facility">{{
          current_language_set?.ancData?.ancImmune?.pvtFacility
        }}</z-radio>
      </z-radio-group>
    </div>
  </div>
</div>
