<div [formGroup]="patientCovidForm" class="mt-5 flex flex-col gap-4">
  <z-form-field *ngIf="!sympFlag" class="max-w-md gap-1.5">
    <label z-form-label for="symptom" [zRequired]="true">
      {{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.symptoms?.symptoms
      }}
    </label>
    <z-form-control>
      <z-select
        class="w-full"
        id="symptom"
        [zMultiple]="true"
        name="symptom"
        formControlName="symptom"
        (zSelectionChange)="symptomSelected()">
        <z-select-item *ngFor="let symp of symptomsList" [zValue]="symp">
          {{ symp }}
        </z-select-item>
      </z-select>
    </z-form-control>
  </z-form-field>

  <z-form-field *ngIf="sympFlag" class="max-w-md gap-1.5">
    <label z-form-label for="symptomView">
      {{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.symptoms?.symptoms
      }}
    </label>
    <z-form-control>
      <input
        z-input
        id="symptomView"
        autocomplete="off"
        class="w-full"
        [value]="covidSymptoms"
        disabled />
    </z-form-control>
  </z-form-field>
</div>
