<!-- {{cancerPatientPerosnalHistoryForm.value | json}} -->
<div
  [formGroup]="cancerPatientPerosnalHistoryForm"
  class="flex flex-col gap-6">
  <div class="flex items-center justify-end gap-2">
    <span class="text-sm font-semibold text-foreground">{{
      currentLanguageSet?.historyData?.personalhabit?.personalhabithistroy
    }}</span>
    <button
      z-button
      zType="ghost"
      zSize="icon-sm"
      type="button"
      id="PreviousCancerPersonalHabitHistory"
      class="text-primary"
      [zTooltip]="
        currentLanguageSet?.alerts?.previousHistoryDetailsAlert?.previousHabit
      "
      [attr.aria-label]="
        currentLanguageSet?.alerts?.previousHistoryDetailsAlert?.previousHabit
      "
      (click)="getPreviousCancerPersonalHabitHistory()">
      <ng-icon name="lucideHistory"></ng-icon>
    </button>
  </div>

  <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field class="gap-1.5">
      <label z-form-label for="tobaccoUse">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.tobaccoUse
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="tobaccoUse"
          name="tobaccoUse"
          formControlName="tobaccoUse"
          (slectionChange)="checkTobaccoUseStatus(tobaccoUse)">
          <z-select-item
            *ngFor="let tobaccousage of templateTobaccoUseStatus"
            [zValue]="tobaccousage.habitValue">
            {{ tobaccousage.habitValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="tobaccoUse && tobaccoUse !== 'Never Used'">
      <label z-form-label for="startAge_year">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.startAge
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          maxlength="3"
          id="startAge_year"
          name="startAge_year"
          formControlName="startAge_year"
          (change)="checkStartAge($event)" />
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="
        tobaccoUse &&
        tobaccoUse !== 'Never Used' &&
        tobaccoUse !== 'Currently Using'
      ">
      <label z-form-label for="endAge_year">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.stopAge
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          maxlength="3"
          id="endAge_year"
          name="endAge_year"
          formControlName="endAge_year"
          (change)="checkStopAge($event)" />
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="tobaccoUse && tobaccoUse !== 'Never Used'">
      <label z-form-label for="typeOfTobaccoProductList">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.typeofTobaccoProductsused
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="typeOfTobaccoProductList"
          [zMultiple]="true"
          name="typeOfTobaccoProductList"
          formControlName="typeOfTobaccoProductList"
          (slectionChange)="tobaccoSelected()">
          <z-select-item
            *ngFor="let typeOfTobaccoProducts of templateTobaccoProductUsed"
            [zValue]="typeOfTobaccoProducts.habitValue">
            {{ typeOfTobaccoProducts.habitValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5" *ngIf="doSmokeCigarettes || doSmokeBeedi">
      <label z-form-label for="quantityPerDay">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.cigarettes
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          maxlength="2"
          id="quantityPerDay"
          name="quantityPerDay"
          formControlName="quantityPerDay" />
      </z-form-control>
    </z-form-field>

    <div class="flex flex-col gap-1.5" *ngIf="doSmokeCigarettes">
      <label z-form-label for="isFilteredCigaerette">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.cigarette
      }}</label>
      <z-radio-group
        id="isFilteredCigaerette"
        name="isFilteredCigaerette"
        formControlName="isFilteredCigaerette"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{
          currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
            ?.filtered
        }}</z-radio>
        <z-radio [value]="false">{{
          currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
            ?.nonFiltered
        }}</z-radio>
      </z-radio-group>
    </div>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isCigaretteExposure">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.exposuretoSecondHandsmoke
      }}</label>
      <z-radio-group
        id="isCigaretteExposure"
        name="isCigaretteExposure"
        formControlName="isCigaretteExposure"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isBetelNutChewing">
        {{
          currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
            ?.habitofBetelnutchewing
        }}
      </label>
      <z-radio-group
        id="isBetelNutChewing"
        name="isBetelNutChewing"
        formControlName="isBetelNutChewing"
        zOrientation="horizontal"
        class="flex-wrap gap-6"
        (zChange)="checkBetelQuid()">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field class="gap-1.5" *ngIf="isBetelNutChewing">
      <label z-form-label for="durationOfBetelQuid">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.durationofbetelquidinmouth
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          [min]="1"
          allowText="number"
          maxlength="2"
          id="durationOfBetelQuid"
          name="durationOfBetelQuid"
          formControlName="durationOfBetelQuid"
          (keypress)="minimumvaluenonZeroBetelQuid($event)"
          (change)="minimumvaluenonZeroBetelQuid($event)"
          (focus)="minimumvaluenonZeroBetelQuid($event)" />
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="alcoholUse">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.alcoholuse
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="alcoholUse"
          name="alcoholUse"
          formControlName="alcoholUse"
          (zSelectionChange)="checkUsageOfAlcohol()">
          <z-select-item
            *ngFor="let alcoholUsage of templateAlcoholUseStatus"
            [zValue]="alcoholUsage.habitValue">
            {{ alcoholUsage.habitValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <div
      class="flex flex-col gap-1.5"
      *ngIf="alcoholUse && alcoholUse !== 'Never Used'">
      <label z-form-label for="ssAlcoholUsed">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.alcoholconsumed
      }}</label>
      <z-radio-group
        id="ssAlcoholUsed"
        name="ssAlcoholUsed"
        formControlName="ssAlcoholUsed"
        zOrientation="horizontal"
        class="flex-wrap gap-6"
        (zChange)="checkLastAlcoholUsage()">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field
      class="gap-1.5"
      *ngIf="alcoholUse && alcoholUse !== 'Never Used' && ssAlcoholUsed">
      <label z-form-label for="frequencyOfAlcoholUsed">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.frequency
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="frequencyOfAlcoholUsed"
          name="frequencyOfAlcoholUsed"
          formControlName="frequencyOfAlcoholUsed">
          <z-select-item
            *ngFor="let frequencyOfAlcoholIntake of templateFrequecyOfAlcohol"
            [zValue]="frequencyOfAlcoholIntake.habitValue">
            {{ frequencyOfAlcoholIntake.habitValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>

  <div class="flex items-center justify-end gap-2">
    <span class="text-sm font-semibold text-foreground">{{
      currentLanguageSet?.historyData?.personalhistory?.personaldiethistory
    }}</span>
    <button
      z-button
      zType="ghost"
      zSize="icon-sm"
      type="button"
      id="previousCancerPersonalDietHistory"
      class="text-primary"
      [zTooltip]="
        currentLanguageSet?.alerts?.previousHistoryDetailsAlert?.previousDiet
      "
      [attr.aria-label]="
        currentLanguageSet?.alerts?.previousHistoryDetailsAlert?.previousDiet
      "
      (click)="getPreviousCancerPersonalDietHistory()">
      <ng-icon name="lucideHistory"></ng-icon>
    </button>
  </div>

  <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
    <z-form-field class="gap-1.5">
      <label z-form-label for="dietType">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.dietType
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="dietType"
          name="dietType"
          formControlName="dietType">
          <z-select-item
            *ngFor="let diet of templateDietTypes"
            [zValue]="diet.habitValue">
            {{ diet.habitValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="intakeOfOutsidePreparedMeal">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.weeklyintakeofOutsidemeal
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number "
          maxlength="2 "
          id="intakeOfOutsidePreparedMeal"
          name="intakeOfOutsidePreparedMeal"
          formControlName="intakeOfOutsidePreparedMeal" />
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="fruitConsumptionDays">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.fruitconsumption
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number "
          (keypress)="preventFruitConsumption($event)"
          (change)="checkFruitConsumption()"
          maxlength="1"
          id="fruitConsumptionDays"
          name="fruitConsumptionDays"
          formControlName="fruitConsumptionDays" />
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="fruitConsumptionDays && fruitConsumptionDays !== '0'">
      <label z-form-label for="fruitQuantityPerDay">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.quantityconsumed
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number "
          (change)="fruitConsumptionPerDayCheck($event)"
          maxlength="2"
          id="fruitQuantityPerDay"
          name="fruitQuantityPerDay"
          formControlName="fruitQuantityPerDay" />
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="vegetableConsumptionDays">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.vegetableconsumption
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number "
          (keypress)="preventVegetableConsumption($event)"
          (change)="checkVegetableConsumption()"
          maxlength="1 "
          id="vegetableConsumptionDays"
          name="vegetableConsumptionDays"
          formControlName="vegetableConsumptionDays" />
      </z-form-control>
    </z-form-field>

    <z-form-field
      class="gap-1.5"
      *ngIf="vegetableConsumptionDays && vegetableConsumptionDays !== '0'">
      <label z-form-label for="vegetableQuantityPerDay">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.quantityconsumed
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number "
          (change)="vegetableConsumptionPerDayCheck($event)"
          maxlength="2 "
          id="vegetableQuantityPerDay"
          name="vegetableQuantityPerDay"
          formControlName="vegetableQuantityPerDay" />
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="typeOfOilConsumedList">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.typeofoilconsumed
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="typeOfOilConsumedList"
          [zMultiple]="true"
          (zSelectionChange)="oilSelected()"
          name="typeOfOilConsumedList"
          formControlName="typeOfOilConsumedList">
          <z-select-item
            *ngFor="let oil of templateOilConsumed"
            [zValue]="oil.habitValue">
            {{ oil.habitValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label for="physicalActivityType">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.physicalActivityType
      }}</label>
      <z-form-control>
        <z-select
          class="w-full"
          id="physicalActivityType"
          name="physicalActivityType"
          formControlName="physicalActivityType">
          <z-select-item
            *ngFor="let activity of templatePhysicalActivityType"
            [zValue]="activity.habitValue">
            {{ activity.habitValue }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="ssRadiationExposure">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.historyofexposuretoradiation
      }}</label>
      <z-radio-group
        id="ssRadiationExposure"
        name="ssRadiationExposure"
        formControlName="ssRadiationExposure"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div class="flex flex-col gap-1.5">
      <label z-form-label for="isThyroidDisorder">{{
        currentLanguageSet?.historyData?.personalhistory
          ?.historyofanythyroiddisorder
      }}</label>
      <z-radio-group
        id="isThyroidDisorder"
        name="isThyroidDisorder"
        formControlName="isThyroidDisorder"
        zOrientation="horizontal"
        class="flex-wrap gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>
  </div>
</div>
