<div
  class="mt-4 flex flex-col gap-6 md:flex-row"
  [formGroup]="breastExaminationForm">
  <div class="flex flex-col gap-4 md:w-7/12">
    <div
      *ngIf="female"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.everbreastfedachild
        }}
      </span>
      <z-radio-group
        name="everBreastFed"
        formControlName="everBreastFed"
        zOrientation="horizontal"
        (zChange)="checkBreastFeed()">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      *ngIf="everBreastFed && everBreastFed.value"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.durationofbreastfeeding
        }}
      </span>
      <z-radio-group
        name="breastFeedingDurationGTE6months"
        id="breastFeedingDurationGTE6months"
        formControlName="breastFeedingDurationGTE6months"
        zOrientation="horizontal">
        <z-radio [value]="true">{{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.less6months
        }}</z-radio>
        <z-radio [value]="false">{{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.greater6months
        }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.breastsappearnormal
        }}
      </span>
      <z-radio-group
        name="breastsAppear_Normal"
        formControlName="breastsAppear_Normal"
        zOrientation="horizontal">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.anyrashonthebreast
        }}
      </span>
      <z-radio-group
        name="rashOnBreast"
        formControlName="rashOnBreast"
        zOrientation="horizontal">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.anydimplingofskinonthebreast
        }}
      </span>
      <z-radio-group
        name="dimplingSkinOnBreast"
        formControlName="dimplingSkinOnBreast"
        zOrientation="horizontal">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.anydischargefromthenipple
        }}
      </span>
      <z-radio-group
        name="dischargeFromNipple"
        formControlName="dischargeFromNipple"
        zOrientation="horizontal">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.peaudorange
        }}
      </span>
      <z-radio-group
        name="peaudOrange"
        formControlName="peaudOrange"
        zOrientation="horizontal">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.anylumpinbreast
        }}
      </span>
      <z-radio-group
        name="lumpInBreast"
        formControlName="lumpInBreast"
        zOrientation="horizontal"
        (zChange)="checkLump()">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <z-form-field *ngIf="lumpInBreast && lumpInBreast.value">
      <label z-form-label for="lumpSize">{{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.breast
          ?.lumpSize
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="inputFieldValidator"
          defaultNull
          maxlength="100"
          name="lumpSize"
          id="lumpSize"
          formControlName="lumpSize" />
      </z-form-control>
    </z-form-field>

    <z-form-field *ngIf="lumpInBreast && lumpInBreast.value">
      <label z-form-label for="lumpShape">{{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.breast
          ?.lumpShape
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="inputFieldValidator"
          defaultNull
          maxlength="100"
          name="lumpShape"
          id="lumpShape"
          formControlName="lumpShape" />
      </z-form-control>
    </z-form-field>

    <z-form-field *ngIf="lumpInBreast && lumpInBreast.value">
      <label z-form-label for="lumpTexture">{{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.breast
          ?.lumpTexture
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          allowText="inputFieldValidator"
          defaultNull
          maxlength="100"
          name="lumpTexture"
          id="lumpTexture"
          formControlName="lumpTexture" />
      </z-form-control>
    </z-form-field>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <span class="text-sm font-medium text-foreground">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.breast?.referredtoMammogram
        }}
      </span>
      <z-radio-group
        name="referredToMammogram"
        formControlName="referredToMammogram"
        zOrientation="horizontal">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>
  </div>

  <div class="md:w-5/12">
    <div class="flex flex-col items-center text-center">
      <small class="text-muted-foreground">{{
        currentLanguageSet?.common?.kindlyMark
      }}</small>
      <!-- eslint-disable-next-line  @angular-eslint/template/click-events-have-key-events -->
      <a
        (click)="annotateImage()"
        tabindex="{0}"
        id="annotateBreastImg"
        class="mt-1 inline-block cursor-pointer">
        <img
          #breastsImage
          src="assets/images/breastExamination.png"
          alt="breast examination"
          class="h-48 w-48 max-w-full" />
      </a>
    </div>
  </div>
</div>
