<app-header [showRoles]="false"></app-header>

<div class="flex min-h-[calc(100svh-4rem)] items-center justify-center px-4">
  <z-card class="w-full max-w-xl gap-3 py-4">
    <z-card-header class="flex flex-col items-center gap-1 text-center">
      <img
        class="h-8 w-auto"
        src="assets/images/Swasthya.png"
        alt="Piramal Swasthya" />
      <z-card-title>{{
        currentLanguageSet?.servicePoint || 'Service Point'
      }}</z-card-title>
    </z-card-header>

    <z-card-content>
      <form [formGroup]="servicePointForm" class="flex flex-col gap-4">
        <!-- Service Type -->
        <div class="flex flex-col gap-1.5">
          <label z-form-label>{{ currentLanguageSet?.serviceType }}</label>
          <z-radio-group
            formControlName="sessionID"
            zOrientation="horizontal"
            class="flex-wrap gap-4"
            (zChange)="filterVansList(); trackFieldInteraction('Service Type')">
            <label
              z-radio
              *ngFor="let session of sessionsList"
              [value]="session.sessionID">
              {{ session.sessionName }}
            </label>
          </z-radio-group>
        </div>

        <div class="flex flex-col gap-4">
          <!-- Van -->
          <z-form-field class="gap-1">
          <label z-form-label zRequired>{{ currentLanguageSet?.van }}</label>
          <z-form-control>
            <z-select
              class="w-full"
              name="vanID"
              formControlName="vanID"
              [zPlaceholder]="currentLanguageSet?.van || 'Van'"
              (zSelectionChange)="
                coerceNumber('vanID', $event);
                filterServicePointsList();
                trackFieldInteraction('Van')
              ">
              <z-select-item
                *ngFor="let van of vansList"
                [zValue]="van.vanID.toString()">
                {{ van.vanNoAndType }}
              </z-select-item>
            </z-select>
          </z-form-control>
        </z-form-field>

        <!-- Service Point name -->
        <z-form-field class="gap-1">
          <label z-form-label zRequired>{{
            currentLanguageSet?.casesheet?.servicePoint
          }}</label>
          <z-form-control>
            <z-combobox
              formControlName="servicePointName"
              [zOptions]="servicePointsList"
              zLabelKey="servicePointName"
              zValueKey="servicePointName"
              [zPlaceholder]="
                currentLanguageSet?.casesheet?.servicePoint || 'Service Point'
              " />
          </z-form-control>
        </z-form-field>

        <!-- District / Town / City -->
        <z-form-field class="gap-1">
          <label z-form-label zRequired>{{
            currentLanguageSet?.ro?.locInfo?.districtTownCity
          }}</label>
          <z-form-control>
            <z-select
              class="w-full"
              name="districtID"
              formControlName="districtID"
              [zPlaceholder]="
                currentLanguageSet?.ro?.locInfo?.districtTownCity || 'District'
              "
              (zSelectionChange)="
                coerceNumber('districtID', $event);
                fetchSubDistrictsOnDistrictSelection(
                  servicePointForm.controls.districtID.value
                );
                trackFieldInteraction('District')
              ">
              <z-select-item
                *ngFor="let district of districtList"
                [zValue]="district.districtID.toString()">
                {{ district.districtName }}
              </z-select-item>
            </z-select>
          </z-form-control>
        </z-form-field>

        <!-- Taluk -->
        <z-form-field class="gap-1">
          <label z-form-label zRequired>{{
            currentLanguageSet?.ro?.locInfo?.taluk
          }}</label>
          <z-form-control>
            <z-select
              class="w-full"
              name="blockID"
              formControlName="blockID"
              [zPlaceholder]="currentLanguageSet?.ro?.locInfo?.taluk || 'Taluk'"
              (zSelectionChange)="
                coerceNumber('blockID', $event);
                onSubDistrictChange(servicePointForm.controls.blockID.value);
                trackFieldInteraction('Taluk')
              ">
              <z-select-item
                *ngFor="let taluk of subDistrictList"
                [zValue]="taluk.blockID.toString()">
                {{ taluk.blockName }}
              </z-select-item>
            </z-select>
          </z-form-control>
        </z-form-field>

          <!-- Street -->
          <z-form-field class="gap-1">
            <label z-form-label zRequired>{{
              currentLanguageSet?.ro?.locInfo?.street
            }}</label>
          <z-form-control>
            <z-select
              class="w-full"
              name="districtBranchID"
              formControlName="districtBranchID"
              [zPlaceholder]="
                currentLanguageSet?.ro?.locInfo?.street || 'Street'
              "
              (zSelectionChange)="
                coerceNumber('districtBranchID', $event);
                onDistrictBranchSelection(
                  servicePointForm.controls.districtBranchID.value
                );
                trackFieldInteraction('Street')
              ">
              <z-select-item
                *ngFor="let street of villageList"
                [zValue]="street.districtBranchID.toString()">
                {{ street.villageName }}
              </z-select-item>
            </z-select>
          </z-form-control>
          </z-form-field>
        </div>

        <div class="flex justify-end pt-1">
          <button
            z-button
            type="button"
            [disabled]="!servicePointForm.valid"
            (click)="
              saveLocationDataToStorage();
              trackFieldInteraction('Continue Button')
            ">
            {{ currentLanguageSet?.spoke_selection?.continue }}
          </button>
        </div>
      </form>
    </z-card-content>
  </z-card>
</div>

<app-footer></app-footer>
