<div
  [formGroup]="cancerPatientFamilyMedicalHistoryForm"
  class="flex flex-col gap-4">
  <div class="flex items-center justify-end gap-2">
    <span class="text-sm font-semibold text-foreground">{{
      currentLanguageSet?.alerts?.info?.familyDisease
    }}</span>
    <button
      z-button
      zType="ghost"
      zSize="icon-sm"
      type="button"
      id="previousCancerFamilyHistory"
      class="text-primary"
      [zTooltip]="currentLanguageSet?.DurationData?.previousDetails"
      [attr.aria-label]="currentLanguageSet?.DurationData?.previousDetails"
      (click)="getPreviousCancerFamilyHistory()">
      <ng-icon name="lucideHistory"></ng-icon>
    </button>
  </div>

  <div formArrayName="diseases" class="flex flex-col gap-4">
    <div
      class="rounded-lg bg-muted/40 p-4"
      *ngFor="
        let disease of getDiseases();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }">
      <ng-container [formGroupName]="i">
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-4">
          <z-form-field class="gap-1.5">
            <label z-form-label for="cancerDiseaseType-{{ i }}">{{
              currentLanguageSet?.historyData?.cancerScreeningHistory
                ?.familyMedical?.diseaseType
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="cancerDiseaseType-{{ i }}"
                name="cancerDiseaseType"
                [zValue]="disease.value?.cancerDiseaseType?.cancerDiseaseType"
                (zSelectionChange)="
                  onCancerDiseaseTypeChange($event, i, disease)
                ">
                <z-select-item
                  *ngFor="let cancerDisease of temp[i]?.diseaseType"
                  [zValue]="cancerDisease.cancerDiseaseType">
                  {{ cancerDisease.cancerDiseaseType }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <z-form-field
            class="gap-1.5"
            *ngIf="
              disease.value?.cancerDiseaseType?.cancerDiseaseType ===
              'Any other Cancer'
            ">
            <label z-form-label for="otherDiseaseType-{{ i }}">{{
              currentLanguageSet?.historyData?.cancerScreeningHistory
                ?.familyMedical?.otherCancerDetails
            }}</label>
            <z-form-control>
              <input
                z-input
                id="otherDiseaseType-{{ i }}"
                class="w-full bg-background"
                autocomplete="off"
                appDefaultNull
                name="otherDiseaseType"
                formControlName="otherDiseaseType"
                allowText="alphaspace"
                maxlength="25" />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5" [hidden]="true">
            <label z-form-label for="snomedCode-{{ i }}">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.sctCode
            }}</label>
            <z-form-control>
              <input
                z-input
                class="w-full bg-background"
                maxlength="100"
                id="snomedCode-{{ i }}"
                formControlName="snomedCode"
                readonly />
            </z-form-control>
          </z-form-field>

          <z-form-field class="gap-1.5">
            <label z-form-label for="familyMemberList-{{ i }}">{{
              currentLanguageSet?.historyData?.cancerScreeningHistory
                ?.familyMedical?.familyMembers
            }}</label>
            <z-form-control>
              <z-select
                class="w-full bg-background"
                id="familyMemberList-{{ i }}"
                name="familyMemberList"
                formControlName="familyMemberList"
                [zMultiple]="true">
                <z-select-item
                  *ngFor="let familyMembers of temp[i]?.familyMembers"
                  [zValue]="familyMembers.benRelationshipType">
                  {{ familyMembers.benRelationshipType }}
                </z-select-item>
              </z-select>
            </z-form-control>
          </z-form-field>

          <div class="flex items-end justify-end gap-2">
            <button
              z-button
              zType="destructive"
              zSize="icon"
              type="button"
              id="removeDisease"
              *ngIf="i !== 0 || (i === 0 && !disease.untouched)"
              [attr.aria-label]="currentLanguageSet?.common?.delete"
              (click)="removeDisease(i, disease)">
              <ng-icon name="lucideX"></ng-icon>
            </button>
            <button
              z-button
              zType="default"
              zSize="icon"
              type="button"
              *ngIf="isLast"
              id="addFamilyDisease"
              [disabled]="checkValidity(disease)"
              [attr.aria-label]="currentLanguageSet?.common?.add"
              (click)="addFamilyDisease()">
              <ng-icon name="lucidePlus"></ng-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
